[2021-04-14 02:16] SteveMacenski commented on #650
Please read the documentation -- this is answered in the large body of documentation available

[2021-04-14 02:16] #650 closed, assigned to ayrton04

[2021-04-14 02:17] miku54 commented on #650
my  ekf config file is:
`### ekf config file ###
ekf_filter_node:
    ros__parameters:
# The frequency, in Hz, at which the filter will output a position estimate. Note that the filter will not begin
# computation until it receives at least one message from one of the inputs. It will then run continuously at the
# frequency specified here, regardless of whether it receives more measurements. Defau

[2021-04-14 02:22] miku54 commented on #650
I read most of forums posts on ROS.org <http://ros.org/> but cannot find
explicit answer to my concerns

Steve Macenski ***@***.***> 于2021年4月14日周三 上午10:16写道：

[2021-04-14 08:17] TZVIh opened #651 "using world frame as earth"
Hi, I am using robot localization for my robot.

I have two filters, one for Odom->baselink and one for map->odom

The map topic is from a SLAM node.

In my system, I have a world frame that represents a shared map.

I have a static tf publisher for world->map

I want that the output of the filter will be on the world frame.

I changed the configuration to be like this:

            map_frame: map

[2021-04-14 08:27] ayrton04 commented on #651
Thanks for the question. However, I ask that all questions be asked on answers.ros.org. If you have already asked there, then I will answer as soon as I can.

[2021-04-14 08:27] #651 closed, assigned to nobody

[2021-04-14 08:27] ayrton04 commented on #642
Thanks for the question. However, I ask that all questions be asked on answers.ros.org. If you have already asked there, then I will answer as soon as I can.

[2021-04-14 08:27] #642 closed, assigned to ayrton04

[2021-04-14 08:28] #574 closed, assigned to ayrton04

[2021-04-14 08:29] #504 closed, assigned to nobody

[2021-04-14 10:26] TZVIh commented on #651
I am sorry for my misunderstanding.
I opened on answer.ros.org
https://answers.ros.org/question/376102/robot-localization-using-world-frame/

Thanks!

[2021-04-19 17:39] sisaha9 opened #653 "ROS2 Foxy Documentation"
Is there a ROS2 specific documentation? The current one is set for ROS1 and while still great, it would be nice to know things like ekf_node instead of ekf_localization_node and such

[2021-04-20 06:07] sisaha9 opened #654 "ROS2 Foxy Writing Client Node for fromLL"
Are there any examples of client files interacting with the fromLL service provided (preferably Python)? I have a CSV of GPS coordinates that I want to translate into XYZ coordinates. Any guidance would be greatly appreciated

[2021-04-21 14:19] JackRen88 opened #655 "Integration of wheel odometer and imu"
Hello,for Integration of wheel odometer and imu,how should I set up robot_localization packages?

[2021-04-21 14:39] SteveMacenski commented on #655
Please see documentation or look at ROS Answers.

[2021-04-21 14:39] #655 closed, assigned to nobody

[2021-04-24 05:20] zeelbhatt commented on #245
I installed all dependencies using `rosdep install --from-paths src --ignore-src`

but still have same problem

[2021-04-29 03:50] r0gi opened #656 "navsat_transform_node /fromLL service incorrect output"
## Bug report

**Required Info:**

Operating System: Ubuntu 20.04.2 LTS
Apt Package: ros-noetic-robot-localization
Version: 2.7.1-1focal.20210126.131257
APT-Sources: http://packages.ros.org/ros/ubuntu focal/main amd64 Packages

#### Steps to reproduce issue
Launch navsat_transform_node:
[code]
Publish to GPS topic to establish map -> utm transform: (assuming robot is publishing valid imu etc. alre

[2021-04-29 06:41] Timple commented on #656
I've rewritten a lot of these conversions last week. They are not in the binaries yet.
Would you mind checking if the problem reproduces if you build from source? (`noetic-devel` branch)

[2021-04-29 21:34] r0gi commented on #656
I actually made the mistake of cloning the repo and going over the source code, but using the apt release to test the service calls.

Testing the package after building from source:
[code]
[code]
I assume the error comes from the UTM transform itself within the geographiclib and can't be improved. In any case it's good enough for my use case. Thank you!

[2021-04-29 21:35] #656 closed, assigned to ayrton04

[2021-05-01 23:08] technixol commented on #607
I also have the same issue. Was this ever resolved?

[2021-05-01 23:13] technixol commented on #607
I solved the issue by adding these lines in my cmake:

set(CMAKE_CXX_STANDARD 14)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_CXX_EXTENSIONS OFF)

Even though my CMake too printed "-std=c++14" as the message output, I still had issues until I added these lines. This may not be an efficient solution for everyone, but it caused the package to successfully build so maybe it helps considering the EO

[2021-05-03 19:01] sisaha9 opened #658 "ROS2 Foxy /fromLL giving all 0s"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Binaries

#### Steps to reproduce issue
- Run navsat_transform node to set up fromLL and toLL services
- In a terminal type:
[code]
- Then type:
[code]

#### Expected behavior
One of the coordinates change due to the changed latitude

#### Actual behavior
All of X, Y and Z stay at 0

[code]

[code]

##

[2021-05-03 19:01] #654 closed, assigned to nobody

[2021-05-03 19:02] #653 closed, assigned to nobody

[2021-05-04 01:19] sisaha9 commented on #658
Just noticed another issue which could help with this. When running the navsat transform node I do not see any information being outputted in the topics /gps/filtered and /odometry/gps

[2021-05-04 01:31] sisaha9 commented on #658
I realized the issue. It's no longer imu/data but imu that needs to be remapped. I was following a ROS 1 tutorial that had it set to imu/data instead. Was not aware it was updated

[2021-05-04 01:31] #658 closed, assigned to ayrton04

[2021-05-04 12:04] quangvu16 opened #659 "Integrate Visual Odometry to Robot Localization"
I watch the document. It showed that![image](https://user-images.githubusercontent.com/68116625/117000364-28760200-ad0b-11eb-9705-f32875ea28c7.jpeg)

Robot localization integrates Visual Odometry, IMU, GPS, wheel encoders.

Please help me know how to adjust my file (based on Alex's github) to integrate Visual Odometry from Microsoft Kinect 1 dept camera.

https://github.com/alex-makarov/robaka-ros

[2021-05-04 16:04] ayrton04 commented on #659
Hi there,

Thanks for the question. However, we ask that all questions be asked on answers.ros.org.

Thanks!

[2021-05-04 16:04] #659 closed, assigned to nobody

[2021-05-10 02:29] sisaha9 opened #660 "ROS2 Foxy Warning: Invalid frame ID "imu" passed to canTransform argument source frame ~ frame does not exist"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Binaries ROS2 Foxy
- Version or commit hash:
  -

#### Steps to reproduce issue
Use the dual ekf configuration here: https://github.com/cra-ros-pkg/robot_localization/blob/foxy-devel/launch/dual_ekf_navsat_example.launch.py . But with all the imu/data replaced with imu as per #658 and the other raw sen

[2021-05-10 06:50] ayrton04 commented on #660
If you look where the warnings are coming from:

[code]

That's happening at the level of `tf2` itself. It's complaining that it doesn't know about those frames. The fact that the warning goes away means those transforms eventually _are_ present. This suggests to me some kind of lifecycle issue. Are you sure the robot state publisher is completely launched _before_ `navsat_transform_node`? And has

[2021-05-11 07:07] sisaha9 commented on #660
I see. That is likely the issue. Will try that. Thanks!

[2021-05-11 07:07] #660 closed, assigned to ayrton04

[2021-05-12 09:14] SystemDiagnosticss commented on #644
@rakshith95 Are you solved?

[2021-05-12 10:32] rakshith95 commented on #644
@SystemDiagnosticss yeah I was able to solve this. I got the answer from my [post](https://answers.ros.org/question/375480/warnings-with-base_link-in-namespace-for-robot_localization/) on ROS answers.

[2021-05-14 21:24] technixol opened #661 "robot_localization: navsat_transform_node runtime error"
## Bug report

When attempting to run the navsat_transform_node from a cloned foxy-devel the following output is received and the node crashes:

_terminate called after throwing an instance of 'rclcpp::exceptions::ParameterAlreadyDeclaredException'
what(): parameter 'broadcast_utm_transform' has already been declared_

**Required Info:**

**- Operating System:**
Ubuntu 20.04.2 LTS

**- Installatio

[2021-05-15 00:01] SteveMacenski commented on #661
A PR would be appreciated, sounds like something was accidentally declared twice

[2021-05-20 18:23] SteveMacenski commented on #607
Closing - eloquent is EOL

[2021-05-20 18:23] #607 closed, assigned to ayrton04

[2021-05-20 18:25] SteveMacenski commented on #606
closing - this is unlikely to ever be merged into this project as its late in its lifecycle. If you submit a PR, we will of course consider it, but this isn't a realistic request for maintainers / other users at this point

[2021-05-20 18:25] #606 closed, assigned to ayrton04

[2021-05-20 18:29] SteveMacenski commented on #661
This was resolved in https://github.com/cra-ros-pkg/robot_localization/pull/613

[2021-05-20 18:29] #661 closed, assigned to ayrton04

[2021-05-20 18:33] #434 closed, assigned to nobody

[2021-05-20 18:34] #543 closed, assigned to ayrton04

[2021-05-21 02:12] miku54 opened #664 "the tf2 dependency will be automatically indexed to the melodic directory"
## Bug report

**Required Info:**

- Operating System:
  -
- Installation type:
  -
- Version or commit hash:
  -

#### Steps to reproduce issue

#### Expected behavior

#### Actual behavior

#### Additional information
Hello, when I compile this feature pack, the tf2 dependency will be automatically indexed to the melodic directory. Is there a solution to this problem?

[2021-05-21 02:22] SteveMacenski commented on #664
What does this mean, please fill out the actual issue template as requested or this will be closed

[2021-05-21 02:34] miku54 opened #665 "the tf2 dependency will be automatically indexed to the melodic directory"
## Bug report

**Required Info:**

- Operating System:
  - ubuntu18.04
- Installation type:
  - source
- Version or commit hash:
  - eloquent

#### Steps to reproduce issue
colcon build --packages-select robot_localization
#### Expected behavior
Summary: 1 package finished
#### Actual behavior
/opt/ros/melodic/include/tf2_ros/transform_broadcaster.h:51:3: note:   candidate expects 0 arguments, 1 p

[2021-05-21 02:34] #664 closed, assigned to ayrton04

[2021-05-21 02:39] SteveMacenski commented on #665
This is not a robot_localization issue, please ask on ROS Answers - you're mixing paths for ROS2 and ROS1, you cannot do that, keep them isolated. This is a ROS2 user issue

[2021-05-21 03:29] miku54 commented on #665
Okay, thank you.

Steve Macenski ***@***.***> 于2021年5月21日周五 上午10:39写道：

[2021-05-26 15:40] JStech commented on #584
I'm also running into this. I'm trying to run my filter at 100Hz, but it's reporting that it's taking just over 0.02 seconds (this is reported at about 2Hz from two filters, so it's probably 1Hz for each). The CPU usage is low: `top` reports about 10% for each filter, and I do have some other things running but nothing heavy and there are definitely cycles to spare. My CPU is a quad-core i7-8565U

[2021-05-26 18:03] mjs973 commented on #584
@JSTech - github provides no method to message you, and you did not provide a link to the answers.ros.org page.

[2021-05-26 19:48] JStech commented on #584
Sorry about that--it's [here](https://answers.ros.org/question/358574/robot_localization-failed-to-meet-update-rate-warning/).

[2021-05-26 20:02] SteveMacenski commented on #584
100 hz should be easy, are you building with release flags?

[2021-05-26 20:18] JStech commented on #584
Yes, ish: `RelWithDebInfo`.

Now I'm a bit suspicious that it has to do with the bag playback (which is also publishing the clock), but I don't have hardware on hand at the moment to test with.

[2021-05-26 20:51] SteveMacenski commented on #584
I looked at some old files from a hobby robot I had a home equipped with a 4th gen i5 and I was running at at 80hz with no output errors, so I think that might be the case. It's unlikely that additional 20% rate would really impact things -- especially with 4 generations later's i7 :wink:

[2021-05-26 21:18] mjs973 commented on #584
ekf_localization is written as a single threaded node; it's just going to blow up if you try to invoke the callbacks from multiple threads.

Have you looked at the --hz and --rate options to rosbag play?

[2021-05-27 08:26] ayrton04 commented on #584
I'm actually wondering if this could be related to the measurements themselves.

If the timestamps on the measurements are not well synchronized, then at some cycle, you might get into a situation where:

- Some measurement comes in with an old timestamp
- The filter has to then rewind its history, insert that measurement, and then integrate all the other measurements up until the most recent meas

[2021-05-28 10:11] ridhwankamil commented on #622
I am having the same issue with @AppliedRobotics

[2021-05-28 14:05] mjs973 commented on #584
@ayrton04 I should have time to look at your idea this weekend.

[2021-05-30 13:03] JStech commented on #584
Yes, running with `--rate 0.8` prevents the warnings.

[2021-05-30 13:16] mjs973 commented on #584
That's gives us a hint, but it's hard to see how you are hitting a real-time limit since you said the cpu usage is low.

What happens if you try --hz 1000 with no --rate option? I'm wondering if rosbag play is sending bursts of messages?

[2021-05-30 18:08] ayrton04 commented on #622
Can you provide some reproduction steps? The report just says "I launch ekf node and a few times." What launch file did you run?

[2021-05-30 19:46] JStech commented on #584
Running with `--hz 1000` (and no `--rate`) doesn't prevent the warnings but does change the behavior. Before they were printed at pretty regular intervals (about 2Hz) throughout the length of the bag. Now, there are very few warnings printed at the start of the bag (it's about 0.2Hz), but then it goes back to about 2Hz by the end.

I checked the bag in rqt_bag, and it does have some clumped IMU an

[2021-05-31 12:47] mjs973 commented on #584
@ayrton04 I have thought about your proposal. The current check in periodicUpdate() allows for small, infrequent excursions above the 1 * period duration without triggering the warning. For an edge-case example, if the filter's average update time is 0.95 * period, with a few 1.20 * period occurances, there will be no warning. Your suggestion will require lowering the threshold to 1*period, and th

[2021-05-31 13:03] mjs973 commented on #584
@JStech I pulled up the source code for rosbag play to see exactly what `--hz` does in melodic, and it affects only the rate of publishing to /clock. So given that, there's no reason it'd help your issue.

What update rate are you using for the ekf filter? How many topics are present in the rosbag file?

[2021-05-31 13:40] JStech commented on #584
I'm running two EKFs, each at 100Hz. There are three topics in the bag: GPS, IMU, and wheel odometry.

I rewrote the bag with the header timestamps (a la [this tutorial](http://wiki.ros.org/rosbag/Cookbook#Rewrite_bag_with_header_timestamps)), which also didn't help.

[2021-05-31 14:20] mjs973 commented on #584
@JStech Ah, I forgot you told us that in your original post. I'm out of ideas.

As background, this warning is from a ros timer thread that is trying to run at the filter update rate, but something is preventing it from doing so. The most common cause of this is too much time being spent processing incoming message(s).

[2021-05-31 19:15] ridhwankamil commented on #622
I will try to give detail reproduction steps from my side.

My objective is to test using the robot_localization package with turtlebot3_simulations package

Required Info:

- Operating System:
  Ubuntu 20.04

- ROS Installation type:
  from binary

- robot_localization installation type:
  from source (foxy-devel branch)

Steps to reproduce issue:
I modified the turtlebot3 gazebo model.sdf to dis

[2021-06-01 12:18] mjs973 commented on #584
@JStech Do you still get the warning if you run just one ekf filter? Are you using nodes or nodelets?

[2021-06-02 11:34] JStech commented on #584
Yes, still happens with one filter. I'm running nodes, not nodelets.

[2021-06-03 08:39] #665 closed, assigned to ayrton04

[2021-06-03 09:42] ayrton04 commented on #621
Thanks for this. I'll read up on that and make those adjustments.

[2021-06-11 09:30] kribe48 opened #674 "Exception thrown from ros_filter.cpp during launch in ROS2 galactic"
## Bug report

Exceptions are thrown when running code in ROS2 galactic. I believe the reason is due to the change in the declaration of parameters, which in galactic all are given a specific type. Parameters that are not set with default values can therefore not be used to check if parameter values have been provided.

One example is on line 822-823 in ros_filter.cpp:
this->declare_parameter<std:

[2021-06-11 14:22] mjs973 commented on #584
@JStech While chasing down a bug unrelated to yours, I'm reminded that ros connections default to having the tcp transmit buffer enabled. Have you used the ekf private parameters to disable tcp buffering for your high message rate topics going into ekf? You can search for:

`_nodelay`

in ros_filter.cpp. The parameter names have the format `topicName + "_nodelay"`, and the value is a boolean. You

[2021-06-11 20:12] mjs973 commented on #584
@JStech Clarification: use the ekf's node's "local" name for the input, not the **actual** topic name e.g. odom0_nodelay = true

[2021-06-13 17:39] JStech commented on #584
Thanks for the suggestion--I tried setting all the `*_nodelay` values to `true` but the behavior didn't change.

[2021-06-17 06:25] jacobperron commented on #674
Sorry, I introduced this bug in #663. See https://github.com/cra-ros-pkg/robot_localization/pull/675 for a fix.

[2021-06-17 15:40] #674 closed, assigned to ayrton04

[2021-06-23 20:53] christophebedard commented on #622
I've reproduced this bug (which is most likely the same as https://answers.ros.org/question/380328/robot_localization-cant-subtract-times-with-different-time-sources/).

I put a minimal working example here along with some steps to reproduce: https://github.com/christophebedard/robot_localization-issue-622

By debugging, I can see that the bad `rclcpp::Time::operator-()` call happens here: https:/

[2021-07-06 08:22] VishuMangla commented on #622
I was having same issue as @AppliedRobotics and after doing changes in filter_base.cpp file mentioned above by  @christophebedard, the issue is solved.

[2021-07-06 10:27] spam-12345 opened #678 "[Foxy] Dual Ekf Navsat Example Launch File"
In the dual_ekf_navsat_example.launch.py there is the remapping for 'imu/data' to 'imu/data'. The navsat_transform code itselfs subscribes to the topic 'imu'. Should not the remapping be 'imu', 'imu/data'?

[2021-07-06 12:44] christophebedard commented on #622
Thanks for the confirmation @VishuMangla!

I opened a PR with the fix: https://github.com/cra-ros-pkg/robot_localization/pull/679

[2021-07-06 17:32] #622 closed, assigned to ayrton04

[2021-07-06 21:07] srujan-aris commented on #660
@sisaha9, were you able to find out what the issue was about? I get the same error, however for a different usecase though

[2021-07-06 22:06] sisaha9 commented on #660
I was doing this on the SVL simulator and I guess it lagged my machine enough for transforms and messages to publish late

[2021-07-06 22:09] srujan-aris commented on #660
Thanks for your response. I was able to resolve this issue by explicitly starting joint_state_publisher node through the launch file, along with my main node. That kind of fixed my issue. More information on this other discussion [here](https://github.com/ros-controls/ros2_control_demos/issues/107)

[2021-07-16 06:21] tchoopojcharoen opened #680 "Potential mathematics mistake"
https://github.com/cra-ros-pkg/robot_localization/blob/bab5f263e7febcca0fdf1d6ef1c348122b92a835/src/ekf.cpp#L327

I think it should be

`double dFY_dP = (-sr * cpi * cpi * pitchVel - cr * cpi * cpi * yawVel) * delta;
`
But I'm not 100% certain. This is based on the mapping between the angular velocity and the orientation that the author wrote in the code. I determine the nonlinear function and per

[2021-07-16 06:36] tchoopojcharoen opened #681 "Inconsistent Jacobian dFR/dR with 1.0"
https://github.com/cra-ros-pkg/robot_localization/blob/bab5f263e7febcca0fdf1d6ef1c348122b92a835/src/ekf.cpp#L283

Based on the prediction model. The predicted Roll-pitch-yaw can be expressed as matrix equation along the line of this.

[FR,FP;FY] = J(R,P,Y)*[Wx,Wy,Wz]

When I looked at dFR/dR, the code has this additional 1.0, which implies that FR = R+(something , which is not the case. I'm not wh

[2021-07-16 07:28] ayrton04 commented on #681
https://github.com/cra-ros-pkg/robot_localization/blob/bab5f263e7febcca0fdf1d6ef1c348122b92a835/src/filter_base.cpp#L89

The transfer function starts out with the identity matrix (this gets set in `FilterBase`, not `Ekf`), so indeed, every variable is some function of its previous value. In the case of roll, the function is

`roll_pred = roll + v_roll * dt + v_pitch * sin(roll) * tan(pitch) * dt +

[2021-07-16 07:33] ayrton04 commented on #681
I do want to make sure I didn't miss anything with the other two rotational derivatives, though.

[2021-07-16 07:40] tchoopojcharoen commented on #681
I totally miss that .setIdentity(). This makes total sense since it is the discretization of continuous system. They will always have 1 i n the diagonal. Since you set all of them in FilterBase, there is no need to write them out again unless you have something dFR_dR which is on the diagonal. Thank you for the prompt response.

[2021-07-16 07:42] #681 closed, assigned to nobody

[2021-07-16 07:48] ayrton04 commented on #680
See https://github.com/cra-ros-pkg/robot_localization/issues/591 and https://github.com/cra-ros-pkg/robot_localization/pull/592.

[2021-07-16 08:19] tchoopojcharoen commented on #680
After brief rework on my math, I've realized I made a calculation mistake by not applying the proper chain rules. It matched with the code now. Thank you so much for making times for this, and sorry for wasting your time. At least, I'm able to figure out the underlying model that you've been using. :)

[2021-07-16 08:20] #680 closed, assigned to nobody

[2021-07-16 08:39] ayrton04 commented on #680
Happy to help! Thanks for reviewing.

[2021-07-21 23:28] j-corvo opened #685 "Error trying to run ekf_node on ros2 galactic, but it works on ros2 foxy"
Hello,

Thanks in advance for your help!

I'm having a nightmare trying to figure out what's wrong with my code. I just installed ros2 galactic and I'm running the code that works on ros2 foxy. When I launch the robot_localization package it works fine on ros2 foxy, but in galactic I'm having this error:

**[ekf_node-1] terminate called after throwing an instance of 'rclcpp::ParameterTypeException

[2021-07-21 23:32] j-corvo commented on #685
@MCFurry

[2021-07-22 00:14] SteveMacenski commented on #685
Please search for that error, I'm sure you'll find immediately if you do so.

[2021-07-22 09:14] j-corvo commented on #685
Yeah, but what I found is what the error message says. Somewhere in my parameters file, there is one parameter that should be a string, but when I replaced that file with the ekf.yaml example in this repository, it had no effect. As I am a beginner in ROS2 it could be that my launch file is not correct or so.

What is weird is that it works on foxy but does not on galactic and for what I know robo

[2021-07-27 09:57] emilnovak commented on #685
I had a similar complication yesterday. You will need to add the package to your workspace and build it from source. Either change the src/ros_filter.cpp code to match the one on the ros2 branch or fork the galactic-devel branch just cherry pick [this](https://github.com/cra-ros-pkg/robot_localization/commit/3b2cb792abe0261aa55e6f3f4ad49d7efebcdbd6) commit from the ros2 branch. This alone may not

[2021-07-29 13:08] Chinj17 opened #686 "UTM to Map not being published"
Hello,

I am running ROS 2 Foxy on Ubuntu 20.04. I have followed the tutorials for dual ekf and I am trying to publish the transform between UTM-->Map--->Odom. Map-->Odom is being published properly but there is no transform between UTM and Map. Also, after remapping the topics to odometry/local and odometry/global, many times I don't get odometry/local. If I keep restarting all my launch files th

[2021-07-29 16:54] SteveMacenski commented on #686
http://docs.ros.org/en/lunar/api/robot_localization/html/navsat_transform_node.html did you read the docs and enable the appropriate parameters?

[2021-07-29 17:02] Chinj17 commented on #686
Hi, thanks for replying. I have enabled the appropriate parameters. Can you tell me if something is wrong in my yaml and launch file? because I am out of ideas and solutions for this.

[2021-08-05 00:13] brawner commented on #235
Do you have any updates on this feature? Our application cares strongly about orientation and it would be great to use this solution.

If you're able to pose the math you have already worked out, I may be able to also help with the implementation.

[2021-08-05 00:51] SteveMacenski commented on #235
Given it hasn't been touched since 2017, I don't think there are any updates.

[2021-08-05 08:01] ayrton04 commented on #235
I don't see this feature happening, frankly. I recommend taking a look at [fuse](https://github.com/locusrobotics/fuse). It may require some additional models to be written, but the scope of this change is really too large to be taken on in a package that is really only being maintained at this point.

[2021-08-05 13:21] mschickler opened #687 "GeographicLib dependency is not exported by CMakeLists.txt"
There are inline utility functions in the navsat_conversions.h file, for example,  that can be called from a package that depends on robot_localization.  However, this results in a linker error.  The workaround is for the dependent package to find_package() GeographicLib and add it as a target link library, but this is really an implementation detail of robot_localization. Instead, I believe robot

[2021-08-05 17:20] brawner commented on #235
Thanks for pointer @ayrton04, will take a look

[2021-08-06 05:09] joshjowen opened #688 "missing geographiclib dependency in package.xml for melodic"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  -  Binaries from Apt
- Version or commit hash:
  - From apt: 2.6.11-1bionic.20210723.234509

#### Steps to reproduce issue
Install using sudo apt install ros-melodic-robot-localization

#### Expected behavior
libgeographic-dev is installed as a dependency
#### Actual behavior
libgeographic-dev is not ins

[2021-08-06 08:32] ayrton04 commented on #688
It's in the `melodic` branch, it's just a `build_depend`:

https://github.com/cra-ros-pkg/robot_localization/blob/melodic-devel/package.xml#L36

Would you care to submit a PR?

[2021-08-09 07:15] improve100 opened #690 "Control term is not accounting for time delta"
TM: editing issue for clarity.

`prepareControl` doesn't appear to be using the `predictionDelta` term to compute an acceleration from the error between the controlled velocity and the current velocity.

https://github.com/cra-ros-pkg/robot_localization/blob/da0f9676c27db71b9e7cc76fbb227c92202ffd49/src/filter_base.cpp#L351-L375

Should there be a `controlAcceleration_(controlInd) /= predictionDelt

[2021-08-10 11:35] ayrton04 commented on #686
Is there any console output when you run? Wondering if it's not getting something that it needs.

[2021-08-10 12:11] ayrton04 commented on #690
Yes, I think you're right. The [original code](https://github.com/cra-ros-pkg/robot_localization/commit/6e83ef2f3635fc84efc2413db0fc05e294c4d07e#diff-b96ffbfcfc303ae826323830be2c943272c096bf8cb93fdb56fef4c949a19ce2R283) was multiplying the error term by a frequency, and that frequency was computed as `1.0 / predictionDelta`:

https://github.com/cra-ros-pkg/robot_localization/commit/6e83ef2f3635fc8

[2021-08-10 12:16] ayrton04 commented on #690
Care to submit a PR?

[2021-08-10 14:59] Serafadam commented on #685
I'm having same issues, fixed them with solution above

[2021-08-20 01:54] Jconn commented on #685
to expand on what @emilnovak said, the galactic sync currently _requires_ the params in that cherry-pick to be set, things like:
[code]
if you don't have these params set, you'll get an exception on node launch. That cherry-pick commit will give all of these parameters a default value, which will stop the exception from being thrown if the params aren't manually set by the roboticist.

[2021-09-08 09:10] cesar-lopez-mar opened #691 "Fail loading parameters in ros galactic"
## Bug report
Parameters seems not be correctly loaded. Someone had also same error and the problem lies on the way parameters are defined starting from ros galactic: https://answers.ros.org/question/382967/ekf_node-1-terminate-called-after-throwing-an-instance-of-rclcppparametertypeexception-ekf_node-1-what-expected-string-got-not-set/

https://docs.ros.org/en/galactic/Releases/Release-Galactic-G

[2021-09-14 12:26] cesar-lopez-mar commented on #691
Solution provided in https://github.com/cra-ros-pkg/robot_localization/issues/685 works.

[2021-09-14 15:25] cesar-lopez-mar commented on #685
I have created a branch with the right cherry-picks here: https://github.com/nobleo/robot_localization/tree/fix/galactic%2Fload_parameters

[2021-09-14 15:26] cesar-lopez-mar commented on #691
I have created a branch with the right cherry-picks here: https://github.com/nobleo/robot_localization/tree/fix/galactic%2Fload_parameters

[2021-09-14 15:54] SteveMacenski commented on #685
Please submit a PR

[2021-09-14 15:55] SteveMacenski commented on #691
Duplicate of #685 closing

But sounds like a solution is found so please submit a PR and we can merge it in and re-release it

[2021-09-14 15:55] #691 closed, assigned to ayrton04

[2021-09-14 15:55] #688 closed, assigned to ayrton04

[2021-09-14 15:55] #687 closed, assigned to ayrton04

[2021-09-14 15:56] #678 closed, assigned to nobody

[2021-09-14 15:57] SteveMacenski commented on #479
Lost to time, closing

[2021-09-14 15:57] #479 closed, assigned to nobody

[2021-09-15 12:01] dkati opened #693 "Cannot catkin_make after update to the new Geographic-lib-enhanced version"
i am on ROS melodic , ubuntu 18 and i cant catkin_make.i get
[code]
Cant find any solution

[2021-09-15 12:03] ayrton04 commented on #693
Did you `rosdep install robot_localization`?

[2021-09-15 12:04] dkati commented on #693
yes i did

[2021-09-15 12:12] ayrton04 commented on #693
The ROS build farm creates a Bionic container, and then clones everything, installs the ROS dependencies, and then builds and tests the package. And that passes just fine with the latest commit to the `melodic-devel` branch:

https://build.ros.org/job/Mdev__robot_localization__ubuntu_bionic_amd64/

I have no problems building the head commit on the `melodic-devel` branch in Ubuntu 18.04.

Do you h

[2021-09-15 12:14] dkati commented on #693
#All required rosdeps installed successfully

Thats the output. The fun fact is that it was working before 5 hours before i run apt-get update/upgrade.
edit:
No i dont have r_l installed from sources. just binaries with apt-get install ros-melodic-robot-localization

[2021-09-15 12:20] ayrton04 commented on #693
Ah, you are building your own package and are using `r_l` as a dependency. Your ticket sounded as if you couldn't build `r_l` itself.

My guess is the `geographiclib` dependencies aren't getting exported properly. You can try cloning the `r_l` repo into your workspace and see if you can work out what's missing in the CMakeLists.txt file.

[2021-09-15 12:22] ayrton04 commented on #693
https://github.com/cra-ros-pkg/robot_localization/blob/47b608256f08a0df5a1dd038c94fd5d071e16c72/CMakeLists.txt#L115

I think we need `GeographicLib` added to the `DEPENDS` list. If you can confirm that works, that would be great.

[2021-09-15 12:29] dkati commented on #693
I am out of office now. I will check tomorrow

[2021-09-15 17:43] #685 closed, assigned to nobody

[2021-09-15 18:31] #604 closed, assigned to ayrton04

[2021-09-15 18:32] SteveMacenski commented on #535
Dashing is EOL

[2021-09-15 18:32] #535 closed, assigned to ayrton04

[2021-09-20 07:49] dkati commented on #693
Problem persists since i realized that the DEPENDS list already contains the GeographicLib .

Reminder: I am on melodic branch ( https://github.com/cra-ros-pkg/robot_localization/commit/e9dfb75b5b6a2e53c00e47cc417d49cbad8b306d )

[2021-09-20 13:02] dkati commented on #693
FYI:
I managed to build my package by manually adding geographiclib dependency on cmake/package file.

So, shouldnt it be automatically imported while my package uses robot_localization as dependency?
aka shouldnt robot_localization expose that lib ?

[2021-09-20 13:13] ayrton04 commented on #693
That is the purpose of this line:

https://github.com/cra-ros-pkg/robot_localization/blob/e9dfb75b5b6a2e53c00e47cc417d49cbad8b306d/CMakeLists.txt#L114

So the question is why isn't that line doing its job?

[2021-09-23 07:28] BojanAndonovski71 opened #696 "Can I get Linear velocity from only IMU measurement?"
Hi

I have IMU sensor that gives me the raw data such as orientation(in x,y,z) , Angular and Linear acceleration (also in x,y,z) So I have 9 axis IMU. Im using ROS and doing some Gazebo UUV simulation. Furthermore, I want to get linear velocity from the raw IMU data. If I do integration over time there will be accumulated error and will not be accurate with the time when for example the robot make

[2021-09-23 07:57] ayrton04 commented on #696
This question is better suited for answers.ros.org. Would you mind asking over there? And please be patient, as I don't get many cycles to dedicate to this package these days.

[2021-09-23 07:57] #696 closed, assigned to ayrton04

[2021-09-26 07:22] BojanAndonovski71 opened #697 "How to use this package with only IMU sensor input?"
Hi

I have and 9 axis IMU that gives me orientation, angular velocity and linear acceleration. Would like to get the linear velocity from the package. Any help how to configure it and use the launch file?

I guess I can use the ekf_template.launch file as example

[code]

My raw IMU topic is /robot/imu so in that case my launch file would have `<param name="imu0" value="/robot/imu"/>` is that corr

[2021-09-26 07:25] BojanAndonovski71 commented on #696
ok. So how about using this package, to configure it to use only IMU sensor  ( 9 DOF orientation, angular velocity and linear acceleration) as an input to obtain the  published topic o`dometry/filtered (nav_msgs/Odometry) ` as this topic contain  linear velocity in the twist message?

[2021-09-27 12:02] ayrton04 commented on #696
Please ask questions on answers.ros.org.

[2021-09-27 12:02] ayrton04 commented on #697
Please ask questions on answers.ros.org.

[2021-09-27 12:02] #697 closed, assigned to ayrton04

[2021-09-27 12:32] BojanAndonovski71 commented on #696
ok. please can you answer on answers.ros.org. Thanks

[2021-09-27 12:34] ayrton04 commented on #696
Yes, when I have spare time. I'm behind on that, so I'll have to ask you to please be patient. Thanks.

[2021-09-27 13:33] BojanAndonovski71 commented on #696
sure sure no problem. its this link https://answers.ros.org/question/387393/tf-is-broken-when-using-robot_localization-package-with-only-imu-sensor-and-how-correctly-to-use-and-configurate-the-package/

[2021-09-27 13:34] BojanAndonovski71 commented on #696
TF looks ok now(although not 100% sure ) but Im not sure that I have done the correct configuration and launch file when only IMU sensor input is used (no odometer or any other sensor). Thanks

[2021-09-29 10:33] ardabbour opened #698 "Make UTM frame name parametric"
## Feature request

#### Feature description
The `navsat_transform_node` TF child (or parent) `frame_id` is currently hardcoded -- this could be easily be made parametric; the usecase I have at hand is related to testing the performance of different localization pipelines right up to the UTM frame:
- tf tree 1 root is utm1,
- tf tree 2 root is utm2,
- tf tree 3 root is utm3,
- etc...

#### Impleme

[2021-09-30 11:45] jcaraban opened #700 "imu_link to base_link offset removal"
I am suspicious of the way **navsat_transform::imuCallback** and **ros_filter::preparePose** correct the IMU mounting offset.

See https://github.com/cra-ros-pkg/robot_localization/blob/noetic-devel/src/navsat_transform.cpp#L714
and https://github.com/cra-ros-pkg/robot_localization/blob/noetic-devel/src/ros_filter.cpp#L2787

It gives me the impression that **navsat_transform** meant to use `yaw_of

[2021-10-04 08:18] ayrton04 commented on #700
Yeah, the quaternion approach would be better, for sure. Feel free to submit a PR.

I'm not clear on where you're seeing the correction happening twice? In `navsat_transform_node`, `yaw_offset_` is meant to correct for the difference between where the IMU reads 0 radians and where the ENU frame considers 0 radians to be.

In the second case, we're correcting the IMU's orientation. In that case, `y

[2021-10-06 15:53] ayrton04 commented on #693
Can you go to `<your workspace>/build/<your package>` and type `make VERBOSE=1` and see what build command is being issued?

[2021-10-11 21:12] melst33 commented on #693
How did you manually add the geographic lib dependency? I am having the same issue with catkin_make

[2021-10-12 07:42] ayrton04 commented on #693
Any chance you can run the command I posted and show the output?

[2021-10-14 02:07] melst33 commented on #693
Here is the output:
make: *** No targets specified and no makefile found.  Stop.

[2021-10-14 07:47] ayrton04 commented on #693
Did you go to the right directory first?

[code]

[2021-10-14 13:25] melst33 commented on #693
Yes, I did. I wonder if it is because I have not been able to do catkin_make yet, but that is the output I get. I have not been able to fully make the package on my machine at all. I am working with this package which relies on robot_localization.
https://github.com/nickcharron/waypoint_nav

So I ran this code:
roscd
cd ../build/waypoint_wav
make VERBOSE=1

[2021-10-19 18:40] omar2057-ah opened #702 "A Question Regarding The Omnidirectional Model"
Is it okay to use robot_localization on an ackermann-steered vehicle, since the kinematic models are different.
From my understanding, it won't be a problem since the omnidirection will predict the state using the velocity control action and the previous pose, in addition to the orientation, so everything will be fine if only the package takes the orientation of the vehicle from the imu not from t

[2021-10-19 18:49] SteveMacenski commented on #702
Please ask on ros answers

[2021-10-19 18:49] #702 closed, assigned to nobody

[2021-10-19 21:18] melst33 commented on #693
Are there any updates to this? I still cannot get anything to compile

[2021-10-20 10:50] ayrton04 commented on #693
I need to see the output of the build command to comment further. Have you tried cleaning the workspace and using `catkin build` instead? I am expecting some kind of compile command output that shows what the compiler is actually attempting to do.

[code]

[2021-10-27 08:47] ryanyej opened #703 "ros_filter.cpp:1158"
In member function ‘void robolt_localization::RosFilter<T>::loadParams()’:
/home/robot_localization/src/robot_localization/src/ros_filter.cpp:1158:61: error: no match for ‘operator<<’ (operand types are ‘std::basic_ostream<char>’ and ‘std::vector<int>’)
                  odomTopicName << " pose update vector is " << poseUpdateVec << "\t"<<
/home/robot_localization/src/robot_localization/include/ro

[2021-10-28 01:35] melst33 commented on #693
Here is my output with retrying with catkin build. I tried then going to build/waypoint_nav directory, but it does not exist

[code]

[2021-11-01 07:47] ayrton04 commented on #693
@melst33, two things:

1. Go to your workspace directory (`/home/administrator/catkin_ws`). Type `rosdep install --from-paths src --ignore-src`. I see that you have another package that has missing headers, which makes me think you didn't run `rosdep install`.
2. Type `cd /home/administrator/catkin_ws/build/outdoor_waypoint_nav && make VERBOSE=1`

You are going to the `waypoint_nav` directory, but

[2021-11-04 10:54] figoowen2003 opened #704 "ekf_node error in rolling version"
## Bug report

**Required Info:**

- Operating System:
  Ubuntu 20.04
- Installation type:
  sudo apt install ros-rolling-robot-localization
- Version or commit hash:

#### Steps to reproduce issue
 I have installed the robot localization pacakage of rolling successfully. When I tried to run ekf_node, an error happened. The commands are,
sudo apt install ros-rolling-robot-localization
ros2 run rob

[2021-11-22 03:38] miku54 opened #706 "Odometry/ GPS and /GPS /fix"
Hello, I encountered a problem when I fused GPS data using Navsat_transform_node in Robot_localization. Odom1 is Odometry/ GPS, the message data type for this topic is nav_MSgs /Odometry, but my GPS topic is/GPS /fix, The message data type is sensom_MSgs /NavSatFix, so when I run the fusion program, my terminal will display an error. Is Odometry/ GPS generated by conversion required? However, in r

[2021-11-22 11:16] ayrton04 commented on #706
HI there, this isn't an issue with this package. You are mixing ROS distributions somehow, and whatever is publishing your `NavSatFix` message is using a different version of that message than your workspace. I suggest cleaning and rebuilding your entire workspace, and making sure that if you have `sensor_msgs` cloned in your workspace, it matches the version in your ROS distro. If this data is fr

[2021-11-22 11:16] #706 closed, assigned to ayrton04

[2021-11-22 15:33] mnissov opened #707 "can't subtract times with different time sources [1 != 2]"
## Bug report
Running `robot_localization` ekf node returns error
[code]
when used in conjunction with gazebo simulation.

Looking at `/odom` and `/imu/data` topics, timestamps match up
![image](https://user-images.githubusercontent.com/29279377/142888849-a46c628c-88c9-4584-906c-33667c212868.png)

In addition, all nodes are with `use_sim_time` : True

**EKF Launch File**:
[code]

**EKF Params**:
[

[2021-11-22 15:37] mnissov commented on #707
Just noticed: looking at solution provided to [#679](https://github.com/cra-ros-pkg/robot_localization/pull/679) the fix was changing
`last_measurement_time_(0, 0, RCL_ROS_TIME), latest_control_time_(0),` to `last_measurement_time_(0, 0, RCL_ROS_TIME), latest_control_time_(0, 0, RCL_ROS_TIME),` in `src/filter_base.cpp`.

This change has not been made in `foxy-devel`, see [link](https://github.com/

[2021-11-22 19:53] SteveMacenski commented on #707
Yeah please submit a PR

[2021-11-24 08:14] mnissov commented on #707
Solved by [#708](https://github.com/cra-ros-pkg/robot_localization/pull/708)

[2021-11-24 08:15] mnissov commented on #707
Solved by [#708](https://github.com/cra-ros-pkg/robot_localization/pull/708)

[2021-11-24 08:15] #707 closed, assigned to ayrton04

[2021-12-05 23:36] Masoumehrahimi opened #710 "Yaw-offset and magnetic declination radiance calculation"
Hi
Does anybody to explain how to calculate yaw-offset and magnetic declination radiance?
I searched alot bet get more confused and found nothing
Thanks

[2021-12-07 12:14] ayrton04 commented on #710
In general, it's best to ask questions on answers.ros.org, but for now:

http://docs.ros.org/en/noetic/api/robot_localization/html/integrating_gps.html

[2021-12-07 12:14] #710 closed, assigned to nobody

[2021-12-07 12:42] Masoumehrahimi commented on #710
thank you for closing this issue,
but I am familiar with the link which you mentioned, I did not find the answer because of this asking here

[2021-12-07 12:50] ayrton04 commented on #710
OK, then please use answers.ros.org, as all questions should be directed there.

[2021-12-14 17:38] Masoumehrahimi commented on #710
hi,
would you please answer my question in ROS answers:
https://answers.ros.org/question/392333/how-to-specify-yaw-offset-and-magnetic-declination-radiance-in-robot_localization-package/
thanks

[2021-12-15 08:10] ayrton04 commented on #710
I will try to get to it soon. I don't get a lot of cycles to answer questions these days. I have a backlog of questions to answer, and I answer them in the order that they were asked.

[2022-01-05 14:39] lkdo opened #711 "UKF, missing addition with matrix R in the covariance correction update"
In function Ukf::correct,
  - the Kalman gain is computed correctly using the (P_zz + R)^-1
  - and in the covariance update, the P_zz must similarly be added with R i.e.
        P = P - (K * (P_zz + R) * K')  instead of P = P - (K * P_zz * K')

[2022-01-05 16:16] lkdo commented on #612
Hi,

What does it mean that prediction is done very differently in the UKF ?

What am I missing ? To account for the control term, isn't it as simple as below ?

For each sigma point prediction (taking into account the fixes of  https://github.com/cra-ros-pkg/robot_localization/issues/621 ),

void Ukf::projectSigmaPoint(Eigen::VectorXd& sigmaPoint, double delta)
{
 ...

    sigmaPoint(StateMemberV

[2022-01-05 20:22] ayrton04 commented on #612
UKFs, as you are apparently aware, use sigma points rather than project a single state. That, to me, is very different than an EKF. So as I said, the logic would be like the EKF, but "not exactly the same."

[2022-01-05 20:36] ayrton04 commented on #711
I believe you are correct, yes. The formulation within the [original paper](https://groups.seas.harvard.edu/courses/cs281/papers/unscented.pdf) seems to ignore the measurement covariance at all, whereas the formulation on [Wikipedia](https://en.wikipedia.org/wiki/Kalman_filter#Unscented_Kalman_filter) includes it.

![image](https://user-images.githubusercontent.com/5042191/148285526-89c4f4f0-48b4-

[2022-01-06 08:54] lkdo commented on #711
Thanks. Sure, I'll do a PR after the merge.

[2022-01-06 09:37] Masoumehrahimi commented on #710
Dear TOM,
would you please answer my question in ROS answers, I want to do the test, but I get stuck in this part for months!
https://answers.ros.org/question/392333/how-to-specify-yaw-offset-and-magnetic-declination-radiance-in-robot_localization-package/
thanks

[2022-01-07 10:02] ayrton04 commented on #710
I'll try to get to it soon. I don't get a lot of time to support this package these days, but I'll try to carve out some ROS Answers time this week.

[2022-01-11 06:53] TaoYibo1866 opened #714 "Changing the name of ‘ekf_node’ makes it stop functioning."
I am working on ros2-foxy, and installed this package through `sudo apt install ros-foxy-robot-localization`.
When i do `ros2 launch robot_localization ekf.launch.py`, everything is fine and `ros2 topic list` shows:
[code]
However, if i modify the launch file into
[code]
which basically only rename the node from 'ekf_filter_node' to 'ekf_filter', the `ros2 topic list` shows:
[code]
This indicates

[2022-01-11 08:56] ayrton04 commented on #714
What does `ros2 topic list` show when you don't change the name? These topics are produced by the EKF:

[code]

If `ros2 topic list` doesn't show your sensor data, then is it possible that data isn't being published?

[2022-01-11 08:56] ayrton04 commented on #714
In any case, I think this should be asked on answers.ros.org or Robotics Stack Exchange.

[2022-01-11 09:04] TaoYibo1866 commented on #714
When I don’t change the name the topic output is
[code]

[2022-01-11 09:07] ayrton04 commented on #714
That's because the parameters are being loaded for a node called `ekf_filter_node`:

https://github.com/cra-ros-pkg/robot_localization/blob/5d2e88268d988135af8642f4814cac7e2940cc87/params/ekf.yaml#L2

You need to update `ekf.yaml` so that line says `ekf_filter`.

[2022-01-11 09:07] #714 closed, assigned to ayrton04

[2022-01-11 09:10] TaoYibo1866 commented on #714
You are right! What a dumb question…

[2022-01-11 09:10] ayrton04 commented on #714
No worries!

[2022-01-14 10:45] ayrton04 commented on #711
Sorry for the delay. The PR is merged into `noetic-devel`. If you wouldn't mind submitting your PR to that branch, I can make sure it finds its way to the ROS 2 branches. I'm reluctant to push all this back to melodic, but could be convinced otherwise.

[2022-01-14 10:45] ayrton04 commented on #711
And thank you!

[2022-01-16 23:16] FrGe2016 opened #715 "Wrong Robot position at start-up ( misunderstanding delination ? )"
I am using GPS with RTK for the localization

Due to hard winter conditions, I have made my the map with a Survey Android app. and transfered the data to a Geographic information system (QGIS).

I order to be compatible with the navsat_transform. I have used the WGS94 to UTM19N projection in QGIS. I have then Exported the result of my survey as a scaled .pgm file. ( In this format the north has ha

[2022-01-17 09:00] ayrton04 commented on #715
Thanks for the question. However, we ask that all questions be directed to answers.ros.org or robotics.stackexchange.com.

[2022-01-17 09:00] #715 closed, assigned to ayrton04

[2022-01-19 14:23] WUyinwei-hah opened #720 "No data on /odometry/filtered topic or /accel/filtered"
## No data on /odometry/filtered topic or /accel/filtered

- Operating System:
Ubuntu 20.04 with ros2-galactic

- Version or commit hash:
Galactic

I run the [sam_bot_description](https://github.com/ros-planning/navigation2_tutorials) with robot_localization package and do everything follow [the tutorial](https://navigation.ros.org/setup_guides/odom/setup_odom.html) but I finally got nothing on  /

[2022-01-19 14:28] ayrton04 commented on #720
Can you please ask this question on answers.ros.org or on robotics.stackexchange.com? And when you do, please provide your full EKF config and a sample message from every sensor input.

[2022-01-19 14:28] #720 closed, assigned to ayrton04

[2022-01-20 04:14] WUyinwei-hah commented on #720
ok, thanks

[2022-01-25 09:49] roboticsai opened #722 "Fusing uncontineuous global pose data"
I am fusing the map pose data which is calculated from the [fiducial_slam](http://wiki.ros.org/fiducial_slam) node. Here the topic being fused with ekf_node is /fiducial_pose (geometry_msgs/PoseWithCovarianceStamped).
The problem i'm getting is, once the fiducial_slam don't publishes the pose data when it don't detects any fiducial/aruco markers. The robot is continusly drifting namely the odom fr

[2022-01-25 09:55] ayrton04 commented on #722
This should ideally be a question on answers.ros.org or Robotics Stack Exchange. Would you mind asking there? And please include a sample message from every sensor input, and maybe remove the comments from the config. Thanks!

[2022-01-25 09:55] #722 closed, assigned to nobody

[2022-02-07 08:55] ayrton04 commented on #703
Not convinced there's a bug here. Perhaps you have something about your workspace config that is not right. Please ask this question on answers.ros.org or robotics.stackexchange.com. When you do, please include the ROS distribution you are using, the branch of `robot_localization` you are trying to build, and any other relevant details.

[2022-02-07 08:55] #703 closed, assigned to ayrton04

[2022-02-07 08:56] ayrton04 commented on #704
This looks like a linking issue with the `rclcpp::init` method. Did that method change for rolling?

[2022-02-07 18:18] SteveMacenski commented on #704
Yeah this is an issue where they updated / didn't link properly / source setup, not in the source code.

[2022-02-07 18:18] #704 closed, assigned to ayrton04

[2022-02-14 21:28] pepisg opened #724 "Change /fromLL and /toLL services or add new ones to accept and return arrays of points/geopoints"
## Feature request

#### Feature description
Right now the `fromLL` and `toLL` services accept and return only one point / geopoint at a time, however in some applications it may be valuable to be able to process several points in a single service call rather than performing several successive calls with a single point each one.
Thus it would be great if the services could be changed or new servic

[2022-02-15 00:16] SteveMacenski commented on #724
Please submit a PR, happy to review

[2022-02-15 10:58] frygge opened #726 "Child Frame of Odometry Messages is ignored"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binary and source
- Version or commit hash:
  - git rev-parse HEAD b5345749e1449a5ec3536d3c8cc80f1de65ae9f6

#### Steps to reproduce issue
- measure an odometry in a sensor frame that is rotated by (for example) 90 degree
- process this odometry as odom0 (and as single measurement source) in robot_loca

[2022-02-15 11:03] ayrton04 commented on #726
Please ask this as a question in answers.ros.org or robotics.stackexchange.com. When you do, please include your full configuration and a sample input message from every sensor input. I'm sceptical that there is a bug here, but regardless, this process should start with a question on one of those forums. Thanks.

[2022-02-15 11:15] frygge commented on #726
Hmm, I could do that. Still, please give it a thought since I read the code and can see the error there:
- odometryCallback(..) calls poseCallback and misses to send the childFrameID (~line 1744)
- poseCallback calls preparePose but the child Frame is gone already (~line 1810)
- in differential mode, preparePose calls prepareTwist but the message gets the baseLinkFrame (since it doesn't know the r

[2022-02-15 11:47] ayrton04 commented on #726
I will need to read the code, but aren't we transforming the pose data into the target frame (e.g., `odom`) _before_ we differentiate it? If so, the correct child frame would be `base_link`.

[2022-02-15 11:51] ayrton04 commented on #726
Oh, you're measuring pose data from a sensor that is on the robot and has a non-zero transform from the robot origin. This is not a use case that is well supported by the package. Pose data needs to have a direct transform from the world frame of that pose data to your world frame (so `odom`->`your_world_frame`). If you are measuring pose data from a sensor with a transform relative to `base_link`

[2022-02-15 12:21] frygge commented on #726
I see. Thanks for having a look.
The situation is the following: the sensor provides the transformation between the Odom frame and a sensor frame. The sensor frame is a child of base_link. The transformation between base_link and the sensor frame is provided via tf_static.

I checked my fix against various types (we got an autonomous driving car and have a complex sensor setup). The fix should onl

[2022-02-15 12:33] ayrton04 commented on #726
It would still be helpful to see the configs, sensor data, and static transform, if that's possible.

[2022-02-15 22:11] frygge commented on #726
Sure, I'll prepare a minimal example that shows the effect

[2022-02-16 14:02] pepisg opened #727 "[Question] Can a yaw offset exist between the utm and map frames when using GPS data?"
Hi! I'm using `robot_localization` to implement a GPS waypoint follower in nav2. For that I make use of the `fromLL` service to convert GPS coordinates into poses in the map frame. From what I saw in the [code](https://github.com/cra-ros-pkg/robot_localization/blob/79162b2ac53a112c51d23859c499e8438cf9938e/src/navsat_transform.cpp#L366), this service takes the GPS coordinates into the `utm` frame a

[2022-02-17 22:50] frygge commented on #726
So, I managed to create a minimal example (stripped down our car setup). Here it is:

The launch files load a urdf that shows (part of) our vehicle frames. Then, it starts the robot_localization. The localization comes with a yaml file containing the config. Here I stripped it down to odometry that contains both, a pose (from a slam system) and a twist (from an IMU). I created two versions: _relat

[2022-02-17 23:07] frygge commented on #726
I just opened a PR to see if your CI is running.

[2022-02-18 07:23] Timple commented on #726
I've been subscribed to this repository for a while. I think I've seen this (kind of) request every now and then.

I think the reason it is not implemented is that it creates a loop? To do a TF lookup of the child frame, one needs the orientation of the vehicle. But this data is also used to determine that orientation.

Only exception is the imu, as that sensor provides it's own orientation and ca

[2022-02-18 08:17] frygge commented on #726
@Timple Actually it doesn't. You can remove the IMU from the example I provided and it still works. The lookup of the child frame only concerns the orientation relative to the base_link, which shall be static. Hence, the orientation of the vehicle is not necessary in this case.

[2022-02-18 08:31] ayrton04 commented on #726
@frygge can you show me a sample input message from the odometry data? I don't have the cycles to pull the bag right now.

The thing that concerns me is that in ROS, the `nav_msgs/Odometry` message assumes that the `frame_id` is the frame of the `pose` data in the message, and the `child_frame_id` is the frame of the `twist` data. In this instance, it sounds like you are not generating velocity da

[2022-02-18 08:35] ayrton04 commented on #726
Oh, also, can I see your tf tree? Thanks.

[2022-02-18 11:31] frygge commented on #726
Sure, here's an example of our /gps/imu topic:
[code]

An example of our /alb/odometry message:
[code]

The odometry message does (in this case) contain no twist. However, I assume that the pose shall be interpreted as pose between the header frame and the child frame (odom -> alb_sensor_frame in this case). Others of our odometry messages do indeed contain a twist (and meaningful cov) as well.

H

[2022-02-21 09:50] ayrton04 commented on #726
I see what you're doing in the PR (thanks for that), and I don't know that I'd call this a bug as much as a new feature. Re-labeling.

[2022-02-21 17:21] frygge commented on #726
Ahh, OK. Then I think misunderstood the documentation: http://docs.ros.org/en/melodic/api/robot_localization/html/preparing_sensor_data.html, 2nd bullet point under "Common errors" says that velocities get transformed to the base_link. I thought this is true even if they come from the odometry message with differential enabled.

[2022-02-22 12:21] miku54 opened #729 "robots_localization:Transform from gyro_link to base_footprint was unavailable for the time requested. Using latest instead."
## Bug report
[ WARN] [1645532392.821254984]: Transform from base_footprint to map was unavailable for the time requested. Using latest instead.
**Required Info:**

- Operating System:
  - ubuntu18.04 ros-melodic
Hello , when I use the robots_localization function package to fuse odom, imu, and gps data, the navsat_transform_node node will always flash the following alarms: "Transform from base_fo

[2022-02-22 12:24] miku54 commented on #729
How should this situation be resolved?
If you need more information, please contact me, thank you

[2022-02-22 12:25] miku54 commented on #729
How should this situation be resolved?
If you need more information, please contact me, thank you

[2022-02-22 12:27] miku54 commented on #729
This is the graph of Tf_tree and nodes when I debug![01](https://user-images.githubusercontent.com/81612531/155132195-a43fadaa-5ad2-4457-aff4-b8c77a6e75a3.png)
![02](https://user-images.githubusercontent.com/81612531/155132202-8d6a9301-664d-4076-afa6-29170aa01736.png)

[2022-02-22 12:34] ayrton04 commented on #729
Please ask questions on answers.ros.org or robotics.stackexchange.com. If you have already done so, can you please provide a link? Also, if you do ask a question on one of those sites, please provide your config and sample messages from your sensor inputs.

[2022-02-22 12:34] #729 closed, assigned to ayrton04

[2022-02-23 01:32] miku54 commented on #729
https://answers.ros.org/question/396538/robots_localizationtransform-from-gyro_link-to-base_footprint-was-unavailable-for-the-time-requested-using-latest-instead/

Tom Moore ***@***.***> 于2022年2月22日周二 20:34写道：

[2022-02-23 02:00] miku54 commented on #729
Hi, thank you for your reply! I have raised a related question in ros.org, the link is: [https://answers.ros.org/question/396538/robots_localizationtransform-from-gyro_link-to-base_footprint-was-unavailable-for-the-time-requested-using-latest-instead/](url)
Since there are no credits, my config files are placed in this repository: [https://github.com/miku54/robot_localization-gps](url)
Examples of

[2022-02-24 03:06] miku54 opened #730 "robots_localization:Transform from gyro_link to base_footprint was unavailable for the time requested. Using latest instead."
[ WARN] [1645532392.821254984]: Transform from base_footprint to map was unavailable for the time requested. Using latest instead.
and       Transform from gyro_link to base_footprint was unavailable for the time requested. Using latest instead
Required Info:

Operating System:
ubuntu18.04 ros-melodic
Hello , when I use the robots_localization function package to fuse odom, imu, and gps data, the

[2022-02-24 08:02] ayrton04 commented on #730
How is this different than this?

https://github.com/cra-ros-pkg/robot_localization/issues/729

1. Please don't double post.
2. This is not a bug. You are misunderstanding how the filter and tf work.
3. This is also not an error. It is a warning.
4. Please direct all questions to answers.ros.org or robotics.stackexchange.com, and then *please be patient* in waiting for an answer. I don't get a lot

[2022-02-24 08:02] #730 closed, assigned to ayrton04

[2022-02-25 15:59] Arjan-TNO commented on #724
While you're on it: it would also be nice to go from `geometry_msgs/Point` to `geometry_msgs/PointStamped`. This allows the fromLL/toLL service to also pass the name of the `map_frame` into the message, as other ROS-nodes may not know this...

[2022-02-25 16:17] Arjan-TNO commented on #698
Or.... add the zone-name to the utm frame-name such as `utm30s` or `utm29n`.

Assume a hypothetical map with origin (lat,lon)=(0,0), which is in zone 31n. Ideally, you would setup a transform from `utm-->local_map` using this 31n zone.

It is possible that the robot/vehicle is initialized in 4 different quadrants of the map, representing 4 different UTM-zones. Assume the vehicle is in the 4th quad

[2022-02-25 16:36] Arjan-TNO opened #731 "Allow UTM frame changes for north/south crossings"
## Implement correct scheme for north-south UTM-zone crossings

#### Feature description
Currently the `navsat_transform` works well for utm-zone crossings in east-west direction, as long as you stay in the same hemisphere. This is because of the line:
 https://github.com/cra-ros-pkg/robot_localization/blob/b5345749e1449a5ec3536d3c8cc80f1de65ae9f6/src/navsat_transform.cpp#L651

However, this line

[2022-02-25 18:13] afrixs opened #732 "navsat_transform crashes when broadcast_utm_transform is false"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - 3.3.0-1focal.20220122.083819

#### Steps to reproduce issue
Run `navsat_transform_node`, setting `broadcast_utm_transform` to false or not setting it at all (or setting 'broadcast_cartesian_transform' instead).

#### Expected behavior
Node runs normally without pu

[2022-02-25 18:16] ayrton04 commented on #732
Thanks. Any chance you'd care to submit a PR? :)

[2022-03-02 05:09] SahanGura opened #734 "Conditional control of generating odometry output"
## Feature request
**Selecting a primary source of measurement, and using it for conditionally controlling odometry output**

#### Feature description
When using robot localization package to fuse visual odometry and IMU data for getting the visual inertial odometry, I have met with the following issue.

This is the method I used to get the filtered odometry
- RGBD data ---> rgbd_node of rtabmap -

[2022-03-02 05:38] #698 closed, assigned to ayrton04

[2022-03-02 08:24] Timple commented on #698
I like the zone-name in the utm frame.

It's actually on our long-term todo list. Idea was to spawn TF's for all neighboring UTM zones. Let's say within a 100km reach or something.

[2022-03-02 08:27] Timple commented on #734
For short term, the odometry probably is still quite accurate because of the imu. But this will get worse in time.
The covariance in de odometry topic reflects this (it will increase).

Perhaps rtabmap can use that information (or threshold it?) to determine if the given odometry is good enough to use?

[2022-03-02 10:17] ayrton04 commented on #734
I presume your robot is still moving at the point that the odometry data is lost. How do you plan to cope with this? If the EKF just stops producing output, then when it resumes, the state estimate will not account for any of that "outage" period.

The issue here is that you are not measuring state variables that need to be measured, so your covariance is exploding.

Your feature request notwithst

[2022-03-03 21:56] SahanGura commented on #734
@ayrton04 Thank you for your suggestion. I would try the first option you have suggested to deal with this issue.

Since I have to use the visual odometry as the primary source of measurement, I should make sure to move the camera in a way it would not lose the odometry. In case of an odometry loss, I should operate the robot in a way it can get back to the track so it can continue providing the v

[2022-03-06 05:10] SpaceView opened #735 "BUG: undefined reference to RobotLocalization::RosFilter"
## Bug report

**Required Info:**

- Operating System:   Ubuntu server 20.04 with ubuntu-desktop, on raspberry pi  64bit 8GB platform

- Installation type:     binaries or from source

- Version or commit hash:
   git clone -b noetic-devel https://github.com/cra-ros-pkg/robot_localization.git

#### Steps to reproduce issue
ubuntu@ubuntu:~/noetic/catkin_ws$ catkin_make -DCATKIN_WHITELIST_PACKAGES="

[2022-03-06 07:23] SpaceView commented on #735
The problem can be closed now. It seems this is due to some compiling problem, not the source code.  Currently I have no idea why ros_filer.cpp.o can be empty but still there!
I put a blank char inside the ros_filter.cpp to force a new recompile, and succeeded.
Now I have successfully installed the latest robot_localization.

[2022-03-06 23:55] #735 closed, assigned to ayrton04

[2022-03-07 23:48] Wayne-xixi commented on #722
@roboticsai Hi, did u get it working?

[2022-03-08 09:51] ayrton04 commented on #722
https://robotics.stackexchange.com/questions/23149/fusing-uncontineuous-global-pose-data/23150#23150

[2022-03-10 10:04] #732 closed, assigned to ayrton04

[2022-03-18 08:15] Masoumehrahimi commented on #114
hi @ayrton04
my gps is situated on a tower, on the vehicle,that there is distance between the base_link and GPS, but as i check the tf tree i have GPS_link in my tf tree, and as i run: rosrun tf tf_echo base_link gps_link , it starts publishing data, which means there is a connection between them, so in this case, do i need to again define the distance between them??
if yes, why? and what is the e

[2022-03-23 15:04] HusamZain opened #740 "echo /odometry/filtered no data"
Thank you for your great work.
I'm trying to use this package, for further implementation  in NAV2 project .
I'm using Ros2 galactic on jetson nano, and I wanted to fuse data from wheel encoder and IMU
I manged to publish the [nav_msgs/Odometry](http://docs.ros.org/api/nav_msgs/html/msg/Odometry.html) on the **/odom** topic
and [sensor_msgs/Imu](http://docs.ros.org/api/sensor_msgs/html/msg/Imu.htm

[2022-03-23 16:07] ayrton04 commented on #740
Thanks for the question. However, all questions should be asked on answers.ros.org or robotics.stackexchange.com. When you do post a question, please include your config (and not as an image) and a sample message from each sensor input.

[2022-03-23 16:07] #740 closed, assigned to nobody

[2022-03-25 20:25] SteveMacenski commented on #727
@ayrton04 any thoughts? This is a topic for the Nav2 project and I'm definitely not an expert on GPS topics

[2022-03-25 20:49] ayrton04 commented on #727
What do we mean when we say the map frame always pointed east? The map frame is totally independent of the UTM frame. In fact, the map frame has no "knowledge" of east.

Take navsat_transform out of the picture for a moment. Let's say you have a robot and only fuse its wheel encoder odometry. Your EKF output is configured to be in the map frame. When your robot first starts up, it will be at the o

[2022-03-25 21:18] SteveMacenski commented on #727
My comment as well

[2022-03-25 22:53] pepisg commented on #727
I see. I thought for using RL with GPS data it was necessary to provide absolute yaw measurements.

So, if the orientation of the `map` frame is independent of the `utm` frame (which from the [docs](http://docs.ros.org/en/melodic/api/robot_localization/html/integrating_gps.html#details) I think does head east), how does RL know the angle offset between both frames? from what I understand from the

[2022-03-25 23:02] ayrton04 commented on #727
If memory serves, that's not what that code is doing. GPS positions have no orientation component to them. They're just positions. That is still true when we convert the lat/long to UTM coordinates. The line of code above the one you linked applies the transform to the UTM position to get it into the map frame. But because that transform has an orientation to it, the resulting pose will, too. But

[2022-03-28 12:03] ayrton04 commented on #727
Sorry, I should clarify. You are likely already aware of much of this, but I want to cover everything so we're on the same page.

The earth-referenced heading is required for `navsat_transform_node`, but it is not required for the EKF.

The UTM grid is aligned such that +X is east, and +Y is north. The GPS gives us our position within the UTM grid, but not our orientation. To get that, we need an

[2022-03-28 13:29] HappySamuel opened #741 "[ROS2] ekf_node running slower than set frequency"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries  `$ sudo apt install ros-foxy-robot-localization`
- Version or commit hash:
  - `ros-foxy-robot-localization is already the newest version (3.1.1-1focal.20220204.181349)`

#### Expected behavior
Frequency set at 40.0 Hz

![Screenshot from 2022-03-28 21-22-31](https://user-images.githubusercont

[2022-03-28 13:39] ayrton04 commented on #741
Thanks for the question. Before we mark it as a bug (I would hope that someone would have noticed something this serious by now), can you please ask a question on answers.ros.org or robotics.stackexchange.com? Please include your full config and sample messages from each sensor input. It's possible there's just a setting that needs to be changed. I'll reopen this if there is a bug.

[2022-03-28 13:39] #741 closed, assigned to ayrton04

[2022-03-28 20:25] pepisg commented on #727
Hi! Thanks for your clarification, I think I was confused because I have always been using absolute orientation data following the ENU convention so I did not think it was possible for the map frame to point differently. However I tested today an IMU that follows the NWU convention and as you pointed out, there is now an offset of 90 degrees between `map` and `utm`. This, however was accounted for

[2022-03-28 20:25] #727 closed, assigned to nobody

[2022-03-30 14:39] ayrton04 commented on #727
No need for apologies! If anything, I should apologize for the ridiculous delays in responding. Finding time is hard these days.

[2022-04-08 15:05] ayrton04 commented on #114
answers.ros.org, please

[2022-04-11 09:19] Exboom commented on #607
If you stumbled upon this in search of a solution to the problem, then try using the `--cmake-args -DCMAKE_CXX_STANDARD=14` flag. I don't know why, but this is what helped me

[2022-04-12 01:02] miku54 commented on #607
Thank you! I solved it this way too, but I didn't update the follow-up

Андрей Попов ***@***.***> 于2022年4月11日周一 17:20写道：

[2022-04-20 07:53] improve100 opened #744 "add NHC constraint in EKF"
Hello, considering the vehicle model, I want to add NHC constraint, assuming y = 0 x = 0 Is the update modified to
![image](https://user-images.githubusercontent.com/6092914/164231321-579ce31c-9a60-473b-bd86-f9cdeb6725ea.png)

    double roll = state(StateMemberRoll);
    double pitch = state(StateMemberPitch);
    double yaw = state(StateMemberYaw);
    double xVel = state(StateMemberVx);
    dou

[2022-04-23 13:50] oscar1780 opened #745 "Is there any plan to add error-state Kalman filter in robot localization?"
Dear author, is there any plan to add ESKF module for this package? As some papers mentioned that ESKF have a better fusing performance than ekf and ukf, i do want write this algrithom by myself, but if u have already raised into the agenda, i will follow this project and test it, casue coding is very hard to me :(

[2022-04-25 10:58] ayrton04 commented on #745
There are no such plans, but I obviously would consider a PR. It would need to be added as a new filter type.

[2022-04-25 11:03] oscar1780 commented on #745
OK, ty for ur reply. I would try it myself first, maybe i will push a pr someday.

[2022-04-25 11:03] #745 closed, assigned to ayrton04

[2022-05-01 14:15] splatter96 opened #749 "Example launch file for dual_ekf_navsat_example contains wrong remapping rule"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - galactic versions in apt as of today

#### Steps to reproduce issue
Set the wait_for_datum paramter to false
Launch the provided dual_ekf_navsat_example.launch.py launch file with an appropriate simulation of sensor setup.

#### Expected behavior
All transformatio

[2022-05-03 07:09] ayrton04 commented on #749
Thanks for catching that. Any chance you could submit a PR?

[2022-05-09 10:02] Sidk97 commented on #374
Hi,

Is this still valid ?
I am working with navsat_transform and had some wierd behaviour, is this something that we need to consider while passing the value to magnetic_declination_radians parameter ?

[2022-05-20 13:30] AndyLV opened #757 "IMU frame transformations"
Hello everybody,

I noticed some problems when fusing IMU+GNSS data in the following situation:
My IMU provides its data with z-axis pointing downwards (NED). According to my understanding, robot-localization expects the z-axis upwards (ENU). Hence I created an additional TF frame which is rolled by 180° with respect to the other frames. Unfortunately this did not work - e.g. amongst others the gr

[2022-05-24 09:35] ayrton04 commented on #374
Might be worth asking your question on ROS answers, if you have not already done so.

[2022-05-26 08:35] roncapat commented on #711
Any updates on this?

[2022-06-23 19:24] austin-InDro opened #760 "No SetDatum Service listed in ROS Foxy"
When running robot_localization with the following launch file,
[code]

No `SetDatum` service is listed when running `ros2 service list`

Is there an additional step that needs to be performed for the service to be listed? It seems the datum parameter can be changed by interacting with the parameter server directly in the mean time...

[2022-06-24 14:53] austin-InDro commented on #760
Sorry seems I was having strange DDS issues between terminals. Issues is gone.

[2022-06-24 14:53] #760 closed, assigned to nobody

[2022-06-27 09:15] ayrton04 commented on #757
It's been literally years since I used IMUs in a setting where all three Euler angles mattered, but I think when `r_l` assumes that your IMU data is in ENU frame, it means that it assumes the data is in ENU frame _before_ you pass it to the filter, not that you will provide a transform to make it so.

The transformation on those lines question is not being used to actually transform the IMU data.

[2022-06-28 11:35] OguzKahramn commented on #660
@srujan-aris Hi. I have the same problem even tough I am starting joint_state_publisher node inside the launch file. I have not found a solution through the link you sent as well. Could you help me please?

[2022-06-29 07:59] ayrton04 commented on #660
Please ask questions on answers.ros.org or robotics.stackexchange.com.

[2022-07-07 23:50] cognitiveRobot opened #763 "Test1 gives unexpected results"
Hello all, I am trying test1 with the following command:
` roslaunch robot_localization test_ekf_localization_node_bag1.test`
After recoding `/husky_velocity_controller/odom` and `/odometry/filtered` if I plot x,y values I find as below:
![test1_results](https://user-images.githubusercontent.com/5715614/177889672-67d3f780-4eff-4dab-9e37-8188cc4f851d.png)

`/odometry/filtered` data is not making se

[2022-07-11 13:44] Marcelomm103 opened #764 "Navsat_transform ekf Odometry/gps jumping to random values"
Hey you all!

I'm having troubles utilizing the navsat_transform node. My values of Odometry/gps are jumping from values too far from each other.

Expected behaviour:

The navsat transform the gps coordinates to xyz odometry values.

Actual behaviour:

The odometry/gps are too far from each other even if my robot is still, they are as follows after i set /datum:

header: stamp: sec: 9 nanosec: 500

[2022-07-12 07:09] ayrton04 commented on #764
Thanks for the question. However, all questions should be directed to answers.ros.org or robotics.stackexchange.com. When you ask your question, please include your full configuration file and a sample message from each sensor input.

[2022-07-12 07:09] #764 closed, assigned to nobody

[2022-07-12 19:01] Marcelomm103 commented on #764
I asked on ros answers, if you could have a look i would be very grateful: https://answers.ros.org/question/403351/navsat_transform-ekf-odometrygps-jumping-to-random-values/

[2022-07-14 10:02] ayrton04 commented on #764
Will look when I get some cycles, sure.

[2022-07-14 13:16] Marcelomm103 commented on #764
Actualy i have managed to fix the bug on the jump values but my costmap is moving its obstacles detected with the robot as it goes: https://answers.ros.org/question/403748/obstacles-moving-together-with-local-costmap/

[2022-07-14 19:19] Marcelomm103 commented on #764
Actualy i managed to correct the jumping issue, but my tf map -> odom is moving together with the robot causing the obstacles in the localcostmap to move with the robot as well. https://answers.ros.org/question/403748/map-odom-tf-moving-causing-obstacles-in-localcostmap-to-move-with-robot/

[2022-07-18 02:08] YXGuan opened #766 "plain cmake error"
Hi there,

I got a Cmake error when trying to build the robot_localization package on Noetic.

Your help would be much appreciated.

Below are the output in the terminal

**yuxiang@yuxiang:~/catkin_ws$ catkin_make**
[code]
**yuxiang@yuxiang:~/catkin_ws$ catkin_make_isolated**

[code]

[2022-07-18 07:25] ayrton04 commented on #766
This is not an issue with robot_localization. Please ask your question on answers.ros.org.

[2022-07-18 07:25] #766 closed, assigned to nobody

[2022-07-19 02:07] laitathei opened #767 "Tightly coupled or Loosely coupled?"
Can anyone explain to me to this package is tightly coupled or loosely coupled? Thank you.

[2022-07-19 03:44] SteveMacenski commented on #767
This is a general EKF question. Please ask on ROS Answers.

[2022-07-19 03:44] #767 closed, assigned to nobody

[2022-07-22 11:20] ayrton04 commented on #763
If you look at the `test` file itself, you'll see this:

[code]

Note that we're fusing `yaw` from the IMU, i.e., we're fusing magnetometer data. The parking lot in question was full of magnetic interference sources, namely cars.

The regression test set isn't testing for accuracy. It's testing for a change in the filter behavior. If we make a change to the code and the state estimate changes dras

[2022-07-22 11:20] #763 closed, assigned to nobody

[2022-07-26 11:52] Timple opened #768 "Noetic release"
It's been over a year that a noetic release was made. PR #705 and PR #728 look like useful improvements.

Could a new release be triggered for Noetic?

[2022-07-27 11:40] ayrton04 commented on #768
Yes, apologies. Will try to get to that today.

[2022-07-27 12:23] ayrton04 commented on #768
https://github.com/ros/rosdistro/pull/33983

[2022-07-27 12:23] #768 closed, assigned to nobody

[2022-07-27 17:30] Timple commented on #768
Just after the last sync. So plenty of room to test.
Thanks!

[2022-08-01 13:00] dkati commented on #693
bringing up this, i would like to report that despite the fact that, the commit (https://github.com/cra-ros-pkg/robot_localization/commit/e9dfb75b5b6a2e53c00e47cc417d49cbad8b306d) is merged, it is NEVER released on the melodic ROS repository. When someone

, it installs 2.6.11 version where geographic lib commit is missing

[2022-08-03 14:35] ayrton04 commented on #693
Yeah, just needs to be bloomed. I can do that soon.

[2022-08-05 05:15] DoanNguyenTrong commented on #696
@astronaut71 Hi, can you please share with me how good you can achieve with this solution? What's happen with Odom after your robot runs for quite some time (let say 5hrs)?

[2022-08-08 13:03] ayrton04 commented on #693
https://github.com/ros/rosdistro/pull/34089

[2022-08-08 14:58] an99990 opened #769 "build robot_localization inside docker"
Hi,
I am trying to build robot_localization inside a docker and currently running into issues with GeographicLib. I have installed it via sudo apt-get install libgeographic-dev like suggested in [issue](https://github.com/ethz-asl/rotors_simulator/issues/520)

I also tried copying the file
`sudo ln -s /usr/share/cmake/geographiclib/FindGeographicLib.cmake /opt/conda/share/cmake-3.21/Modules/`

`ln

[2022-08-09 19:47] an99990 opened #770 "cant visualize odometry/filtered topic in rviz2"
Hi,
I am fusin rtabmap VO and wheel encoder topics together and would like to visualize the fusing odometry topic but i dont seem to be able to see anything in rviz.
Does anyone have an idea why ?

yaml file here

[code]

[2022-08-15 21:57] SteveMacenski commented on #769
Ask on ROS Answers

[2022-08-15 21:57] #769 closed, assigned to nobody

[2022-08-19 17:38] oskarmue opened #771 "rotational offset between odometry/gps and odometry/filtered"
Hi,
for the odometry/filtered I use the ekf_node in order to fuse a lidar_odometry source and imu data. Then I use odometry/filtered together with the imu/data for the navsat_transform node. It all seems to work fine, except that the Position from odometry/gps seems to have a roational offset from the Position calculated from lidar and imu (see image below, white is odometry/gps and red is odometr

[2022-08-21 16:02] oskarmue commented on #771
Could the reason for that be a magnetic field, that is influencing the imu and therefore the direction of the east is not measured correctly?

[2022-08-22 06:18] ayrton04 commented on #771
Thanks for the question. However, all questions should be directed to answers.ros.org or robotics.stackexchange.com.

[2022-08-22 06:18] #771 closed, assigned to nobody

[2022-08-22 09:29] ayrton04 commented on #770
Thanks for the question. However, we ask that all questions be directed to answers.ros.org or robotics.stackexchange.com.

[2022-08-22 09:29] #770 closed, assigned to nobody

[2022-08-22 14:47] austin-InDro opened #772 "ROS2 Humble Debian Package: parameter 'broadcast_utm_transform' has already been declared"
Hello,

There seems to be an issue with the current debian install of ros-humble-robot-localization
[code]
Issue:
[code]

Possible Temporary fix
[code]

I've observed this error on ARM and on x86 systems. The issue was also mentioned here on the ros forms: https://answers.ros.org/question/378284/robot_localization-navsat_transform_node-runtime-error/

However, it still seems to be prominent

[2022-08-22 14:52] ayrton04 commented on #772
https://github.com/cra-ros-pkg/robot_localization/issues/732
https://github.com/cra-ros-pkg/robot_localization/pull/733

Just needs to be ported and bloomed.

[2022-08-22 14:54] austin-InDro commented on #772
Oh nice thanks!

[2022-09-01 18:12] h2jaafar opened #773 "IMU with LiDar Fusion"
Hello,

Sorry if this is a trivial question;

I am trying to use slam_toolbox, and I require a odom to base_link transform, as well as odometry data.
We don't have wheel encoders on this specific robot, only LiDar and IMU.

My question is: will the sensor fusion of the lidar and imu be sufficient? Or is it necessary to have wheel encoders to provide a relatively accurate result?

[2022-09-02 08:44] ayrton04 commented on #773
Hi, thanks for the question. However, we ask that all questions be directed to answers.ros.org or robotics.stackexchange.com.

[2022-09-02 08:44] #773 closed, assigned to nobody

[2022-09-03 04:10] tosa-no-onchan commented on #459
quat.setRPY(0.0, 0.0, datum_yaw);
quat=quat.normalize();

[2022-09-10 14:25] Masoumehrahimi opened #774 "Pythong code for robot localisation (EKF)"
Hi,
Is there any python code for using robot localisation pkg?
I want to fuse imu, wheel odometer, gps, with slam odometry information through applying extended kalman filter. is there any code?

thanks

[2022-09-12 09:43] ayrton04 commented on #774
I'm not sure I understand the question. The package is written in C++. In any case, questions should go to ROS Answers, please.

[2022-09-12 09:43] #774 closed, assigned to nobody

[2022-09-29 11:54] nyxrobotics commented on #630
I want to adjust the parameters, is there a way to publish the current Mahalanobis distance as debugging information?

[2022-10-06 13:28] ayrton04 commented on #459
Surprised normalization is required:

https://github.com/ros/geometry2/blob/5d17166159a0f9e90197f37709355ce5d757bb02/tf2/include/tf2/LinearMath/Quaternion.h#L95-L110

Feel free to submit a PR.

[2022-10-23 13:20] peci1 opened #777 "#671 (UKF cleanup) leads to infinite loops and hanging of the whole state estimation"
**Describe the bug**
Running ukf_localization_node (or the nodelet) with #671 merged leads to the node stopping working a while after startup. The responsible commit was found with git bisect.

**To Reproduce**
Steps to reproduce the behavior:
1. Run on a Noetic computer
1. Download the bag [husky_ukf_bug.zip](https://github.com/cra-ros-pkg/robot_localization/files/9846635/husky_ukf_bug.zip)
2. Ru

[2022-10-24 09:52] ayrton04 commented on #777
Thanks, I'll take a look. I think I replaced those `wrapStateAngles` calls in ROS 2 with the methods in the `angles` library.

The old UKF logic wasn't really properly functioning as a UKF, so there are likely some parameters that need to be tuned now.

[2022-10-24 10:26] ayrton04 commented on #777
@peci1 the `671-wrap-angles` branch handles the wrapping better.

Looking at the logs you posted, I don't see a single IMU measurement being received by the filter. You are attempting to produce a 3D state estimate, but your roll and pitch values have no reference. See this covariance matrix:

[code]
All of your absolute orientation variables have massive covariance values, presumably because (a)

[2022-10-24 10:34] peci1 commented on #777
The thing with missing IMU measurements in the log is a consequence of the reported problem. If I comment out receiving odom messages, the filter processes the IMU messages. If both are used, the filter gets stuck earlier than the IMU measurements start coming.

You are right that the IMU messages are not coming for some time. Our IMU does bias estimation on startup and does not output anything un

[2022-10-24 10:59] ayrton04 commented on #777
That's because the filter won't start until it receives its first measurement.

It might still do that if the filter was able to get to that point before things started freezing. For that reason, maybe try the branch I mentioned to see if it helps?

Yeah, the filter was effectively not properly implementing a UKF. Now it is, and I also found that it's more sensitive to this kind of thing. But I'd

[2022-10-24 11:08] ayrton04 commented on #777
Yeah, one thing I am not happy about is this part of the logs:

[code]

 But then in the next prediction, we get

[code]

So the roll and pitch get projected into -pi and pi, respectively. Will dig into that.

[2022-10-24 11:54] ayrton04 commented on #777
OK, I think I spotted an issue with how Euler angles are projected. Fix is pushed to the same `671-wrap-angles` branch. Let me know if it helps.

[2022-10-24 12:00] ayrton04 commented on #777
No, that won't do what I thought. OK, I'll have to give the bag a go myself. Will try to find cycles for that.

[2022-10-24 13:08] peci1 commented on #777
Good, thanks a lot!

[2022-10-26 11:06] ayrton04 commented on #777
@peci1 can you do me a favour and add these parameters to your config file?

[code]

And then run and let me know how it goes.

[2022-10-26 11:07] peci1 commented on #777
Ok, do you mean on the real robot or just running with the bag file? The robot will not be available until next week probably...

[2022-10-26 11:09] ayrton04 commented on #777
I know it'll work on the bag file you sent, but if you have any others that caused failure, that would be great. But please at least verify on the bag you sent.

[2022-10-26 11:26] peci1 commented on #777
Ok, with the new parameters, it does not get stuck on the bag. However, the localization is still erratic when the IMU messages start coming.

Also, nans are lurking in (although not in any fatal way) - at least rviz says so when visualizing the odometries (`orientation shape_scale contains NaN: Vector3(-nan, 0.001, 1.84705)`). But I haven't seen any NaNs in the rostopic echo output, so it might b

[2022-10-26 11:37] ayrton04 commented on #777
Are you by chance filtering out the "bad" values from the bag before you run again?

[2022-10-26 11:40] ayrton04 commented on #777
I changed the launch file so it publishes to `odometry/filtered` again, and rviz seems happy for the entire bag:

![image](https://user-images.githubusercontent.com/5042191/198017055-75f95cde-53a0-4b4d-bf4d-ad7f0f05b75e.png)

[2022-10-26 11:43] peci1 commented on #777
What are bad values? You mean the time when only odom is coming? No, I was now testing on the same bag that's mentioned in the original post.

What fixed frame do you use in rviz to get this result? I used 'odom'.

[2022-10-26 11:44] peci1 commented on #777
Ah, I see, you mean the `/imu_odom` topic recorded in the bag. I forgot about it! I'll rerun my test.

[2022-10-26 11:47] peci1 commented on #777
Good, when filtering out the old /imu_odom topic, I see exactly the result you show (when scaling up the covariances a lot in rviz).

Do you have an explanation for the UKF parameter values that fixed it?

[2022-10-26 15:12] ayrton04 commented on #777
Well, I don't think it's really a fix, as it turns out. It will solve that particular issue, but that breaks other things (like our regression tests). I know the main issue; I just need to think of a solution. In the meantime, I'd either switch to the EKF or add the feature whereby we wait for all sensor inputs before starting the filter.

[2022-10-27 13:35] nyxrobotics commented on #630
This issue has not been resolved.
Can you reopen?

[2022-10-27 15:24] ayrton04 commented on #630
I'll reopen it if someone would be willing to PR the fix. :)

[2022-11-07 14:42] lkdo commented on #711
Hi.

The last news on this was that one of the unit tests is breaking as a result of the change.

I don't really understand why, so I tried a small change in the unit test UKF ImuDifferentialIO  ( which is the one that fails as far as I can see):

Changing:
   ros::Publisher imuPub = nh.advertise<sensor_msgs::Imu>("/imu_input3", 5);
 to
   ros::Publisher imuPub = nh.advertise<sensor_msgs::Imu>("/i

[2022-11-08 08:22] lkdo commented on #711
Oh, imu3_differential = true.

This is the difference.

[2022-11-08 14:22] Jad-Tawil opened #779 "Parametrization of Rotation"
After inspecting the code, it seems like the parameterization of rotation is done in roll / pitch / yaw angles. The innovation is normalized to avoid discontinuous jumps around pi/-pi, and after the state is updated, the angles are wrapped
.
I have read elsewhere that using roll / pitch / yaw is inadvisable because they are discontinuous and singular. Using quaternions is a better option.
https://

[2022-11-08 14:30] ayrton04 commented on #779
Yes, well aware that quaternions are preferable for numerous reasons. But this package is really in a "maintain" state at this point, with our focus moving to [fuse](https://github.com/locusrobotics/fuse). So I don't see it changing.

[2022-11-08 14:31] #779 closed, assigned to nobody

[2022-11-08 15:37] Jad-Tawil commented on #779
Thank you Tom, I am looking into fuse atm. I see it is using graph optimization instead of kalman filter. In graph optimization, is the parameterization of rotation i mentioned at play?

[2022-11-09 13:14] ayrton04 commented on #779
The kinematic model is independent of the underlying sensor fusion algorithm. Kalman filters can use quaternions and factor graphs can use Euler angles.

Unlike this package, which assumes a single kinematic model, `fuse` is built from the ground-up to allow any kind of kinematic model (or sensor model). For example, the package has constraints for 3D rotations represented as quaternions or Euler

[2022-11-09 13:40] Jad-Tawil commented on #779
That makes sense! Looks like a great package. Well done!

[2022-11-09 14:01] ayrton04 commented on #779
Credit is entirely to my colleague @svwilliams!

[2022-11-14 13:06] ayrton04 commented on #777
@peci1 can you try this branch again?

https://github.com/cra-ros-pkg/robot_localization/pull/778

Thanks!

[2022-11-14 14:29] peci1 commented on #777
Thanks, I'll have a look. I got busy in the meantime, but I think I can do this soon.

[2022-11-17 16:11] fabianhirmann opened #780 "Square-root UKF for better numerical stability"
In our robotics group we noticed that sometimes the UKF seems to be unstable without any clearly noticeable reason. Unfortunately we don't have (yet) any rosbag at hand when the situation occurred.
However, I just remembered that there exists also a square-root form of the UKF which should have better numerical stability [[1]](https://www.researchgate.net/publication/3908304_The_Square-Root_Unscen

[2022-11-17 16:28] ayrton04 commented on #780
It would be hugely helpful if you could provide more details. What version are you using? How is the instability manifesting? What is your configuration? And yes, of course, a bag file (and maybe sample input messages) helps a lot. While it may seem like the instability is without reason, there is usually another cause.

[2022-11-17 16:29] ayrton04 commented on #780
Oh, I should also note that this package is no longer adding new features. I would encourage users to switch to [fuse](https://github.com/locusrobotics/fuse).

[2022-11-18 09:36] fabianhirmann commented on #780
Thanks for your quick reply! It is interesting and good to hear that you recommend switching to fuse because we are currently actually in the process of that.

In any case, I spent now some time finding a situation where a strange behavior occurs. Very quickly summarized the pose there suddenly jumps from y = ~0 m to y = ~ -9m and the other data seems fine. We then "resolved" the issue by switchin

[2022-11-23 02:28] ijnek commented on #772
@ayrton04 May I request for a bloom in Humble and Rolling please? I believe the changes have already been ported.