[2017-09-24 15:48] ayrton04 commented on #371
Closing (question answered).

[2017-09-24 15:48] #371 closed, assigned to nobody

[2017-09-24 15:48] ayrton04 commented on #362
Closing. Feel free to discuss further and I will re-open if needed.

[2017-09-24 15:48] #362 closed, assigned to nobody

[2017-09-24 16:01] ayrton04 opened #377 "Allow direct integration of GPS data"
Right now, the process for integrating GPS data is, admittedly, a bit convoluted. While the circular dependency between the filter nodes and `navsat_transform_node` is necessary, it creates unnecessary confusion for users. This complex interaction between the nodes could be greatly simplified by just allowing the filters to work with the GPS data directly.

To that end, I propose that we add a `gp

[2017-09-24 16:02] ayrton04 commented on #326
Merged.

[2017-09-24 16:02] #326 closed, assigned to nobody

[2017-09-24 16:21] caseypen commented on #369
Hi All,
Thanks for replying. @tonybaltovski the swap size is set as default, it should be 100M.
The compiling of latest version is finished by several times of breaking and restarting. It can work now.
Thanks!
Chen

[2017-09-24 18:15] ayrton04 commented on #318
Merged.

[2017-09-24 18:15] #318 closed, assigned to nobody

[2017-10-13 13:14] yalan2017 opened #380 "RGB_D SLAM and IMU"
Hi
I am using [Rtabmap ](wiki.ros.org/rtabmap)and IMU in order to fuse my map with robot localization package but i have error and i try different way to solve but i could solve my problem. this is my [launch ](https://github.com/introlab/rtabmap_ros/blob/master/launch/tests/sensor_fusion.launch)file .
and we discussed before here [ 1 ](http://official-rtab-map-forum.67519.x6.nabble.com/tinkerforg

[2017-10-13 13:20] ayrton04 commented on #380
Hi! This board is for reporting bugs. Please direct questions to answers.ros.org. If you have already asked a question there, can you please direct me to it?

[2017-10-13 13:21] #380 closed, assigned to nobody

[2017-10-15 06:34] yalan2017 commented on #380
hi
im sorry for that, i have written my problem here :
https://answers.ros.org/question/261724/robot_localization-imu-and-visual-odometry-from-rtabmap/?answer=273047#post-id-273047
@ayrton04
thank you

[2017-10-20 14:53] ayrton04 commented on #336
Addressed in #381. I realize this is quite old, but if you still have need of it and have a chance to try it out, can you let me know how it goes? Thanks!

[2017-10-20 22:42] jacobperron opened #382 "Backport to Indigo"
Due to #353, `indigo-devel` has not been able to take advantage of updates.

By changing all instances of `#include <xmlrpcpp/XmlRpcException.h>` to `#include <XmlRpcException.h>` it seems to have resolved build issues under Indigo.

I'm not sure what best practice is for backporting changes. I have the fix in [my fork](https://github.com/jacobperron/robot_localization/tree/indigo-backport), shoul

[2017-10-21 14:33] ZakariaChekakta commented on #382
@jacobperron  sorry for this question but i don't understand why when we use#include <xmlrpcpp/XmlRpcException.h>  the compilation failed
but when we use #include </XmlRpcException.h> the package is compiled without any problem

[2017-10-21 20:02] jacobperron commented on #382
@chekakta No worries. I should have mentioned why.

It looks like the headers were pushed into a directory in [ros_comm](https://github.com/ros/ros_comm/commit/a8c5f9e95e6823417b67ee0da2fa0a91acd97ef5) starting with version 1.12.7. But, current ros_comm version for Indigo is 1.11.21 and so it doesn't have this change.

I posted about it in response to a similar issue on [ROS Answers](https://answe

[2017-10-21 20:13] jacobperron commented on #382
In retrospect, that change in ros_comm exports the old include directory for compatibility. I just confirmed that that both Kinetic and Indigo can build with the proposed change:

`#include <xmlrpcpp/XmlRpcException.h>` -> `#include <XmlRpcException.h>`

[2017-10-24 08:46] ayrton04 commented on #382
Repeating my comments from the PR:

The lack of backports for new features to Indigo was not solely a result of the xmlrpcpp issue, but became an intentional move to do a better job of "freezing" releases for each ROS distribution. There are a lot of Indigo users out there, and I'm concerned about breaking functionality for them. Even though all of my tests pass, some of the changes between Indigo

[2017-10-24 17:59] jacobperron commented on #382
Okay. Correct me if I'm wrong, but from what I understand there will be no more feature updates to Indigo releases up to EOL (2019). And if I desire to take advantage of new features or patches I should build Kinetic or Lunar branches from source (or migrate to one of those distributions).

The only hiccup I foresee is that future changes to the Kinetic and Lunar branches may break compatibility w

[2017-10-31 01:01] arihantb2 opened #384 "Frequent set pose calls stops the execution of imu callbacks"
I am running the ekf_localization_node with,
2 pose inputs
1 odometry input
1 imu input

When I send frequent (~1hz) set pose calls on the set_pose topic, the ekf stops processing imu input messages (stops processing imu callback) after a seemingly random instance of set pose call.

I find that commenting out the line
[code]
in setPoseCallback(...) seems to fix the issue. Let me know if you need a

[2017-10-31 08:24] ayrton04 commented on #384
Interesting. That function call will exit any active callbacks and will obviously not process any more for that particular spin cycle, but the callback queue should still work afterwards. It seems odd to me that it only happens for your IMU data and nothing else. Do you have `nodelay` turned on for any of the inputs? Is your IMU data especially high-frequency?

[2017-10-31 16:44] arihantb2 commented on #384
I do not have nodelay on for any of the inputs. The IMU data is coming in at about ~220hz. Although, it was easy enough to reproduce the bug at ~30hz too. What is strange is, all the other callbacks execute as expected after the event of the bug except for the imu callback. I tried adding multiple (duplicate imu configs in the params) and the callback connected to all the imu configs stop executin

[2017-11-01 11:20] ayrton04 commented on #382
Correct. In general, this is pretty common for ROS packages, where we add a bunch of features for new distributions and then just maintain those packages (read: fix bugs) once the distribution is released. Historically, I haven't really followed this paradigm, and tend to backport more or less everything.

However, there are a lot of people using the Indigo version, some of which are companies, an

[2017-11-01 16:47] jacobperron commented on #382
@ayrton04 Thanks!

[2017-11-01 16:47] #382 closed, assigned to nobody

[2017-11-06 21:22] candersen10 opened #385 "Is there any clean package that allows integration of LIDAR / SLAM information to be fed into the Localization Stack?"
Hello,

Is there any clean package that allows integration of LIDAR / SLAM information to be fed into the Localization Stack (in addition to GPS, IMU, Odometry)?  We are trying to do navigation with a breadcrumb style approach outside of the navigation stack in an outdoor environment, hence the question.

Thanks

[2017-11-07 17:42] arihantb2 commented on #384
Do you have any insight on what could be causing this? I can give you more information per your need.

[2017-11-07 18:00] ayrton04 commented on #384
Off the top of my head, no, but I haven't had any cycles to look into it, I'm afraid.

[2017-11-07 18:11] arihantb2 commented on #384
Like I mentioned earlier, commenting out the `ros::getGlobalCallbackQueue()->clear()` resolves this issue. Will doing that affect the node in any other way or is it harmless?

[2017-11-08 08:44] ayrton04 commented on #384
So the reason I clear the callback queue is so that we don't get into awkward situations like this:

Time `t1`: Node A sends a `set_pose` request to the EKF with timestamp `t1`.
Time `t2`: Node B sends pose data time timestamp `t2` (> `t1`) to the EKF that would conflict with the data sent in the `set_pose` call.
Time `t3`: EKF receives both messages and processes them. The `set_pose` request is e

[2017-11-08 08:46] ayrton04 commented on #385
This board is really for reporting issues with the `robot_localization` package. If you have questions, would you mind posting them at [answers.ros.org](answers.ros.org)?

[2017-11-08 08:46] #385 closed, assigned to nobody

[2017-11-08 19:45] arihantb2 commented on #384
Thank you for your insight. I will keep this issue open while I look into the cause.

[2017-11-23 11:23] pavloblindnology opened #387 "MahalanobisThresh parameter typo for IMU"
`twistMahalanobisThresh` should be instead of `poseMahalanobisThresh`.
https://github.com/cra-ros-pkg/robot_localization/blob/b086199c360ca00deba620a18899313aa8224463/src/ros_filter.cpp#L1338

[2017-12-04 09:23] ayrton04 commented on #387
Thanks for pointing out the bug. Care to submit a PR?

[2017-12-06 01:53] lfmaster opened #388 "Sometime state variance would be negative"
in the process of using the package, I found some strange behavior。
when looking at the log file, I found that state variance was negative。
like this :+1:

[code]

The negative variance is Bold words.

I dont understand how the state variance would be negative.

PS:
I use this package to fusion odom & amcl.
odom provide velocity & amcl provide pose.
when the robot velocity is near zero,the velocit

[2017-12-06 07:13] tcassell94 opened #389 "NavSatTransform: assumed static transform from imu frame to base frame"
Hi all.

There seems to be an assumed static transform from the IMU frame to the base frame. Therefore, if your IMU moves relative to the base frame (as ours does) then the output of NavSatTransform gets thrown way off. Say we drive 10m from the origin of the map frame, and then rotate our machine at our pivot point (base still, IMU rotating) NavSatTransform's estimate of our position rotates arou

[2017-12-06 08:27] pavloblindnology commented on #387
Ok

[2017-12-06 08:53] ayrton04 commented on #388
In my experience, this is always the result of at least one of your input measurements having a singular covariance matrix. Please post sample input messages from all sensors.

[2017-12-06 09:11] ayrton04 commented on #389
To which output are you referring? The `/odometry/gps` data (GPS coordinates, transformed to your robot's world frame) or `/gps/filtered` (your robot's world coordinates, transformed back into GPS coordinates)?

Does the GPS unit itself move w.r.t. the base? For `/odometry/gps`, the IMU is only needed to compute the initial transform from your robot's coordinate frame to the UTM coordinate frame.

[2017-12-06 22:58] tcassell94 commented on #389
I am referring to the `/odometry/gps` output. However, I could be wrong that it is the static transform that is the cause.

Yes. The GPS antenna is mounted above the IMU, both of which are on the axis of rotation that can rotate w.r.t. the base. Would a moving GPS antenna be the cause, rather than the static IMU transform?

[2017-12-07 02:25] tcassell94 commented on #389
I was looking through the source code on Github and it all made sense - couldn't figure out why the rotation was occurring. But I then thought to check my local version and it turns out that I had an older version of robot_localization which was missing [this line](https://github.com/cra-ros-pkg/robot_localization/blob/cf0aa7ee634df7f6eaf6f79c3a7c81131b6d0bf5/src/navsat_transform.cpp#L435). Settin

[2017-12-07 08:24] ayrton04 commented on #389
Someone literally just PR-ed that change, so you'd be forgiven for missing it! :) Thanks for the issue report.

[2017-12-07 08:24] #389 closed, assigned to nobody

[2017-12-07 16:54] #387 closed, assigned to nobody

[2017-12-07 16:54] ayrton04 commented on #387
Thanks!

[2017-12-07 16:56] ayrton04 commented on #337
I think this was addressed by #340? Let me know if you find otherwise.

[2017-12-07 16:56] #337 closed, assigned to sharst

[2017-12-07 16:56] ayrton04 commented on #336
Closing. Please reopen if you find this isn't fixed.

[2017-12-07 16:56] #336 closed, assigned to ayrton04

[2017-12-07 16:57] ayrton04 commented on #369
Can this be closed?

[2017-12-07 17:19] ayrton04 commented on #338
Fixed in #391.

[2017-12-07 17:19] #338 closed, assigned to ayrton04

[2017-12-07 17:38] ayrton04 commented on #327
Fixed.

[2017-12-07 17:38] #327 closed, assigned to ayrton04

[2017-12-07 22:28] BetterRobotics commented on #369
Hi Tom,

I still feel the problem could be rectified for ARM based projects but, I was unable to determine if it was indeed the swap running out due to time constraints. It would be nice if it was able to build on the ARM processor! But unfortunately I am unable to assist with correcting the issue however I can help with testing.

On 8 Dec 2017, at 2:58 am, Tom Moore <notifications@github.com<mail

[2017-12-08 01:38] caseypen commented on #369
Hi Tom,
Thanks for your help and replying. Actually I finishing compiling on
Raspberry Pi though with several times of out of memory error. But I think
it should work fine on other ARM based board with better configuration.
Best

Chen

On Thu, Dec 7, 2017 at 2:28 PM, BetterRobotics <notifications@github.com>
wrote:

[2017-12-16 14:02] frontw commented on #222
Hi!
Is there any update on this?
It's really a problem to use this package for coordinates at zone boundaries.
Could you, please, give a hint, how to possibly fix it?
Thanks!

[2017-12-21 21:44] tfoote opened #392 "Invalid generated cmake config files"
The latest release [2.4.1 on Kinetic](https://github.com/ros/rosdistro/pull/16599) is generating invalid CMake Config files.

Refiling: https://github.com/clearpathrobotics/cpr_multimaster_tools/issues/2

The first failed build was triggered by the release of robot_localization: http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__message_relay__ubuntu_xenial_amd64__binary/30/
![image](https://user-

[2017-12-21 22:44] ayrton04 commented on #392
Whoops. Not sure what's up there. Will investigate.

[2017-12-21 23:23] ayrton04 commented on #392
Not entirely sure what happened, but I tried re-blooming, and bloom wasn't happy when applying a patch to rules.em. I've got it back to a happy state, so we'll see how it behaves downstream. If it still gives us trouble, I'll roll it back and deal with it later.

[2017-12-22 00:04] tfoote commented on #392
Thanks for the quick turn @ayrton04 !
Cross reference: https://github.com/ros/rosdistro/pull/16636

[2017-12-22 00:05] ayrton04 commented on #392
Not convinced it helped. Rolling back to 2.4.0.

[2017-12-22 00:08] tfoote commented on #392
Yeah, it looks like the rebuild failed: http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__message_relay__ubuntu_xenial_amd64__binary/36/console

[2017-12-22 00:13] ayrton04 commented on #392
Yeah, I'm rolling it back: https://github.com/ros/rosdistro/pull/16638

Odd that it has a bunch of downstream projects, but only a [couple of them](http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__robot_localization__ubuntu_xenial_amd64__binary/) are failing.

If the rollback still fails, I'll pick it back up in the AM. Sorry for the trouble!

[2017-12-22 07:41] kenautics commented on #392
Rollback fixed it. I’ll investigate what broke and release again after the kinetic sync. Thanks for pointing it out!

[2017-12-22 07:44] ayrton04 commented on #392
Rollback fixed it. I’ll investigate what broke and release again after the kinetic sync. Thanks for pointing it out!

[2017-12-22 07:48] #392 closed, assigned to nobody

[2017-12-26 09:18] wangminhang commented on #377
where can see this part of code in ros_filter.cpp?

[2017-12-27 13:23] ayrton04 commented on #377
It doesn't exist yet. It's a feature idea.

[2018-01-02 17:31] ayrton04 commented on #222
I haven't had the cycles to address it, apologies. I would start here:

https://github.com/cra-ros-pkg/robot_localization/blob/kinetic-devel/src/navsat_transform.cpp#L479

Store the UTM zone, and if it changes, you'd have to re-compute the transform. You'd also have to re-subscribe to the IMU data.

[2018-01-03 08:42] ayrton04 commented on #392
Update: I ran a prerelease on this with a dependency level of 1, and was able to re-create the issue. We had a PR submission for some new libraries and a new node, but it wasn't installing said objects. I've fixed it and am running a prerelease test again. If that succeeds, I'll bloom.

Sorry for the trouble!

[2018-01-10 08:29] wangminhang opened #394 "How to use this software when some or all sensors has no covariance？"

[2018-01-10 17:13] ayrton04 commented on #394
Hi there. This board is meant for reporting issues with the software or requesting features. Please ask questions on answers.ros.org. If you already have, please direct me to it. Thanks!

[2018-01-10 17:13] #394 closed, assigned to nobody

[2018-01-19 09:53] laixinzuan opened #395 "robot_location ekf_localization_node"
Hi all,
   I'm working on fusing odom(x,y,yaw) and imu(yaw) for robot localization purpose.The robot worked well when it was started, but then the robot drifted. I try to push the robot movement, the robot will deviate from the track. Is this related to the setting of process_noise_covariance? imu、odometry's noise_covariance is set  separately in robot_pose_ekf, , but  imu、odometry's noise_covaria

[2018-01-19 10:00] ayrton04 commented on #395
This board is really meant for reporting bugs and requesting features. Please ask questions on answers.ros.org. When you do, please include your EKF config, as well as a sample message from every sensor input that you have.

[2018-01-19 10:00] #395 closed, assigned to nobody

[2018-01-25 14:32] eroniki opened #396 "Sensor Fusion with robot_localization"
Hello,

I am wondering how robot_localization package is formulating the sensor fusion problem if more than one sensor is used during the localization. Specifically, the sensors operate at different frequencies how this package handle the fusion of the measurements coming from different sensors.

Considering a robot equipped with an IMU, working at 50 Hz, and a camera providing visual odometry at

[2018-01-25 14:34] ayrton04 commented on #396
Hi,

Would you mind posting questions on answers.ros.org and pointing me at them? This space is mostly for bugs and feature requests.

Thanks!

[2018-01-25 14:34] #396 closed, assigned to nobody

[2018-01-25 14:37] eroniki commented on #352
@reinzor I have implemented a similar localization scheme. My RSSI localizer provides a global location, not the pose, by using trilateration method. In my case, the resulting estimations are converted [PoseWithCovarianceStamped](http://docs.ros.org/api/geometry_msgs/html/msg/PoseWithCovarianceStamped.html) messages. Therefore, the robot_localization package was able to use the estimations as sens

[2018-01-25 18:28] eroniki commented on #396
Hey Tom,
I posted the original question on the ROS answers. The link is provided below:

https://answers.ros.org/question/280831/specifics-of-sensor-fusion-algorithm-of-robot_localization-package/

Thanks in advance!

[2018-01-26 09:57] reinzor commented on #352
Hi Murat, thanks for the information! We are planning the same approach.

-Rein

On Thu, Jan 25, 2018 at 3:37 PM, Murat Ambarkutuk <notifications@github.com>
wrote:

[2018-02-08 20:52] nventuro opened #397 "Publishing frequency of navsat_transform when publish_filtered_gps is set is lower than expected"
`prepareFilteredGps` only returns `false` (and causes `run` not to publish) when `odom_updated_` is set, which happens every time `odomCallback` is called. This syncing mechanism using flags fails when the `frequency` parameter of `navsat_transform_node` is similar to the `/odometry/filtered` publishing rate (and relatively high, e.g. 100Hz).

On my setup, [the queue length of 1 on the subscriber]

[2018-02-18 12:32] positron96 commented on #165
Sorry to bring this issue up but I hope this is a right place to ask.

I am trying to use ```ekf_localization_node```  to create a ```odom -> base_footprint``` tf transform. For this I need other nodes (that capture raw odometry) to not publish this tf transform. But from these nodes I need various topics of types Odometry, Pose etc. And data in these topics must have a frame associated with them.

[2018-02-19 08:49] ayrton04 commented on #165
Thanks for the question. However, I would ask that you re-post the question on answers.ros.org. When you do, please be sure to include your full launch file/configuration, and a sample input message from each sensor input.

[2018-02-19 13:33] ayrton04 commented on #388
I'm not convinced that it's just `amcl`'s pose data that's giving you trouble. I'd have to see your full configuration/launch files, as well as a sample input from every sensor message. If you would like to continue this discussion, though, I'd request that you post on answers.ros.org.

[2018-02-19 13:33] #388 closed, assigned to nobody

[2018-02-19 13:45] ayrton04 commented on #397
Can you post your config/launch file and perhaps a bag? I'd like to be able to reproduce before I comment. What happens if you increase the `navsat_transform_node` to 200Hz? I'd also try adding the `tcpnodelay` flag to the subscriber to see if that helps. Are you seeing this when playing back data in a bag file, or live?

[2018-02-19 13:56] positron96 commented on #165
Thank you! I will move to ansers.ros.org then.

[2018-03-02 11:20] agoluberg opened #399 "navsat_transform should wait for valid time"
Filter node is waiting for the valid time (`ros::Time::waitForValid()`). The navsat_transform should use the same mechanism. When using the node in simulator in paused mode, the delay parameter for example is used up before I can start the simulator and therefore there is no actual delay compared to other nodes.

[2018-03-02 11:21] ayrton04 commented on #399
Sounds reasonable! Care to submit a PR?

[2018-03-05 13:28] tik0 opened #400 "Fusion of multiple absolute odometry sources"
Dear folks, I try to integrate multiple absolute position trackings with the robot_localization.
Unfortunately, the EKF jumps back and forth between odom0 and odom1 localizations (they originate from external tracking systems like GPS).
Is there a setup or launch file configuration which fuses both estimates in an optimal fasion: like weighted mean?

Here is my launch file configuration:
[code]

[2018-03-05 13:34] ayrton04 commented on #400
The EKF *is* fusing the estimates in an optimal fashion, as a weighted mean. The Kalman gain computes the optimal weighting for the state and measurement based on their relative covariances, and then fuses the measurement.

If your state estimate is jumping back and forth between your two measurement sources, it means that their covariances are probably too low. If sensor 1 reads some value with v

[2018-03-05 13:35] ayrton04 commented on #400
(Also, if you have further questions, I'd ask that you please post them on answers.ros.org).

[2018-03-05 15:09] tik0 commented on #400
Thanks for that hint.
A first try seems to solve the issue, but I need more investigation on that.
I will ask further implementation questions on answers.ros.org!

[2018-03-08 17:22] aalapshah12297 opened #401 "Question regarding sensor_timeout"
Hello, I am using robot_localization on a ground robot for getting filtered odometry by combining IMU data and raw wheel odometry. The problem is that my sensor frequencies are ~10 Hz for both.But I want to have odometry at around 20 Hz in order for my control to work accurately. So I have set the frequency to 20 Hz in the ukf parameters. This implies a sensor timeout of 0.05 (it is both the defau

[2018-03-08 17:25] ayrton04 commented on #401
Thanks for the question. However, we ask that all questions be directed to http://answers.ros.org.

[2018-03-08 17:25] #401 closed, assigned to nobody

[2018-03-13 22:04] aalapshah12297 commented on #401
Nevermind. I looked into the source and found that robot_localization uses a parameter called `predict_to_current_time`. Setting this to `true` via the parameter file fixed my problem. The timestamps are uniform now.

[2018-03-14 14:57] chungshan opened #402 "Add additional state"
I would like to ask:
Can I add additional state to the 15-dimensional state ?
For example, I want to estimate the force by EKF or UKF.
Thanks for your reply!

[2018-03-19 09:51] ayrton04 commented on #402
That won't be a trivial change. Supporting state vectors with different variable sets would require a fairly massive rewrite. You'd have to change the state transition functions, calculate the Jacobians, etc. If we were going that way, I'd suggest a plugin-based architecture, but that's going to require a fairly large amount of effort.

[2018-03-19 09:51] ayrton04 commented on #400
Great!

[2018-03-19 09:51] #400 closed, assigned to nobody

[2018-03-29 16:05] antoninhaulot opened #403 "Issue : Program navsat_transform_node does not subscribe to IMU topic"
Hello,

I am currently trying to use the navsat_transform_node in a ROS-Gazebo simulation. I'm using Ubuntu 16.04 LTS, with ROS kinetic and Gazebo 7.

My issue is that the navsat_transform_node does not subscribe to the IMU topic, even if the type of the IMU topic published by gazebo is sensor_msgs/Imu.
I used the navsat launch file from this tutorial : [http://docs.ros.org/api/robot_localization/

[2018-03-29 16:14] ayrton04 commented on #403
Hi, would you mind asking this on answers.ros.org and pointing me to it? Please post your full config, and a sample message from every sensor input. Also make sure you give me the topics names, please.

[2018-03-29 16:14] #403 closed, assigned to nobody

[2018-03-30 09:18] chungshan commented on #402
And another question, the published topics are `odometry/filtered`(the message type is `nav_msgs/Odometry`) and `/accel/filtered`(the message type is `geometry_msgs/AccelWithCovarianceStamped`) . Does it support other message type such like `geometry_msgs/PoseWithCovarianceStamped`? Because I would like to estimate orientation or force. Or I need to rewrite the code. Thanks!

[2018-03-30 09:28] ayrton04 commented on #402
No, it doesn't support that output, but note that a `nav_msgs::Odometry` _contains_ a `geometry_msgs::PoseWithCovariance` (see the definition [here](http://docs.ros.org/api/nav_msgs/html/msg/Odometry.html)), and it has a header, so it has a stamp. In other words, it contains the same data as a `PoseWithCovarianceStamped`, as well as velocity data.

However, the filter doesn't have force as a state

[2018-03-30 09:28] #402 closed, assigned to nobody

[2018-04-03 16:12] vkpankov opened #404 "Is it possible to use robot_localization for monocular SLAM scale estimation?"
Hello,
If I fuse unscaled SLAM pose with IMU I can get scale coefficient?
Thanks

[2018-04-04 12:33] antoninhaulot commented on #403
Here is the question on answers.ros.org : https://answers.ros.org/question/287090/navsat_transform_node-does-not-subscribe-to-imu-topic/

[2018-04-09 09:13] ayrton04 commented on #404
Hi,

Please ask questions on answers.ros.org.

[2018-04-09 09:13] #404 closed, assigned to nobody

[2018-04-18 02:11] #397 closed, assigned to nobody

[2018-05-01 20:01] kumarrt commented on #245
I was getting the same error, I tried `sudo apt-get install ros-kinetic-geographic-msgs` and it worked.

[2018-05-02 06:39] ayrton04 commented on #245
If you have a catkin workspace and are building any code from source, your first step should always be

[code]

This will automatically install all required binary dependencies for the packages in your workspace.

[2018-05-07 00:01] cyberphantom commented on #334
@ayrton04 I'm planning to use this package with my ARDrone. You mentioned that you had to make some modifications (IMU and Odometry) to the ardrone_driver. Can you please share these modifications?
I'm planning to use a simulation on Gazebo first then I will move to test it on ARDrone. I'm planning to fuse IMU sensor readings and cmd_vel command? Is there any example launch file?

Thank You,

[2018-05-07 12:28] ayrton04 commented on #334
I'm afraid I made those changes ages ago when I was working for another company. I don't have them. As I recall, at the time, the AR Drone package was outputting customized message types for sensor data, and I just made it output standard ROS `nav_msgs/Odometry` and `sensor_msgs/Imu` messages instead.

[2018-05-17 23:38] caiofis opened #406 "IMU Bias"
Hello, is there any way to removing the IMU bias during the fusion?

[2018-05-21 20:45] skohlbr commented on #406
Not yet AFAIK, a feature request with some discussion can be found in #249.

[2018-05-22 07:24] ayrton04 commented on #406
No, not at present, though as @skohlbr pointed out, there is a ticket for it.

The main reason this has not been implemented yet is simply time. Rolling the bias estimation into the filter itself is going to be a challenge, because we can support an arbitrary number of IMUs, which would mean we'd have to have dynamically sized states. It's a fairly major undertaking, and while I'd be more than hap

[2018-05-22 07:24] #406 closed, assigned to nobody

[2018-05-31 01:27] mattforestyoung opened #407 "Potential issue with UKF interpreting pitch and roll as yaw"
# Problem Description (TL;DR)

I've noticed lately that when the robot is travelling on a slope, the odometry output from the global ukf_localization_node develops a slight heading error, which makes the robot look like it is "skating" sideways slightly. E.g:

![skating](https://user-images.githubusercontent.com/17462459/40523683-608458f8-5fc6-11e8-83d9-60fb66bf7d67.png)

So in the above image, ev

[2018-05-31 15:13] ayrton04 commented on #407
Thanks for the very detailed report! Nice work. I'll review and digest as time allows.

[2018-05-31 15:16] ayrton04 commented on #407
BTW, have you tried this with the EKF?

[2018-06-04 20:45] mattforestyoung commented on #407
No I haven't actually. I'll strip the odometry from those bagfiles and run `ekf_localization_node`s over them with the same configuration to see if the output also looks like it's skating.

[2018-06-05 03:49] mattforestyoung commented on #407
Unfortunately it appears the same thing happens with the `ekf_localization_node`. For example, here is the UKF odometry displayed in RViz:

![slope_test1_ukf](https://user-images.githubusercontent.com/17462459/40954140-55208544-68d7-11e8-88f3-5ddd1c06a2f4.png)

And here is the EKF odometry:

![slope_test1_ekf_alt](https://user-images.githubusercontent.com/17462459/40954136-4f7c1126-68d7-11e8-9083-

[2018-06-05 03:54] mattforestyoung commented on #407
Oh, and here are the bagfiles using the same input data but with the EKF instead of UKF

- [slope_test1_ekf.bag](https://drive.google.com/open?id=1aJuTfY_o-hSGx5SGEzBXCX6-BHyzOQ02)
- [tilt_test_ekf.bag](https://drive.google.com/open?id=1b4iwPA4Upwn7gfSnFCZQ1CvUOYEbxb6p)

For reference, I used the exact same launch file, but launching EKF nodes instead of UKF nodes, and without the UKF tuning param

[2018-06-05 07:03] ayrton04 commented on #407
No, it's good that it's not in the filters themselves, but in a data preparation step. Will look into it when I have some cycles, thanks.

[2018-06-06 00:07] mattforestyoung commented on #407
No problem, as always I appreciate your help whenever you have the time to provide it. I see this behaviour pretty consistently on grassy, sloped terrain so if the problem is caused by the data, then I assume it is related to my configuration parameters for `navsat_transform` and `ukf_localization_node`.

Also, for reference I have a few extra IMU topics in these bag files, the only one I'm using

[2018-06-06 00:24] mattforestyoung commented on #407
Ah, I've just noticed a fatal flaw in my zero velocity update - I'm also subtracting linear acceleration bias which, when the robot is on a slope, will always have a non-zero component. I hadn't considered the fact that the gravitational acceleration will be distributed across all three of the robot's axes, rather than just the Z axis.

I'll make the necessary corrections, re-run my data and see i

[2018-06-06 00:25] akhil22 commented on #356
Hi,
I just have a quick question .. does current implementation of robot localization calculate the velocity covariances in differential mode using Var(x) - Var(y) or is it still adding the variances? if its the later I would like to change it to use Var(x) - Var(y). line 2798 in ros_filter.cpp seems to suggest that its the later case.

[2018-06-06 02:44] mattforestyoung commented on #407
Unfortunately the bug in my zero velocity update wasn't the problem, the data doesn't look any different from the original images. I have revised the bagfiles though, here are the fixed ones:

- [slope_test1_corrected.bag](https://drive.google.com/open?id=1X5D1_sKX5f1S9wbRqKnCnNqgP9f8f-hs)
- [slope_test2_corrected.bag](https://drive.google.com/open?id=1tWM1gtykzAmG_jArf-UJ_FGEjpUQ7ror)
- [slope_te

[2018-06-09 16:53] sean85914 opened #408 "nav_sat_transform tf from utm to odom time wrong"
I used nav_sat_transform to publish tf from utm to my odom frame "odom", but when I typed
$ rosrun tf tf_view /utm /odom
I always got the result like following
"""
At time 0.000
- Translation: [301576.529, 2719291.612, 0.000]
- Rotation: in Quaternion [0.000, 0.000, 0.556, 0.831]
            in RPY (radian) [0.000, -0.000, 1.180]
            in RPY (degree) [0.000, -0.000, 67.597]
"""
which the ti

[2018-06-10 10:16] tik0 opened #409 "Fusion of poses only"
I'd like to fuse positioning measurements which send their estimates via PoseWithCovarianceStamped messages.
However, if I just use `pose*` parameters, the `robot_localization` node won't start.

Here is an example configuration:
[code]
With the resulting error message:
[code]

As soon as I configure the `odom0` input and feed it, everthing works.
Is this a possible bug, or is it intended that at

[2018-06-11 07:44] ayrton04 commented on #409
Are you sure you don't have a dangling reference to `odom0` on your parameter server? Did you restart your ROS core before running? Do a `rosparam list | grep odom0` and see what you get.

That method that prints that error message is [here](https://github.com/cra-ros-pkg/robot_localization/blob/f0b540bbd0d645c31872aabbf1ced3c2491c9dbb/src/ros_filter.cpp#L2272). That method is called for `odom` [h

[2018-06-11 07:49] ayrton04 commented on #409
I made a launch file that contains only your launch configuration. Here's the output I see when I run it. Looks normal.

[code]

Now, if I create a dangling reference to odom0 (`rosparam set /ekf_wheel_odometry_4/odom0 test`) and run again, I get this:

[code]

[2018-06-11 07:50] ayrton04 commented on #409
I made a launch file that contains only your launch configuration. Here's the output I see when I run it. Looks normal.

[code]

Now, if I create a dangling reference to odom0 (`rosparam set /ekf_wheel_odometry_4/odom0 test`) and run again, I get this:

[code]

[2018-06-11 12:12] ayrton04 commented on #408
Thanks for the question. However, I would ask that you please ask all questions on answers.ros.org.

[2018-06-11 12:12] #408 closed, assigned to nobody

[2018-06-11 12:36] ayrton04 commented on #407
Looking at the images you posted, and taking a quick look at the bags, it looks to me like your IMU raw heading does not match your GPS. In other words, if you drive your robot in a long, straight line, the `atan` of the end points should be ~ what your IMU yaw reads. I'll verify and get back to you.

[2018-06-12 18:59] supermaro84 opened #410 "Preparing the IMU for ENU coordinate frame"
Hello,
I have a vectornav 200 IMU for which i am using the driver provided here:
https://github.com/dawonn/vectornav

I wasn't able to find a clear answer on how to prepare the IMU to be used in EKF node.
Apparently the IMU is publishing its orientation in NED frame. In case I would like to use the IMU with no translation and rotation wrt base_link,
1. How should the actual device be placed?
2. Wh

[2018-06-13 19:55] ayrton04 commented on #265
Hi Matt,

No, the branch isn’t functional yet. I got the core EKF and UKF to build, but the `RosFilter` class is ludicrously massive (it really needs to be refactored), and it’s taken a long time to work through it. I also had to take a hiatus to add parameter array support to `rclcpp`, because we need it for the sensor configs.

The real reason for the delayed development, though, is that we (Loc

[2018-06-14 06:53] ayrton04 commented on #410
Thanks for the question. However, I would ask that you please ask questions on answers.ros.org. Thanks!

[2018-06-14 06:53] #410 closed, assigned to nobody

[2018-06-14 06:53] ayrton04 commented on #409
Closing. If you have further trouble, please ask on answers.ros.org.

[2018-06-14 06:54] ayrton04 commented on #407
I haven't forgotten this, BTW. I need to work through your tilt tests and make sure that's just another symptom of the same issue.

[2018-06-17 21:38] mattforestyoung commented on #407
No problem Tom. Regarding my IMU, it is a fairly "cheap and cheerful" model, so the heading is often off by up to about 5 degrees, some times 10 on a bad day. It also tends to drift over time, which the ZUPT (and the data it produces on the `/imu/filtered/debiased` topic) largely deals with. Unfortunately that's about as accurate as it gets, even with calibration.

[2018-06-19 09:32] #409 closed, assigned to nobody

[2018-06-19 10:08] ayrton04 commented on #407
There are two parts to my answer. Here's part 1.

I stripped the bag file of all data aside from raw sensor input, and ran everything live. I removed `navsat_transform_node` just to isolate the issue. Here's a video of what I saw (for some reason, GitHub won't let me add the mp4 directly, so it's zipped):

[matt_rpy.mp4.zip](https://github.com/cra-ros-pkg/robot_localization/files/2114772/matt_rpy.

[2018-06-19 10:15] ayrton04 commented on #407
Part 2.

You also have some issues with your IMU w.r.t  its heading, as compared to what your GPS is saying.

First, consider this output:

![image](https://user-images.githubusercontent.com/5042191/41233265-df097b00-6d80-11e8-9ac0-e8a2de948c86.png)

That is what I get when I run your setup (that's the `/odometry/filtered/global` data in the map frame), and with the output without the `navsat_tran

[2018-06-19 10:44] ayrton04 commented on #356
It still adds them, I'm afraid. The filter assumes independence between the measurements. Changing that would require that we add yet another parameter, something like `odom0_differential_independent`. Not impossible, of course. Just needs to be done.

[2018-06-19 10:53] ayrton04 commented on #265
If by "compatible," you mean "will its interfaces be the same?" then yes. We'll support the same message input and output types, and I would assume we'd do a few more. Our goal would be to allow for it to be a drop-in replacement. However, it will obviously have very different looking parameters, though I'd be likely to make a conversion tool to ease that.

I'll dust off my ROS2 dev space and keep

[2018-06-19 11:01] ayrton04 commented on #399
Would you happen to have time to test [this branch](https://github.com/locusrobotics/robot_localization/tree/399-ntn-valid-time)?

[2018-06-19 11:10] agoluberg commented on #399
Sorry, I actually created the same modification but didn't submit it here. We are using the exact same code and it seems to work just fine. I don't have a possibility to test exactly this branch. We start Gazebo in pause mode and the node now waits until unpause is initiated.

[2018-06-19 11:57] ayrton04 commented on #399
Did you [also remove the ros::Time::init()](https://github.com/cra-ros-pkg/robot_localization/compare/cra-ros-pkg:f0b540b...locusrobotics:de60fdb#diff-dc270f64cc0f5f1b532a944e353b01e0L79)?

[2018-06-19 12:00] ayrton04 commented on #369
Have you tried compiling with `catkin build -j1`? I am going to close, but if anyone has time/interest, feel free to reopen.

[2018-06-19 12:20] agoluberg commented on #399
Yes. But if I think about that, I don't remember why exactly. I checked that EKF nodes both use the same code.  With init, the `g_use_sim_time` will be set to false. But that caused the problems (if I remember correctly). This is a problem only if used with simulated time. Live systems work well without this `waitForValid()` call.

[2018-06-19 12:24] ayrton04 commented on #399
The `ros::Time::init` shouldn't be necessary, because we're calling `ros::init` in `navsat_transform_node.cpp`. Just making sure it's working for you.

[2018-06-19 12:48] BetterRobotics commented on #369
Hi Tom,

As Chen mention it was in fact a memory error the pi is running out of memory before it can complete the entire build! Chen’s method of restart/build didn’t work for me. Unsure to why!

I have tried -j1 command but this didn’t not work as it’s not an over processing issue! It’s memory! From memory (going back a bit) I always failed at about 70% from a “fresh build” but never had success t

[2018-06-19 12:51] ayrton04 commented on #369
Yes, understood that it's a memory issue, but `-j1` forces a single thread, and so if we were compiling two or more source files at the same time before, compiling one should use less memory. Regardless, I can keep this open.

[2018-06-19 12:59] BetterRobotics commented on #369
Agreed, I feel the the -j1 option might have lead to Chan’s success but cannot stipulate any further, being a single thread means that when it runs out of SWAP memory the compiler and locks up the logging feature has a greater chance of actually resuming the build process in at the correct location. I will have a bit of time over the next few weeks to test it out. I’m not super linux orientated bu

[2018-06-19 20:23] agoluberg commented on #399
Yes, of course, init is done in the node.cpp. And yes, it is working as expected. Thanks!

[2018-06-20 15:20] diasdm commented on #251
Hello,
Sorry for posting in an old issue but my questions are closely related with this one.
* To my understanding this was never implemented, am I right?
* Is this worth it? (To my understanding the way it has been done so far is by fusing the value 0, with a low covariance, to the y axis velocity, as mentioned [here](http://docs.ros.org/lunar/api/robot_localization/html/configuring_robot_localiz

[2018-06-20 15:26] ayrton04 commented on #251
We have only one kinematic model in the state estimation nodes, correct. It is omnidirectional. If you feed it the right values, it effectively becomes the unicycle model in 2D.

[2018-06-20 15:42] diasdm commented on #251
Just to be clear, for a differential drive robot you don't think there would be an improvement in the estimation error if the kinematic model was the unicycle instead of the omnidirectional? Considering that both were feed with the right values.

[2018-06-20 15:51] ayrton04 commented on #251
The last time I investigated this, I believe I found that the kinematic model that we are using is equivalent to the unicycle model when you feed 0 values to all the 3D variables & Y. While I agree that a strict 2D kinematic model would be great, (a) the CPU usage for the node is already very low, (b) the model we're using is intentionally generic so as to support a wide range of robots, and (c) I

[2018-06-20 22:04] mattforestyoung commented on #407
Ok, addressing the IMU RPY first, it looks like the problem is that I've only been looking at the angular velocity rather than the quaternion-derived absolute roll, pitch and yaw. I (naively) assumed that the data from the magnetometer, gyroscopes and accelerometer would be consistent, but this obviously isn't the case. I re-wrote my plotting script from scratch and this is what I get for `2018053

[2018-06-21 20:45] diasdm commented on #251
Thank you for your view on the subject and for the additional information. Looking forward to hear more about the (possible) plans for the new package! In the meantime I'll take a look at the code and see what I can do without spending too much time.

[2018-06-27 01:20] mattforestyoung commented on #407
Apologies for taking so long to address the odometry issues. It's taken a while to re-write my plotting code and recent weather has stopped me from collecting data outside.

Ok, so to begin with I think the heading reported by my IMU is correct. I did a few "drive in a straight line" tests like you suggested, and in each the IMU heading roughly matches the GPS heading:

Trajectory:
![20180627_line

[2018-06-27 09:22] ayrton04 commented on #407
Re: how I generated the plot in question, I just removed the GPS as an input to your second-tier EKF.

In any case, it looks like you have a good handle on this now. Maybe file a ticket about IMU cal for the Husky? I'll close for now, but feel free to re-open if you find compelling evidence of an issue in r_l.

[2018-06-27 09:22] #407 closed, assigned to nobody

[2018-06-27 15:49] ayrton04 commented on #265
OK, I have this building and running, though I am having trouble with building the ROS 1 bridge so as to produce data to test it. But if anyone is interested, you can run with your config file by doing this:

[code]

If anyone happens to have time to give it a shot and wants to share results, that would be great.

[2018-06-29 14:16] Mondo92 opened #412 "Unable to use navata_transform node"
Hi everybody,

I would ask for help to use the navata_transform node. I've a robot which publishes only:
- a GPS message topic (sensor_msgs/NavSatFix message)
- a IMU message topic ( sensor_msgs/Imu )
I'm trying to simply convert the latitude/longitude/altitude in the relative x/y/z position without running any other node in the robot (rviz, ekf/ukf,...).
Is it possibile in your opinion? Can I rea

[2018-06-29 14:19] ayrton04 commented on #412
Can you please post this question on answers.ros.org and point me to it? Thanks.

[2018-06-29 14:19] #412 closed, assigned to nobody

[2018-06-29 18:16] Mondo92 commented on #412
I've already post the question on answer.ros.org, thanks for your prompt reply.
I'm sorry but I can't find out how to tag users in this site. Anyway, the link of the question is below.

https://answers.ros.org/question/295803/unable-to-use-navsat_transform_node/

[2018-07-11 03:50] caiofis opened #413 "IMU wrong Z estimation"
I have noticed a wrong Z estimation when fuse my wheel or visual odometry with an IMU. The overall shape of the trajectory seems pretty good, but mirrored in the Z axis. This way when the robot goes up a hill in the estimation is seems like a down hill.
I am only fusing the angular velocity from the IMU, since my linear acceleration seems too noisy. Is it related with the ambiguity between NED/ENU

[2018-07-16 10:25] ayrton04 commented on #413
Thanks for the question. However, we ask that all questions be posted on answers.ros.org.

[2018-07-16 10:25] #413 closed, assigned to nobody

[2018-07-25 15:22] ghost commented on #18
It's been a couple of years, but has this issue been reopened and implemented? I am trying to make sure I am not missing anything.

Thanks!

[2018-07-25 15:27] ayrton04 commented on #18
No, it hasn't. I decided, in the end, that it made more sense for users to make sure their data was correct, rather than relying on the EKF to override anything.

[2018-08-17 08:23] ayrton04 commented on #265
Thanks, @mkhansen-intel. I have been so far unsuccessful in working with the ROS1 bridge so as to actually play real robot data back through it. If it doesn't work right away, I wouldn't burn too much time on it.

[2018-09-04 14:14] subodh-malgonde commented on #369
`catkin_make -j1` worked for me. It took a long time for the code to build though.

[2018-09-13 18:35] SteveMacenski opened #416 "Dynamic Covariance Scaling"
When the robot is not moving the dynamic scaling seems to zero out the covariance (the diagonal of `P` in the similarity transform and its transpose is `0`).

When this is 0, that represents both a symmetric matrix as well as represent extremely high confidence in our measurements? I believe the intended application for this when the norm of the velocity vector is zero or near zero is to apply a h

[2018-09-13 18:38] SteveMacenski commented on #416
For context, this came up when fusing in a couple of sensors with tricky and changing biases I'm still not 100% catching, so when standing still for long periods I see a little drift that I hadn't seen beforehand.

[2018-09-14 08:34] ayrton04 commented on #416
So just backing up, the prediction step predicts the next covariance as `P_pred = JPJ' + Q`. If the robot isn’t moving at all, we zero out `Q` via the method you linked. This prevents the state estimate covariance `P` from growing when we’re stationary. If the robot is moving and then stops, it doesn’t make sense for its uncertainty to grow once it’s at rest.

As far as scaling with velocity, the

[2018-09-14 18:14] SteveMacenski commented on #416
Thanks for the detailed response - I appreciate it, helpful context for what I was proposing for other use cases. I was thinking of this in a different way but your explanation clarifies the motive. I think I got my wires crossed thinking it was scaling the sensor covariances rather than process `Q`.

I did mean ticks per second, thanks for catching that. I would rue the day when someone made a va

[2018-09-15 09:27] UnexpectedLobster commented on #249
+1 That would really be a killer-feature. Any updates ?

[2018-09-15 09:30] ayrton04 commented on #249
Sorry, I don't know that this will see the light of day. In order to properly estimate the biases, we'd have to dynamically adjust the size of the state vector to track the biases. Since we can have as many sensors as we want, we'd have to be able to scale the state vector and covariance matrix to arbitrary sizes, and that's going to be a huge undertaking that I simply don't have the cycles for.

[2018-09-17 12:01] UnexpectedLobster commented on #249
Thanks @ayrton04 for keeping us up to date, hope to see this successor soon !

Cheers

[2018-09-17 15:53] rokusottervanger opened #417 "Feature request: discard erroneous measurements"
Using statistical methods, it is possible to draw conclusions about the validity of the combination of a measurement and the predicted state. If a measurement (including its covariance) is not consistent with the predicted state estimation (and its respective uncertainty), it implies that either the physical model or the measurement is incorrect. I would assume that in most cases, the measurement

[2018-09-17 16:05] ayrton04 commented on #417
This is the reason for the `*_rejection_threshold` parameters. They are specified as Mahalanobis distances, and they will use the EKF's current covariance estimate (along with the covariance measurement from the sensor) to determine whether to reject the measurement:

https://github.com/cra-ros-pkg/robot_localization/blob/kinetic-devel/src/ekf.cpp#L185
https://github.com/cra-ros-pkg/robot_localiza

[2018-09-17 18:37] rokusottervanger commented on #417
Ah that's nice. I must admit, it's been a while since I looked at the code,
so I didn't know it was in there. We'll have a look, try it, and get back
to you if it doesn't solve the case. Thank you!

On Mon, Sep 17, 2018, 18:09 Tom Moore <notifications@github.com> wrote:

[2018-09-20 17:08] jabobian commented on #249
Thanks @ayrton04 for updating this issue.

I wonder if the gyro bias issue mentioned by skohlbr is also related to modern IMU (with gyro and magnetic sensors). Such IMU can fuse the gyro and magnetic data to get a more stable angle output. The bias of gyro can be filtered in AHRS algorithms such as the following one:
http://x-io.co.uk/open-source-ahrs-with-x-imu/
which says: The filter also incorp

[2018-09-24 07:38] #417 closed, assigned to nobody

[2018-09-24 08:01] ayrton04 commented on #416
So I would gladly welcome a PR that implemented any of the above. I should just continue to warn users, though, that we are (as time allows) actively developing the successor to this package. Having said that, it may be some time before I can exactly replicate the behavior of the EKF/UKF in the new package, and I'm certainly not against new features.

[2018-09-24 14:16] rokusottervanger opened #418 "What happens when an odom topic specifies another child_frame_id than base_frame?"
I've been looking through the code (especially in the measurement callbacks and the `correct` method in the EKF implementation), and it seems that the `child_frame_id` in `odom` messages is not taken into account.

What I think should happen is that the measurement model (converting state to measurement, as part of the `correct` step), should take into account the offset of the sensor using the tr

[2018-09-24 14:25] ayrton04 commented on #418
The odom message gets split into a pose and a twist component, and each are processed in the same manner as they would be if they were published as separate messages.

We're setting the twist component frame here:

https://github.com/cra-ros-pkg/robot_localization/blob/kinetic-devel/src/ros_filter.cpp#L1631

So the data in question will get transformed from `message.child_frame_id`->`base_link_fra

[2018-09-24 14:28] rokusottervanger commented on #418
And what about the pose part of the odom message?

[2018-09-24 19:16] SteveMacenski commented on #416
I saw the Fuse package and briefly went through it. I see it's implemented not far off from how Cartographer wraps up Ceres which I thought was interesting. The design intent to cover EKF/UKFs is still a little unclear to me but I'm familiar with how I've used those tools for SLAM pose-graph optimization and at the end of the day this is all just an optimization problem.

Any preference of the rec

[2018-09-26 09:49] ayrton04 commented on #418
It gets processed here:

https://github.com/cra-ros-pkg/robot_localization/blob/kinetic-devel/src/ros_filter.cpp#L1618

And we re-use its header, so it keeps the `frame_id`, which is what we want.

So, to summarize, in `r_l`, all pose data gets transformed from the sensor's reported frame to the `odom_frame` frame from your configuration. All velocity data gets transformed from the sensor's report

[2018-09-28 20:37] jwag opened #420 "Gyro Only Orientation Localization Error"
Hello,

I think I may uncovered an issue with the way robot localization handles gyro data. I am using a Clearpath Jackal robot and the onboard imu which is mounted so that the x-axis faces towards the front of the robot, the y-axis to the left, and the z-axis up. Gyro and accell data is published on the topic /imu/data_raw. The orientation part of the message is set to all zeros with a -1 value f

[2018-10-02 07:17] ayrton04 commented on #420
So I think this should most likely be a question on answers.ros.org, but at the very least, to investigate this, I'll need your full configuration file.

[2018-10-02 07:37] ayrton04 commented on #420
By the way, for your test, you need to _also_ be fusing linear velocity data. If you only fuse angular velocity data into the filter, your covariance matrices are going to explode (see below), because you're not measuring X, Y, Z, or their velocities. When the covariance matrices explode, it can lead to strange behavior. Not saying that's what's causing this necessarily, but it needs to be correct

[2018-10-02 16:01] jwag commented on #420
Ok. Thank you. I made a simple TwistWithCovarianceStamped publisher and set all values to 0 including the covariances. Should they be some small positive number instead? I set the frame_id to base_link which is coincident with imu_link.

I then modified the yaml file to include the linear velocity from the twist message. I then reran the same test which results in the same behavior as before. More

[2018-10-11 13:10] ayrton04 commented on #420
I just wanted to let you know that I haven't forgotten about this. I will get to it as soon as I can. Thanks!

[2018-10-22 10:45] jellevos opened #421 "Doc explains old behaviour for removing gravitational acceleration"
In the doc page for state estimation nodes (http://docs.ros.org/kinetic/api/robot_localization/html/state_estimation_nodes.html) it says under `~imuN_remove_gravitational_acceleration` that the accelerometer should be providing an absolute orientation measurement to correctly remove the gravitational acceleration from the measurement.

In pull request #247 this was fixed:
https://github.com/cra-ro

[2018-10-22 11:24] ayrton04 commented on #421
Agreed. Care to submit a PR?

[2018-10-25 21:26] peterpanda01 opened #423 "navasat_transform_node: GPS sensor requirments"
I've successfully developed my ekf_localization_node to publish /odometry/filtered; i have a sensors publishing /imu/data and /gps/fix. However when i try to feed this data to the navsat_transform_node it doesn't publish anything to the /odometry/gps topic? Do i have to have a second ekf_node that configures the topic to an odom sensor? Do i need to have a certain amount of covariance in the /gps/

[2018-11-06 16:35] ayrton04 commented on #423
Hi, and thanks for the question. However, I ask that all questions be asked on answers.ros.org. If you already have, can you please point me to it? Thanks.

[2018-11-06 16:35] #423 closed, assigned to nobody

[2018-11-16 05:03] Rohita83 commented on #265
As per suggestion in https://discourse.ros.org/t/robot-localization-porting-to-ros2/6379/6, i am just Re-posting here below.

@ayrton04, For r_l initial testing, we have pulled r_l source from ros2 branch of the r_l repo and also pulled test folder from kinetic-devel. We are currently working on migrating test cases and we have ported/executed only “FilterBaseTest” testcase successfully but for re

[2018-11-22 09:10] Gaochao-hit opened #426 "How to integate the package with sensors such as lidar or cameras?"
I am little confused with the package about how to integrate it  with laser. If I have an IMU, an odometry and a laser, should I input the pose estimated by registration of cloud points ?

[2018-11-22 09:57] ayrton04 commented on #426
Thanks for the question. However, we ask that all questions be posted on answers.ros.org. Thanks!

[2018-11-22 09:57] #426 closed, assigned to nobody

[2018-11-22 15:40] arnaudpenfornis opened #427 "datum service not running in melodic"
We have recently upgraded our project from kinetic to melodic and we are facing an issue.
The datum service worked fine on kinetic and now it is not even running.
We have checked the diff between the two branches and we can't figure out what change can cause this.

We tried on our melodic project:
- Build the kinetic branch, it worked.
- Build the melodic branch, no error are shown and the nodes a

[2018-11-22 15:55] ayrton04 commented on #427
Not sure. The service is still there:

https://github.com/cra-ros-pkg/robot_localization/blob/melodic-devel/src/navsat_transform.cpp#L95

Have you verified this on different machines? Any chance you can try running from binaries?

[2018-11-22 17:55] schadocalex commented on #427
I found why, here's the PR: https://github.com/cra-ros-pkg/robot_localization/pull/428

[2018-11-23 03:59] ScottYu779 opened #429 "how to understand differential mode and relative mode?"
in the yaml file,the follow tow parameters :imu0_differential: false  imu0_relative: false will be parsed to be two mode variables,but when i reading the src,i found the two mode is hard to understande,please help me!

[2018-11-23 09:07] ayrton04 commented on #429
Thanks for the question. However, I ask that all questions be directed to answers.ros.org. If you already asked it there, can you direct me to it? Thanks.

[2018-11-23 09:07] #429 closed, assigned to nobody

[2018-11-23 10:55] ayrton04 commented on #427
Ah, this is a side effect of the move to nodelets.

We used to declare the datum service server locally, because it was in the main `run` method:

https://github.com/cra-ros-pkg/robot_localization/blob/81f7d9b4f88165567ef433c7ca75cb6042fa46c1/src/navsat_transform.cpp#L105

But for Melodic, there was a PR to move to nodelets, and that service moved to the constructor, which obviously doesn't work.

[2018-11-27 09:18] #427 closed, assigned to nobody

[2018-11-27 10:11] ayrton04 commented on #420
Confirmed that this is a bug. I know what's wrong. Will make a branch. Would you be willing to test it?

[2018-11-27 12:17] ayrton04 commented on #420
PR submitted. Feel free to clone that branch and try it. The branch is relative to `melodic-devel`, but it ought to build in most environments. I'll backport the change to all relevant releases and bloom once it's merged.

[2018-11-28 13:51] mbudris commented on #18
As you said "Users don't always have control over the nodes that produce sensor data.". How people overcome the particular case of inflated Z_vel covariance these days? Because the robot takes off immediately. I'd like to have the two_d_mode set to false, since the robot will be operating at slopes.

[2018-11-28 13:54] ayrton04 commented on #18
Please ask this question on answers.ros.org. When you do, please provide details of your robot, the problem, and sample sensor messages.

[2018-11-28 14:09] nihad-s commented on #420
I tried the new branch with my IMU and now it finally works fine. The orientation calculated only from the angular velocities looks finally like the rotation vector internally calculated by the IMU. I have however sometimes discrete jumps in the orientation output but it might be something else as I don't have any other input as of right now except the angular velocities.

[2018-11-28 14:20] ayrton04 commented on #420
Oh? As this is new code, I'd be interested in seeing the discontinuities, if it's not too much trouble.

[2018-11-28 14:25] ayrton04 commented on #18
Also, I'd note that this would require a code change for `r_l`, or it would require a code change for the node that produces the sensor data. As long as we're changing code, why not fix the driver?

[2018-11-28 14:52] nihad-s commented on #420
[loca_discrete_jumps.bag.zip](https://github.com/cra-ros-pkg/robot_localization/files/2625060/loca_discrete_jumps.bag.zip)
I am not sure if this is a good format to show my results. I recorded in my bag the input IMU topic of the ekf node and the generated tf and filtered/odometry. I used a very simple launch file for this. Really severe discontinuities are at around 50s and 1.15s where the odom j

[2018-11-28 15:28] ayrton04 commented on #420
Ah, misunderstood you before. That's literally the only data you're fusing? No linear velocities or pose data? You're likely seeing covariance explosion and instability, in that case.

[2018-11-28 15:38] nihad-s commented on #420
Yes, that's the only data I am fusing in that example, reducing the process noise covariance values would probably make it work a little longer, but eventually something like that is supposed to happen without correction. I was just not sure if that was the problem or something else so wanted to make sure and ask.

[2018-11-28 17:46] mbudris commented on #18
I will, after I'll read all the q&a to not to make duplicates. There should be a workaround since r_l lives for long time now.

[2018-11-30 10:41] johuber opened #432 "[EKF] Parameter `imuN` contains and uses fields for x,y,z, vx,vy,vz"
The fields for `x,y,z, vx,vy,vz` in the parameter `imuN` first of all make no sense, because an Imu message does not contain these; even worse though, they are actually used by the filter.
Hence, if somebody was to set the field of `vx` to `true` the filter will accept this and introduce a velocity measurement of value 0.0 with 0.0 covariance, which is highly undesired.

The parameters should eith

[2018-11-30 11:20] ayrton04 commented on #432
The parameter specification is uniform to avoid confusion, though I realize it can have the opposite effect. In any case, I don't think changing the parameter specification at this stage in the package's life cycle is a good idea.

The issue is easily fixed by a small change to the IMU configuration loading. We just need to mask off the `X, Y, Z` and `vX, vY, vZ` variables when we load the IMU con

[2018-11-30 13:26] johuber commented on #432
I see that, that's also ok like this.

The suggested change looks very reasonable. However, I currently don't have capacity to do it myself.

[2018-12-06 09:35] Gaochao-hit opened #433 "confused by robott_localization by the process of predict and correct in filter?"
Hello, I am confused by the processMeasurement() function in filter_base.cpp . Both predict and correct use the same measurement ? In normal EKF, I think one measurement is used for predict, another for correct.
[https://answers.ros.org/question/310100/confused-by-robott_localization-by-the-process-of-predict-and-correct-in-filter/](url)

[2018-12-08 00:58] #433 closed, assigned to nobody

[2018-12-10 09:55] Rohita83 commented on #265
@Tom_Moore, We are pleased to inform that we have migrated most of the robot localization tests into ROS2. Thanks to you , Matt Hansen and ros/discourse community for support.

But there are certain limitations as of now.
1)As rosbag is not available in ros2, we need to use ros1 bridge for few test cases.
2)rostest is not avaliable in ros2 and all .test files are converted into launch.py that can

[2018-12-14 11:57] poonam1120 opened #434 "Failed to build robot localization code by sourcing head/master ros2 branch"
Required Info:
    Operating System: Ubuntu 18.04
    ROS2 :- master/head branch

Bug report:-
I had imported ros2 branch of robot localization (https://github.com/cra-ros-pkg/robot_localization/tree/ros2)
and tried to build by sourcing ros2 latest release branch (as per migration guide),it worked fine.
But when I try to build the same by sourcing master/head branch of ros2, colcon build failed th

[2018-12-19 13:37] ayrton04 commented on #434
Have you tried it against the ROS Crystal binaries?

[2018-12-19 13:38] #420 closed, assigned to nobody

[2018-12-19 13:39] ayrton04 commented on #416
I'm assuming you are OK with me closing this. Feel free to reopen if you feel this ticket isn't addressed by your changes.

[2018-12-19 13:39] #416 closed, assigned to nobody

[2018-12-19 13:40] ayrton04 commented on #418
Mind if I close this ticket?

[2018-12-19 13:43] ayrton04 commented on #384
I apparently neglected the fact that we already check for the timestamp when we received a set_pose, and don't process any messages that arrive with timestamps older than that. I removed the callback queue clearing a while ago, so this should be fine now. Clearing the global callback queue clearly has some strange side effects.

[2018-12-19 13:43] #384 closed, assigned to nobody

[2018-12-19 18:30] poonam1120 commented on #434
Yes , I  tried with ROS crystal release.
After adding one line of code in ros_filter.cpp , it built successfully.
[code]

[2018-12-20 12:39] rokusottervanger commented on #418
I still don't see how an off-center position measurement could be handled correctly with the code you pointed out to me. I see that poses are "prepared", meaning, among other things, they are transformed to the `base_link` frame. However, this cannot be done unless at least the robot's orientation is already known, which is not always the case.

For example, an (extended) Kalman filter is neatly c

[2018-12-20 17:20] ayrton04 commented on #418
No pose data is transformed into the `base_link` frame. Only velocity data is. All pose data gets transformed from its `frame_id` to the EKF `world_frame` parameter (usually _map_ or _odom_). All twist data gets transformed from the `child_frame_id` (for nav_msgs/Odometry messages) or the `frame_id` (for TwistWithCovarianceStamped messages) to the `base_link_frame` EKF parameter (usually _base_lin

[2018-12-20 19:05] poonam1120 commented on #434
Hi Tom,
After adding one line of code as above , some of my test cases are failing due to timing issue.
Do you have any idea/suggestion if that one line is affecting the timing setup.
Thanks.

[2018-12-20 20:15] rokusottervanger commented on #418
Thanks for your extensive and patient answers! This clarifies things. I'll close the ticket.

[2018-12-20 20:15] #418 closed, assigned to nobody

[2018-12-26 13:26] Rohita83 commented on #265
Hi All,

We have successfully built and tested the robot localization code on the ros2 crystal as well.
Please find the updated source path below which also includes ros2_migration_readme.md
for more details . Any improvements/suggestions are always welcome.

Branch Name: ros2-crystal-devel
URL Path: https://github.com/Rohita83/robot_localization/tree/ros2-crystal-devel

[2019-01-02 08:45] ayrton04 commented on #265
Branches are now `bouncy-devel` and `crystal-devel` on the main repo. I think we can consider this ticket solved. Thanks for everything, @Rohita83!

[2019-01-02 08:46] #265 closed, assigned to nobody

[2019-01-02 09:28] Rohita83 commented on #265
Thanks @ayrton04 for accepting the robot_localization code changes. What is the next step to get it onto ROS2 repo (bouncy/crystal).

[2019-01-09 09:57] ayrton04 commented on #434
Once [this](https://github.com/cra-ros-pkg/robot_localization/pull/436) is merged, can you try again?

[2019-01-17 13:38] maracuya-robotics opened #441 "Document undocumented parameters"
Some parameters like `predict_to_current_time` (and maybe more?) are not documented.

[2019-01-17 13:39] ayrton04 commented on #441
Thanks for the report. I'd welcome a PR!

[2019-01-17 13:41] maracuya-robotics commented on #441
Wow, that was fast!

Found another one, `disabled_at_startup`. IMHO documentation should be done by someone who knows what these parameters do. I can just guess by the name and by looking at the code.

[2019-01-18 04:02] GrantDare opened #442 "Inaccurate initialisation of utm->map causing inaccurate gps goal pose estimations"
I am using this package to localise a robot for outdoor navigation. My issue is that when I use the _RobotLocalization::NavsatConversions::LLtoUTM_ to convert a GPS point to UTM and then listen to the utm->map transform provided by the navsat transform node to get a map frame goal, the goal is always wildly inaccurate by a random amount (both distance and heading from robot). The odometry pose of

[2019-01-18 16:59] ayrton04 commented on #442
So before we suggest that this is a bug, I think it should be a question on answers.ros.org. When you ask it, please include the code you are using to transform the data, and then direct me to the question here.

Offhand, it sounds like you may be using the inverse of the transform you actually want.

Once we get the `utm->map` transform, every single GPS point that we receive is then (a) converte

[2019-01-18 21:52] GrantDare commented on #442
Thank you @ayrton04  for the speedy response. I have had a [question](https://answers.ros.org/question/312848/navsat_transform_node-utm-map-transform-is-highly-inaccurate/) up on ROS answers and have just modified it to include some further information to assist you :)

[2019-02-01 06:01] ArtlyStyles opened #444 "How to set the parameter yaml file?"
He I am running a robot car which has odom. the odom steering (yaw) is not very accurate so I would like to use the on-car-imu to correct it. How can I set the odom0_config and imu0_config?

[2019-02-01 08:12] ayrton04 commented on #444
Hello,

Please direct all questions to answers.ros.org. Thanks!

[2019-02-01 08:12] #444 closed, assigned to nobody

[2019-02-11 15:05] diasdm opened #445 "broadcast_utm_transform_as_parent_frame not found in documentation"
Hello,
As far as I know, the parameter broadcast_utm_transform_as_parent_frame is used in [r_l](https://github.com/cra-ros-pkg/robot_localization/blob/f6bf556407945e7b192c78959c51d2f10f62e488/src/navsat_transform.cpp#L84), but it is not mentioned in the [documentation](http://docs.ros.org/melodic/api/robot_localization/html/state_estimation_nodes.html). Shouldn't it be?
It is already described [he

[2019-02-11 15:06] ayrton04 commented on #445
Agreed. Care to submit a PR?

[2019-02-11 16:01] diasdm commented on #445
Done, #446

[2019-02-13 15:48] #445 closed, assigned to nobody

[2019-02-14 12:33] diasdm commented on #441
I think these are all the undocumented parameters for the documented nodes.

In `navsat_transform.rst` is missing:
* transform_timeout (only documented for `state_estimation_nodes.rst`)

In `state_estimation_nodes.rst` is missing:
* base_link_frame_output
* predict_to_current_time
* disabled_at_startup

[2019-02-18 21:33] Sollimann opened #448 "How to state start position (x,y,z,r,p,y) for ekf."
Im using UUV_simulator combined with your robot_localization package. I have been successfully been able to implement ekf with DVL, IMU and Pressure Sensor. The odometry estimate all start at (x,y,z,r,p,y) = (0,0,0,0,0,0), but I would like to start the node at my launch position in Gazebo simulator. How can I do this? I want my robot to launch at position (15,-20,0, 0,0,0) so that the ekf estimate

[2019-02-19 08:05] ayrton04 commented on #448
Thanks for the question. However, all questions should be directed to answers.ros.org, and I will respond to it as time allows. Thanks!

[2019-02-19 08:05] #448 closed, assigned to nobody

[2019-02-27 12:00] brunoeducsantos opened #450 "tf2 issue with lidar odometry integration"
Hi,
Running both robot_localization package and the slam ros package that generates lidar odometry, the following error comes up:

My tf tree is the following:
![rosgraph](https://user-images.githubusercontent.com/3111976/53488831-586c4f80-3a87-11e9-8f95-24d7fcdcb5bd.png)

Can anyone help me?
Thanks,
Bruno

[2019-02-27 12:14] brunoeducsantos commented on #450
I just need to remove the slash in SLAM ros package.

[2019-02-27 12:14] #450 closed, assigned to nobody

[2019-02-27 12:45] ayrton04 commented on #450
Yeah, `tf2` doesn't support leading slashes. If you have further questions/issues, answers.ros.org is a great resource.

[2019-03-01 10:26] zhangjian-neu opened #451 "Confusion about the update logic in the function "FilterBase::processMeasurement()""
In the function "FilterBase::processMeasurement", lines 223-231, the codes say "Only want to carry out a prediction if it's forward in time. Otherwise, just correct."

Why the filter should correct when delta <= 0, i.e., measurement.time_ <= lastMeasurementTime_???

That is really confused. From my view, in such a case, the filter should not predict or correct. The filter  should just discard the

[2019-03-07 16:27] CesMak opened #452 "Can I use robot_loc for ackerman steering"
Hey there,

I shortly wanted to ask if I also can use this package for an ackermann steering robot or is this package just related to work for differential drive.

Or is it as I assume more general and I simply have to feed in the sensor data correctly no matter if I have ackermann steering or a uav / quadrotor etc.

Thanks :)

[2019-03-10 17:38] brunoeducsantos commented on #377
Is this feature already implemented? Or do you still need help?
The idea would be creating a separated node to nav_sat filter instead of being convoluted into ros_filter?
Thanks

[2019-03-19 10:54] ayrton04 commented on #451
Imagine you have a high-frequency measurement source like an IMU, and a low-frequency measurement source that has some lag in its processing (e.g., visual odometry). You process an IMU measurement in one cycle, and its time is `t = 1`. At the same time, your visual odometry node starts processing the latest image frame. At time `t = 1.05`, you get a new IMU measurement. At time `t = 1.1`, your vis

[2019-03-19 10:54] #451 closed, assigned to nobody

[2019-03-19 10:55] ayrton04 commented on #452
Hi and sorry for the delay. Can you please ask this on answers.ros.org? If you already have, can you please direct me to the question? Thanks.

[2019-03-19 10:55] #452 closed, assigned to nobody

[2019-03-19 15:17] Timple opened #453 "navsat_transform uses "odom" for /tf_static"
The static_transform provided by navsat_transform uses the odom frame.
On our robot however we do not use this frame at all.

I can see it being initialized here:
https://github.com/cra-ros-pkg/robot_localization/blob/2b57df66ded98b3ae4d08176f54beead4e9e1f5f/src/navsat_transform.cpp#L65

But it should be overwritten here:
https://github.com/cra-ros-pkg/robot_localization/blob/2b57df66ded98b3ae4d08

[2019-03-26 13:04] GITSHOHOKU opened #455 "2d on the wall (gravity is on the same plane with x and y axis)"
Hi! Thanks for providing this package
I just start use this package on a climbing robot on the wall(with imu and wheel odom). Can I  just use  2d  mode  the estimate robot position and velocity on the wall. Did the gravity co-planar with x and y axis effect the estimation?

[2019-03-26 13:16] GITSHOHOKU commented on #455
Can the 2d mode compensate the gravity even it co-planar with x-y axis?

[2019-03-26 16:22] ayrton04 commented on #455
Thanks for the question. However, we ask that all questions be directed to answers.ros.org.

[2019-03-26 16:22] #455 closed, assigned to nobody

[2019-03-27 02:21] zhangjian-neu commented on #451
I get it. Really thanks for your kindly response.

[2019-03-27 03:24] deepak-1530 commented on #123
I am working on the implementation of svo and need to estimate the scale. How can I do that using pixhawk?

[2019-03-28 09:02] GITSHOHOKU opened #456 "imu frame prepare"
Hi
I 'm dealing with the  imu frame_id in urdf . I follow the tutorial here [prepare data](http://docs.ros.org/melodic/api/robot_localization/html/preparing_sensor_data.html)
It said can make a static transform between  base_link and imu_frame, but Imu still broadcast
it's tf  in a fixed(mine is odom) frame,Did it mean I should keep both of them in my urdf file or I should remove the fix tf ,and h

[2019-03-28 09:11] GITSHOHOKU commented on #456
To simplify the question
Should I keep both two transform：
1. static TF between  base_link  and  imu-mount-position
2. imu own TF  wrt  odom(or map) which is fixed to provide  orientation
then in my urdf there always two different  tf  of  imu_data's  same  frame_id

[2019-03-28 11:28] ayrton04 commented on #456
Thanks for the question. However, we ask that you please direct all questions to answers.ros.org.

[2019-03-28 11:28] #456 closed, assigned to nobody

[2019-03-28 15:52] tomsepe commented on #369
I also ran into this issue today. Where catkin_make just hung.

Trying the catkin_make -j1 option and so far it seems to be working.... I got based the hang point (see below) and is now building fine, although slowly :)

<img width="744" alt="Screen Shot 2019-03-28 at 8 39 57 AM" src="https://user-images.githubusercontent.com/1732025/55172056-ac299180-5136-11e9-88a8-7ee6c30618fc.png">

[2019-03-31 14:09] seebq commented on #441
Hey @maracuya-robotics and @diasdm I submitted a PR #454 for y'all.  Can you review and let @ayrton04 know if this documents the parameters that were missing?

[2019-04-03 07:27] ayrton04 commented on #123
Please direct questions to answers.ros.org, thank you.

[2019-04-10 10:22] beetleskin opened #457 "Support more/custom/pluggable motion models"
Currently, the filter work on the 6DOF omni-directional motion model exclusively.
In order to improve the localization of robots where this motion model is not applicable, the user should be able to select from different motion models, or be able to provide a custom motion model, e.g. via the plugin-lib.

Rationale:
Most robots do not have 6DOF, only drones and similar do actually. Often the robot

[2019-04-24 23:24] RajathSwaroop opened #458 "robot_localization node stops publishing /odometry/filtered after a while"
I have been using robot_localization package to fuse data from wheel odometry, IMU and another source of odometry. The robot_localization node publishes data for a while and stops publishing on /odometry/filtered after like 2 or 3 hrs even though data on the other 2,3 topics are being published at the required frequency. Unsure what could be the cause for this behavior.

[2019-04-25 07:16] ayrton04 commented on #458
This is most likely an issue with your sensor data (or your platform). This package runs on thousands of robots 24/7 in commercial environments, so I'm guessing you might have some bad covariance data creeping in.

However, I can't really comment unless you give far more detail, like

- What version of the package are you using? Are you building from source or using binaries?
- On what platform ar

[2019-04-26 07:25] ayrton04 commented on #377
No, that's not what I had intended.

The original intent with the package was based on the suggestions of OSRF for how to make a ROS package, namely, that you make the ROS-agnostic core to the package, and then wrap that in ROS interfaces. Back when I wrote the package initially, it was for a government contract in the US, and funding and time were tight, so it was pretty simple, and the `RosFilte

[2019-04-26 07:27] ayrton04 commented on #453
Yeah, I think we're making a frame assumption for your use case. This is a definite bug; thanks for reporting.

[2019-04-26 07:37] ayrton04 commented on #457
Yeah, this is a common request. The reason it hasn't been addressed is primarily because we're hoping to release an `r_l`-compatible package that is built on top of `fuse`:

https://github.com/locusrobotics/fuse

`fuse` will have support for easily adding new kinematic models to the package.

In the meantime, however, you can actually get the behavior of other kinematic models within `r_l`. For ex

[2019-04-26 07:38] ayrton04 commented on #457
Oh, and if you increase your process noise, you can at least have a means of representing the kinematic model error if you have, e.g., an Ackermann-steered robot.

[2019-04-26 07:40] ayrton04 commented on #441
Assuming this is addressed by #454. Thanks @seebq.

[2019-04-26 07:40] #441 closed, assigned to nobody

[2019-04-26 07:54] #442 closed, assigned to nobody

[2019-04-26 08:15] brunoeducsantos commented on #377
Thanks @ayrton04 for your feedback!

[2019-04-29 13:49] beetleskin commented on #457
Wow, rebuilding this on top of fuse sounds like a bigger operation. Is there a document on this proposal one can dive into?

Thanks for the pointers on how I can monkey-patch a "motion model" into the filter, I'll try that out :)

[2019-04-30 04:34] RhysMcK opened #459 "Manual datum, quaternion not normalised"
When setting the datum manually  the (world frame -> utm) transform rotation does not seem to be normalized.

[2019-05-03 07:48] AlexisTM commented on #458
On top of that, I would recommend checking the diagnostic topic.

[2019-05-05 13:49] skywoodsz opened #460 "What sports model do you use?"
Hi，
What sports model do you use? Omnidirectional? Differential?
Can I use this pkg for single motor motion?

[2019-05-07 11:32] ayrton04 commented on #460
Please ask questions on answers.ros.org. I'm really behind on answering questions there, but I'll try to get to it soon. There are lots of questions over there about the kinematic model.

[2019-05-07 11:32] #460 closed, assigned to nobody

[2019-05-08 08:26] asafeniger opened #461 "Position drift when accelerating / decelerating"
Hello,

I'm using robot localization's EKF on my robot and I have some issues with it.
I'm using ROS kinetic version on Ubuntu 16.04 and I install robot localization pkg from apt-get install.

My inputs to the EKF are IMU (UM7), wheel encoders and fixed position from aruco tags.
I'm using Optitrack motion capture system for position reference.

When the robot accelerates I noticed that the ekf est

[2019-05-08 08:33] ayrton04 commented on #461
Thanks for the question. Please direct all questions to answers.ros.org, and I will get to it as soon as I can. Also, when you ask the question, please include sample messages from all sensor inputs.

[2019-05-08 08:33] #461 closed, assigned to nobody

[2019-05-18 01:22] crankler opened #463 "pose estimation get a bad result"
I use this package for my robot, the fusion result show that my orientation is right , but my pose and vel get a bad result. Can anyone give me some advice? Thank you for help!

I use odom0_config and imu0_config just look as follow:
odom0_config: [true,  true,  true,
               false, false, false,
               true, true, true,
               false, false, true,
               false, false

[2019-05-18 08:04] #463 closed, assigned to nobody

[2019-05-23 10:54] faizansid77 opened #464 "tf_prefix not added to base_link"
The node is running perfectly when I am not using any tf_prefix. Whenever I use tf_prefix, I get no tf_prefix in base_link. This issue is not observed in version 2.4.5. Please revert the code to whatever changes you made after 2.4.5

My /robot1/odom/filtered is publishing this  header:
`header:
  seq: 181
  stamp:
    secs: 627
    nsecs: 240000000
  frame_id: "robot1_tf/odom"
child_frame_id: "bas

[2019-05-23 11:01] ayrton04 commented on #464
Yep, that's a bug. Try this branch:

https://github.com/cra-ros-pkg/robot_localization/tree/fix-output-tf-prefix

[2019-05-28 09:25] ghost commented on #397
@nventuro I have the same problem. Did you find any solution?

[2019-05-29 10:08] pzy2253999075 opened #466 "use navsat_transform utm2map_TF to navigate"
I want to use navsat_transform to locate my  robot in utm frame for navigation. But the utm2map_TF is just published once when launching  navsat_transform_node.I think it can't  be updated as robot is moving.So I want to know wheather navsat_transform_node is suitable for locating robot in utm frame in real time?Could someone tell me that, thank.

[2019-05-30 14:49] ayrton04 commented on #466
Thanks for the question. However, we ask that all questions be asked on answers.ros.org.

[2019-05-30 14:49] #466 closed, assigned to nobody

[2019-06-11 14:13] #464 closed, assigned to nobody

[2019-06-19 01:46] ghost opened #468 "syntax error near unexpected token `newline'"
I have downloaded the package and also did the catkin_make. I also made the test launch file executable.But when I am running it getting this following error.Can anyone please tell me how to resolve this issue?

/home/nvidia/myworkspace/src/robot_localization/test/test_ukf_localization_node_bag1.test: line 1: syntax error near unexpected token `newline'
/home/nvidia/myworkspace/src/robot_localizat

[2019-06-19 14:24] huchhong opened #469 "How does imu fuse?"
I have read code of robot_localization and am confused of how imu is fused. It seems to me that if differential is set to false, then how can imu data in some world fixed frame to be fused with like odometry?

I also post a question at ROS Answer: http://answers.ros.org/question/326236/robot_localization-how-to-deal-with-imu-data/, please help me understand this.

[2019-06-19 14:46] ayrton04 commented on #469
Thanks for the question. ROS Answers is indeed the preferred method for asking questions, and I will get to it soon.

[2019-06-19 14:46] #469 closed, assigned to nobody

[2019-06-20 12:58] huchhong commented on #469
Sorry to bother again. Can you help to answer my question on ROS Answer?

[2019-06-20 13:36] ayrton04 commented on #469
I'm afraid my work is very busy at the moment. Please be patient, and I will answer it as soon as I can. Answering questions is often time consuming, and I don't have a lot of spare cycles at the moment to dedicate to it.

[2019-06-27 22:32] canphiu opened #470 "ekf_odom erratic behaviour after a long time run"
My ekf_odom setup fuses wheel odometry and imu data (see below).
Everything works fine except after running for a while (ex: about 30'), the returned pose doesn't look good  anymore.
![image](https://user-images.githubusercontent.com/52300219/60305181-9a4fba00-98f0-11e9-9041-a6eb4f11a546.png)
Is there anyone observe similar behaviors?

I wonder if the unbound covariance of the ekf_odom (became ver

[2019-06-28 17:17] lstromeyer opened #471 "navsat frame ID leading slash"
I am unsure if I should be filing this ticket here. The issue I encountered is that the NMEA serial package I used the standard ROS libnmea_navsat_driver (specifically the function driver.get_frame_id()). That I believe based on the old tf transform library automatically put a leading slash to frame ID which tf2 does not like. Either someone did not update the libnmea_navsat_driver or they kept it

[2019-07-01 08:57] ayrton04 commented on #471
Sounds reasonable. Have you opened a ticket on the `nmea_navsat_driver` repo as well?

Also, this is a pretty trivial change, and if you're comfortable doing so, I'd be willing to accept a PR for it.

[2019-07-01 08:59] ayrton04 commented on #470
Thanks for the question. However, we ask that all questions be asked on answers.ros.org. I'll try to get to it soon, thanks.

[2019-07-01 08:59] #470 closed, assigned to nobody

[2019-07-01 08:59] ayrton04 commented on #468
Would you mind asking this on answers.ros.org? Thanks.

[2019-07-01 08:59] #468 closed, assigned to nobody

[2019-07-01 09:00] ayrton04 commented on #458
Closing. Feel free to ask this on answers.ros.org.

[2019-07-01 09:00] #458 closed, assigned to nobody

[2019-07-02 03:15] lstromeyer commented on #471
Thanks for the reply. I'll make the branch with the changes sometime in the
next few days.
I haven't yet done it on the other repo but it is on my to do list.

On Mon, Jul 1, 2019 at 1:57 AM Tom Moore <notifications@github.com> wrote:

[2019-07-10 19:59] rotu opened #473 "Port to ROS2 Dashing"
There should probably be a ROS2 Dashing branch in this repo.
Feel free to pull from our fork https://github.com/RoverRobotics-forks/robot_localization

[2019-07-16 10:41] Ashik19 opened #474 "Drppng gps navsat transform connection"
Can anyone please help me with this issue ?When I am trying to use the /gps/odometry topic I am getting the following error. I have an inertial sense sensor which gives /gps, /imu, /ins data. I am trying to use all this 3 topics in the /gps/odometry topic but coming up with the following error.

![Screenshot from 2019-07-16 04-35-19](https://user-images.githubusercontent.com/52055757/61288058-92fb

[2019-07-26 08:20] ayrton04 commented on #474
Thanks for the question. However, we ask that all questions be asked on answers.ros.org. I can tell you right now that you are using the wrong message type. As the error states, the message type `navsat_transform_node` wants is `NavSatFix`, and you are giving it a `inertial_sense/GPS`.

[2019-07-26 08:21] #474 closed, assigned to nobody

[2019-07-26 08:23] ayrton04 commented on #473
Is your branch based on the Bouncy/Crystal branches on this repo? I really need to clean up the ROS2 branches here. I want to remove support for diagnostics until it's been officially released for ROS2.

[2019-07-26 08:26] ayrton04 commented on #459
Note sure why that would be, as we are using standard `tf2` data types and methods:

https://github.com/cra-ros-pkg/robot_localization/blob/492c49492eabbcef78f095c1e3a687c38a4b67e6/src/navsat_transform.cpp#L142

Can you show an example?

[2019-07-26 08:28] rotu commented on #473
My branch is based on master. The diagnostic publisher seems to be working pretty solid.

[2019-07-26 08:30] ayrton04 commented on #473
Sorry, so you branched the ROS1 version (we have no `master` branch) and also ported it to ROS2? I'm only asking because I made a ROS2 branch for Bouncy, and then we had a user contribution to get the tests running and re-establish the diagnostics.

[2019-07-26 19:14] rotu commented on #473
Oops. Yes, we branched from ROS1. Please open a dashing-devel branch. I'll rebase my changes on it and submit a PR.

[2019-08-03 00:28] samkys opened #475 "Navsat Transform initial computation of initial transform done with ros::Time(0) and not msg->stamp"
I have been fighting Navsat transform node a bit and before I asked too many questions I wanted to dig through the source.

Is there a reason that this is done with the current time and not the GPS stamped time? As I would assume there is a possibility of a offset especially if whoever is providing the `/fix` message to Navsat transform is delayed with respect to the actual GPS data received.

Fir

[2019-08-03 05:15] ayrton04 commented on #475
A couple things:

1. `computeTransform` is only executed once in the entire lifecycle of the node. Once the UTM transform has been computed, none of that code will be run again. So, even if the transform in question were sensitive to timing issues, it would just be for one cycle. But...
2. ...the time stamp is used, as you posted, to look up a transform from the robot's `base_link` frame to the ro

[2019-08-04 02:39] samkys commented on #475
Thanks for the quick response!

Sorry about posting this here and now I feel a little dumb for posting the question/issue after reading your response and the source again. Sure enough, just didn't catch that previously.

[2019-08-04 02:39] #475 closed, assigned to nobody

[2019-08-05 02:05] klintan opened #477 "ROS2 Beginner question: How to start navsat_transform_node ?"
Hey!
So I have what is most likely a beginners question to say the least. However I can't find any way to start the `navsat_transform_node`. I've read through the tutorial in ROS1 and googled a bunch and it seems most people just put down the package name `robot_localization` and node executable `navsat_transform_node`.

Now I've checked my `ros2 pkg executables` and the only available node in the

[2019-08-05 16:13] ayrton04 commented on #475
No worries whatsoever. Feel free to ask more questions on answers.ros.org. I have been on vacation for a bit, but will try to get over there to answer some questions soon.

[2019-08-06 01:49] klintan commented on #477
Looking at the CMakeLists.txt file in the ROS1 branch, it's actually in the cmake file, meaning I'm not going crazy, it's just not implemented/activated yet in the ROS2 port. I'll put in a PR.

[2019-08-06 02:19] #477 closed, assigned to nobody

[2019-08-07 14:01] ayrton04 commented on #477
Just a quick note: `geographic_msgs` was not released at the time we ported this to ROS2, hence the disabled `navsat_transform_node`.

[2019-08-08 09:25] ayrton04 commented on #473
A few things.

First, thanks for taking the time to port to ROS2 Dashing. Is there anything about Dashing that would make the code significantly different than Crystal? I only ask because I (and others) have already ported this package to ROS2, and we have `bouncy-devel` and `crystal-devel` branches. When I originally did the ROS2 port, I also made changes to some code style and a few other things

[2019-08-08 13:58] rotu commented on #473
Yes, the biggest change for dashing is that you need to declare all your parameters or things will crash. I understand the want to keep the version branches as similar as possible. I really just need a base branch to submit a PR on.

[2019-08-08 17:13] rotu commented on #473
@ayrton04 I rebased my changes in https://github.com/RoverRobotics-forks/robot_localization

[2019-08-09 10:13] ayrton04 commented on #473
https://github.com/cra-ros-pkg/robot_localization/tree/dashing-devel

[2019-08-10 04:30] JuneJulyAugust opened #479 "Where is the https://www.cra.com/robot_localization_ias13.zip"
It seems that cra had deleted the link. Does anyone have the bag?

[2019-08-12 08:46] ayrton04 commented on #479
Sadly, I don't anymore. I have scoured my backups for it, and it's just nowhere to be found. Not sure why CRA deleted it, or if they have a copy somewhere.

If anyone else downloaded it at some point and still has it, that would be great.

[2019-08-15 20:06] rotu opened #480 "UKF initializes booleans with real number values"
Clang is spitting out some errors for type conversions. There is an obvious mistake here.

[code]

[2019-08-15 20:10] rotu commented on #480
Oops. Looks to have been fixed in a3360f17da357490a37da1573da5a3465d755928

[2019-08-15 20:10] #480 closed, assigned to nobody

[2019-08-18 15:25] oconnor127 opened #481 "Configuring your Package"
Hey,

i've got a serious problem by setting up your package. At first, i am using Windows 10 and Ros-Melodic but maybe that problem is independent of my OS (i think so because thats my first usage of external package from github).

I've downloaded the Package from here and put in in my workspace in here: D:\catkin_ws\src (parallel to my own other packages). If i'm going to build that now i've got

[2019-08-19 09:44] ayrton04 commented on #481
So I'm going to guess that the issue is indeed related to the fact that you're using Windows; if the package wasn't building for people in Linux, I can promise you I'd have heard about it. In any case, [the release is building fine on the build farm](http://build.ros.org/job/Kbin_uX64__robot_localization__ubuntu_xenial_amd64__binary/6/).

The first build issue was just that you didn't install the

[2019-08-19 14:55] oconnor127 commented on #481
ah ok yepp i just assumed i made a mistake (in some configuring stuff like choose the correct path were to unzip your code) because i'm quite new to ros. I already asked there but unfortunately nobody answered. Thank you anyway.

[2019-08-21 12:40] RonaldEnsing opened #482 "A possible invalid assumption regarding frame id of IMU in differential mode"
I've experienced some problems with the state estimation _only_ when I use (the orientation of) an IMU in `differential` mode. If I set `differential` mode to `false`, everything is fine. This line https://github.com/cra-ros-pkg/robot_localization/blob/086bcfcc81d422d357e2ecabbadcca68624a0062/src/ros_filter.cpp#L2534 seems suspicious to me. I would expect that it should use the `frame_id` of the I

[2019-08-21 12:43] ayrton04 commented on #482
Can you give more detail, such as the problems that you are experiencing?

[2019-08-21 14:03] RonaldEnsing commented on #482
The robot localization reports a left turn while in reality it's turning right, and vice versa. This only happens in differential mode. The figures may help to explain better.

![2019-08-21_axes_base_link_odom](https://user-images.githubusercontent.com/8299064/63438383-7f9b4c80-c42c-11e9-9867-3158738ea132.png)
Pose of IMU frame (`an_device`) w.r.t. `base_link`.

![2019-08-21_differential_false](ht

[2019-08-23 17:10] ayrton04 commented on #482
I'm wondering if this is related:

https://answers.ros.org/question/329146/in-robot_localization-why-does-differential-mode-not-use-static-transforms/?answer=331479#post-id-331479

Let me poke at this some more and get back to you.

[2019-08-26 07:07] Fanny-one opened #484 "Incorrect IMU make EKF is not good ??"
Now i'm using robot_localization to fuse imu, gps and odom.
mems integrated navigation system provides imu and gps, like this picture.
![image](https://user-images.githubusercontent.com/52403161/63671166-653ce680-c811-11e9-9210-39b715f9040f.png)
It is mounted by right-front-up.
mems integrated navigation system can provide roll, yaw ,pitch ,so I read them to IMU' orientation instead of magnetomete

[2019-08-26 07:09] Fanny-one commented on #484
<node pkg="tf2_ros" type="static_transform_publisher" name="bl_imu" args="0 0.0 0.85 -1.570796327 0 0 base_link imu_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="gps_transform" args="0 0 0.8 0 0 0 base_link gps_link" />

[2019-08-26 07:10] Fanny-one commented on #484
<node pkg="tf2_ros" type="static_transform_publisher" name="bl_imu" args="0 0.0 0.85 -1.570796327 0 0 base_link imu_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="gps_transform" args="0 0 0.8 0 0 0 base_link gps_link" />

[2019-08-26 07:10] Fanny-one commented on #484
<node pkg="tf2_ros" type="static_transform_publisher" name="bl_imu" args="0 0.0 0.85 -1.570796327 0 0 base_link imu_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="gps_transform" args="0 0 0.8 0 0 0 base_link gps_link" />

[2019-08-26 07:10] Fanny-one commented on #484
`
  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_imu" args="0 0.0 0.85 -1.570796327 0 0 base_link imu_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="gps_transform" args="0 0 0.8 0 0 0 base_link gps_link" />`

[2019-08-26 08:52] ayrton04 commented on #484
Thanks for the question. However, this should really be directed to answers.ros.org. When you ask the question, please include your EKF config, as well as sample messages from every sensor input.

[2019-08-26 08:52] #484 closed, assigned to nobody

[2019-08-26 09:08] ayrton04 commented on #482
Yeah, the more I think about this issue, the more I'm convinced that we should be transforming all pose data into the target frame _before_ we differentiate it.

However, just to be certain, may I see a sample IMU message and your EKF config? Please include the static transform for your IMU. Thanks.

[2019-08-26 09:29] RonaldEnsing commented on #482
Thanks for the 'ROS Answers' link. I was not aware of that question. The question on 'ROS Answers' seems to be related indeed.

On ROS Answers you posted the following:

In the case as written above in this issue, I would think both delta1 and v1 are in my sensor frame (`an_device`), since the pose of my sensor frame is expressed in a world-fixed frame. I think that transforming all pose data into

[2019-08-26 09:53] Fanny-one commented on #484
Thank you! I will repeat the question .

[2019-08-26 10:03] ayrton04 commented on #482
Yeah, that's an error on my part. In this case (and perhaps in the ROS Answers question), differentiating the pose data is indeed in the sensor frame. It's only when the pose data is the pose of the robot itself that differentiating it results in velocity in the `base_link` frame.

There's a bit of other surrounding code with differentiating that I need to make sure I don't break if I change it, b

[2019-08-27 12:41] oconnor127 opened #485 "Fuse GPS with IMU question"
Hey Tom,

i've got a stupid question. I'm trying to fuse the IMU data with GPS data. I've tried to stick to your tutorial but got the following question: Is that the right way to subscribe to the topics? The Data which are published by the topic "odometry/filtered/NAVI" looks quite strange.. In the following I'm just showing the most important details (topic subscribing) of my launch file..

{ //F

[2019-08-27 12:41] oconnor127 commented on #485
<launch>
<node name="test_ekf_localization_node_bag1_ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true">
<param name="world_frame" value="odom"/>
<param name="imu0" value="/kitti/oxts/imu"/>
</node>

<node name="ekf_map" pkg="robot_localization" type="ekf_localization_node" clear_params="true">
<param name="world_frame" value="odom"/>
<param name="odom0" value="/odometr

[2019-08-27 12:41] oconnor127 commented on #485
<launch>
<node name="test_ekf_localization_node_bag1_ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true">
<param name="world_frame" value="odom"/>
<param name="imu0" value="/kitti/oxts/imu"/>
</node>

<node name="ekf_map" pkg="robot_localization" type="ekf_localization_node" clear_params="true">
<param name="world_frame" value="odom"/>
<param name="odom0" value="/odometr

[2019-08-27 13:29] oconnor127 commented on #485
I should add that the published odometry/filtered from the fusing imu node and the odometry/gps from navsat looks quite good... I assume that the odometry/gps are the fused gps and imu data?

[2019-08-27 16:24] oconnor127 commented on #481
Forget to close that issue. It works one windows. For everyone who troubles with the same: https://answers.ros.org/question/330894/install-robot_localization-package-issues/

[2019-08-27 16:24] #481 closed, assigned to nobody

[2019-08-27 16:25] ayrton04 commented on #485
Would you mind posting questions on answers.ros.org? That way everyone gets the benefit of the answer. Thanks!

[2019-08-27 16:54] #485 closed, assigned to nobody

[2019-09-04 05:26] yanming-zou opened #486 "Orientation in Euler angles after a rotation"
// Imu message contains no orientation, so we should use orientation
          // from filter state to transform and remove acceleration
          const Eigen::VectorXd &state = filter_.getState();
          tf2::Vector3 stateTmp(state(StateMemberRoll),
                                state(StateMemberPitch),
                                state(StateMemberYaw));
          // transform state orie

[2019-09-05 01:32] yanming-zou opened #488 "ambiguous orietation expression in Euler angles"
The Euler angle (r, p, y) and (r+pi, p+pi, y+pi) express the same orientation, I don't know how this ambiguity is processed in this software package. I mean if the input measurement is (r, p, y), but the state vector is something near to (r+pi, p+pi, y+pi), how the software update the state correctly? Could someone give me an answer to this?
Thanks a lot.

[2019-09-10 18:19] mabelzhang commented on #473
There seems to be a lot of diffs ([156 commits](https://github.com/cra-ros-pkg/robot_localization/compare/dashing-devel...melodic-devel)) between the `melodic-devel` and `dashing-devel` branches. Is this expected? If not, what are the functionalities / features in Melodic that aren't in Dashing?

[2019-09-17 17:10] rotu commented on #473
@mabelzhang the changelist is a good place to start. https://github.com/cra-ros-pkg/robot_localization/compare/dashing-devel...melodic-devel#diff-de0a9b67ffe2874a076b5fdb15bad484

@klintan, you were also working on porting this forward to Dashing. Are you still doing that or should I?

[2019-09-17 17:26] klintan commented on #473
It stalled because of geography_info not being released :( But @SteveMacenski is working on getting that one done almost as we speak.

https://github.com/ros-geographic-info/geographic_info/pull/28

So as soon as that is done the work can proceed. But I saw that https://github.com/cra-ros-pkg/robot_localization/pull/487 contained som very similar changes, so we'll have to try to sync that. I don't

[2019-09-18 18:30] abhileshborode opened #489 "filtered odometry overestimation"
**Required Info:**

- Operating System:
  - Ubuntu 16.04) -->

#### Expected behavior
If I drive 10 m straight My filtered odometry should tell me I traveled 10 m straight

#### Actual behavior
If I drive 10 m straight My filtered odometry tells me I traveled 13.5 m straight

So I'm using robot_localization package for localization, with wheel encoders+IMU (Phiget / Realsense IMU) for fusion. The

[2019-09-18 22:04] #489 closed, assigned to ayrton04

[2019-09-18 22:13] SteveMacenski commented on #489
@abhileshborode thanks, I'll follow up on your ticket

[2019-09-18 22:13] SteveMacenski commented on #489
@abhileshborode thanks, I'll follow up on your ticket

[2019-09-19 07:28] ayrton04 commented on #489
Just a note that you should include sample messages from every sensor input in the ROS Answers question. Ordinarily, I'd ask that you wait for a response there before posting an issue here, but I've been behind on my ROS Answers efforts lately.

[2019-09-20 14:04] ClementLeBihan opened #491 "Jump at init"

[2019-09-20 14:10] #491 closed, assigned to ayrton04

[2019-09-24 22:40] mabelzhang commented on #473
Yeah... that was the same link I posted :P While many of the diffs are builds specific to Melodic, there are new features like [lat/long conversion service](https://github.com/cra-ros-pkg/robot_localization/commit/fbd3a72d344fc9e63085ca489bb16f31b2daf3a1), [meridian convergence adjustment](https://github.com/cra-ros-pkg/robot_localization/commit/2b57df66ded98b3ae4d08176f54beead4e9e1f5f), [variable

[2019-09-25 07:41] ayrton04 commented on #473
No objections as such, but I changed the coding standards for the ROS2 branch(es), e.g., variable names are `snake_case` now. I think that rebasing is going to create a world of pain for whoever takes it on, and I wonder if cherry picking commits and then cleaning them up, one at a time, would be easier.

We should probably also weigh the value of the features in melodic against the effort in port

[2019-09-27 07:50] anymate98 opened #492 "localization without IMU data"
I'm looking for localization packages to use in my ROS navigation, but I have only one 2D lidar as a sensor. Is it possible to use robot_localization without IMU input?

[2019-09-27 16:41] shairi34ahmed opened #493 "Robot_localization launch error"
ERROR: cannot launch node of type [robot_localization/ekf_localization_node]: can't locate node [ekf_localization_node] in package [robot_localization].

I have seen this error before and i don't see any concrete remarks/solution of this problem. I am using this package on ros kinetic and ubuntu 16.04, but i am this issue. I couldn't find a clear solution about this problem. i will be very thankfu

[2019-09-27 17:11] SteveMacenski commented on #493
Please open a question on ROS answers

[2019-09-27 17:13] shairi34ahmed commented on #493
I already have but still no answer. Here is the link of my question.
https://answers.ros.org/question/333411/error-cannot-launch-node-of-type-robot_localizationekf_localization_node/

[2019-09-27 17:32] SteveMacenski commented on #493
You have received a bunch of other people commenting trying to help (**far** more than I typically see for a question on ros answers in general), cross listing it here splits the conversation and makes folks less willing to help fix your issue which isn't with this codebase but your specific setup.

Please close this ticket

[2019-09-27 17:38] shairi34ahmed commented on #493
The reason i raised this question was i see many people have this issue, so there might be something, which requires not what you can say general settings or something else. But still i pursue my query on ros answers and close this ticket.

[2019-09-27 17:38] #493 closed, assigned to nobody

[2019-09-30 14:47] sts-hmm opened #494 "IMU Centripetal force"
## Bug report

**Required Info:**

- Operating System: Ubuntu 16.04, ROS Kinetic
- Installation type: from source
- Version or commit hash:
  -kinetic-devel branch 2.48: 4317f16931a4691625874a0684614b8de0afd8be

#### Steps to reproduce issue
I am using the robot_localisation with a RTK GPS (2cm accuracy) and an IMU in an ackermann vehicle. The GPS has an update rate of 2Hz, the IMU has an update r

[2019-09-30 15:33] ayrton04 commented on #494
Please ask this question on answers.ros.org. After discussion there, if we find that it is indeed a bug (this sounds, if anything, like a feature request), we can re-open this. If you've already asked the question there, please post a link here, and then I would ask for your patience. I don't get a lot of time to dedicate to this package from day to day.

[2019-09-30 15:33] #494 closed, assigned to ayrton04

[2019-10-17 10:08] vishalsleotechsa opened #496 "map based locolization and odometry"

[2019-10-17 10:08] #496 closed, assigned to nobody

[2019-10-29 23:47] GrantDare opened #499 "Navsat transform node start-up filtering?"
## Feature request

#### Feature description
Nick Charron mentioned in his [tutorial ](https://github.com/nickcharron/waypoint_nav) of the outdoor husky navigation that there were plans to filter start-up on the navsat transform node to provide a more accurate initialization (given GPS noise). I was wondering if this was implemented, planned, or trashed?

[2019-10-30 09:35] ayrton04 commented on #499
If I'm being honest, I wouldn't expect to see a lot of new feature development on this package from me. We (Locus) are moving towards [fuse](https://github.com/locusrobotics/fuse) for our state estimation needs, and my free time for working on things that aren't directly required by work is pretty close to 0 these days. But I'll leave this here in the event that someone wants to take a crack at it

[2019-11-04 10:26] ayrton04 commented on #488
I'm not sure the package would handle that well. I think you'd briefly get some orientation in between those two, and then it would settle back to the measured value. It's an unpleasant side effect of using Euler angles instead of quaternions. One option might be to convert the orientation from Euler angles to a quaternion and then back again at every filter update step. It wouldn't solve the othe

[2019-11-05 23:33] GrantDare commented on #499
Thanks @ayrton04, fuse looks great! What is the status of the package?

[2019-11-06 18:46] mohradza opened #500 "Strange estimator behavior"
Ubuntu 18.04.3 LTS. Forked the most recent version of the master branch on GitHub.

I am seeing some strange estimator behavior where the estimator seems to be stuck in a predict cycle for several seconds, even though it appears the sensor measurements are coming in consistently.

Some more background: We are trying to generate odometry estimates from a single IMU and two "velocity sensors". These

[2019-11-06 19:13] mohradza commented on #500
I am not sure if this is a bug necessarily, but I cannot figure out how to change the tag.

[2019-11-06 19:29] mohradza opened #501 "Removal of gravity and imu transformation"
I was debugging a separate issue and I discovered some suspicious behavior with respect to the computation and removal of the gravity vector from an imu measurement. It is possible I have something configured improperly, but here is what I found.

The way that the imu is mounted to our vehicle requires a pi rotation about the pitch axis for proper transforming of the sensor data. Without the rotat

[2019-11-06 22:11] mohradza commented on #501
Looks like it is an issue with the imu we are using, which I have just discovered converts the orientation measurements into the ENU frame.

[2019-11-06 22:11] #501 closed, assigned to nobody

[2019-11-06 23:39] mohradza commented on #500
This appears to be a result of the rejection threshold being applied to the velocity measurements. After commenting out the thresholds, these blips in the estimates no longer exist.

[2019-11-06 23:39] #500 closed, assigned to ayrton04

[2019-11-07 09:45] ayrton04 commented on #500
In the future, I'd recommend asking questions on answers.ros.org before submitting tickets. If you already did that, I apologise. I'm having a hard time answering questions in a timely fashion.

[2019-11-07 10:49] ayrton04 commented on #499
It should work pretty well for 2D robots. There's some work to be done to support robots that operate in 3D, and we don't yet have anything that handles GPS data. Stephen Williams is the one who designed and wrote the vast majority of the package. He's much better at state estimation than I am, so I think people will be pleased with the end result.

[2019-11-07 21:56] CodeFatherG commented on #499
Unfortunately, my ultimate goal will require 3D localisation. Is there a timeline for the package or just _as it happens_?

[2019-11-13 15:06] RonaldEnsing commented on #482
Are there any updates on this? What surrounding code do you think may get affected or needs to be tested if we change this to `poseTmp.frame_id_ = msg->header.frame_id;`?

[2019-11-15 11:27] Fanny-one opened #502 "offset problem"
@ayrton04  Hi, I have used robot_localization in my project. In my urdf my rpy of imu is {0 0 -1.6301}. And according to api I set offset 1.57. When I use SLAM and localization simultaneously, they always match badly. I think my slam is unproblematic and the parameter of localization is improper probably.
Now I hope your help, wait for your reponse.

[2019-11-15 11:39] ayrton04 commented on #502
Hi, thanks for the question. Before we mark things as bugs, please ask questions on answers.ros.org. If you have already done so, please point me to it, and then I ask your patience. I am swamped with other things at the moment.

[2019-11-15 11:39] #502 closed, assigned to ayrton04

[2019-11-18 01:23] Fanny-one commented on #502
Sorry, it' my fault.  I did not intend to mark it as a bugs, but I just want to ask for help.

[2019-11-18 05:40] Fanny-one opened #503 "parameter problem"
Hi， I have used robot_localization in my project. In my urdf my rpy of imu is {0 0 -1.6301} as  show in the graph.
![微信图片_20191115192453](https://user-images.githubusercontent.com/52403161/69023179-d3e8a500-09f8-11ea-8098-3067ffa97aa1.jpg)
Besides, the yaw is from dual-antenna direction not magnetometer so I needn't magnetic_declination_ . According to api I set offset 1.57. When I use SLAM and lo

[2019-11-18 08:37] ayrton04 commented on #503
Hi,

Thanks for the question. However, we ask that all questions be directed to answers.ros.org. If you've already asked this there, please provide the link. Thanks.

[2019-11-18 08:37] #503 closed, assigned to nobody

[2019-11-18 08:38] ayrton04 commented on #499
The latter, I'm afraid. We'd welcome PRs, though!

[2019-11-18 08:39] ayrton04 commented on #492
Hi,

Thanks for the question. However, we ask that all questions be directed to answers.ros.org. Thanks.

[2019-11-18 08:39] #492 closed, assigned to nobody

[2019-11-18 15:30] SteveMacenski commented on #499
(Easier to submit Fuse PRs with documentation, a public facing tickets/plan, and the explained 2D basic fuse-rl example to work back from. Don’t think I haven’t thought about it. I’d rather invest time into that than ROS2-RL but the barrier to entry is too high to guess what’s happening and how everyone plans to use a generic optimization framework without a design doc or roadmap of goals. If you

[2019-11-19 06:47] Fanny-one commented on #503
@ayrton04
https://answers.ros.org/question/337930/robot_localization-parameter/
Thanks very much!

[2019-11-19 16:36] florianspy opened #504 "Transformation automatic apply"
My Question / Feature request is the following:
I get one topic with visual odometry data which is in camera_frame
and one tropic with odometry data which is in odometry frame ,
so if the data gets fused can i directly use the topics or must they be transformed before?
This leads me to another question in which frame is the output of the ekf?

[2019-11-19 16:40] SteveMacenski commented on #504
@florianspy please read the docs. This is outlined pretty clearly in my opinion. If its unclear, we would welcome a PR to make more clear.

[2019-11-20 07:48] florianspy commented on #504
Thank you very much for your answer. I finally found the corresponding chapter in the documentation " All pose data (position and orientation) is transformed from the message header’s frame_id into the coordinate frame specified by the world_frame parameter (typically map or odom). In the message itself, this specifically refers to everything contained within the pose property. All twist data (lin

[2019-11-20 15:32] SteveMacenski commented on #504
I’d say yes, thats my expected behavior

[2019-11-26 10:10] NILIWEI opened #506 "what 6-dof kinematics model is applied here?"
## Feature request
For 6DOF kinematics model here,where this way to calculate the state equation param in predict process?
#### Feature description

#### Implementation considerations

[2019-11-26 12:33] #432 closed, assigned to nobody

[2019-11-26 12:41] ayrton04 commented on #506
Is this a question, or a feature request? If it's a question, can you please ask it on answers.ros.org? Also, I'm not quite clear on what it is you're asking. Do you just want to know where the kinematic model lives, and what kind it is?

[2019-11-26 12:41] #506 closed, assigned to ayrton04

[2019-11-27 10:50] zhangjian-neu opened #507 "Thread safety for measurementQueue_"
Dear authors,

Recently, I studied the package robot_localization. I find the variable 'measurementQueue_' can be updated in different callback functions, when new measurement ROS topic comes.

As I know, the "topic-callback" mechanism is concurrent. This means the variable 'measurementQueue_' may be **concurrently** updated, when multiple measurement ROS topics come.

Without extra thread safety

[2019-11-27 11:37] ayrton04 commented on #507
No, this is not accurate. The callback queue is single threaded, and callbacks are fired sequentially. See [this](http://wiki.ros.org/roscpp/Overview/Callbacks%20and%20Spinning) wiki for more information.

[2019-11-27 11:37] #507 closed, assigned to nobody

[2019-11-28 02:30] zhangjian-neu commented on #507
Great! Sincerely thanks for your kindly reply.

[2019-11-28 09:53] ayrton04 commented on #504
The problem with printing out a warning or error every time a transform fails is that it can get spammy very quickly if the transform is dynamic. The method we use for looking up transforms _can_ print warnings, but [we have it defaulting to silent](https://github.com/cra-ros-pkg/robot_localization/blob/6956176041630361364c06f554e319988e251300/include/robot_localization/ros_filter_utilities.h#L80)

[2019-12-03 07:43] florianspy commented on #504
Dear ayrton04,
Such a feature to enable/disable with parameter would be great.

[2019-12-04 14:24] SteveMacenski commented on #434
I assume this has been resolved by the dashing branch?

[2019-12-04 20:21] mabelzhang commented on #473
As a heads up, we cherry picked some (a lot of) commits in the diff above https://github.com/cra-ros-pkg/robot_localization/compare/dashing-devel...melodic-devel to port to dashing-devel.

The major one seems to be the 71 commits from 16 Oct 2017, which adds robot_localization_estimator, ros_robot_localization_listener, ros_robot_localization_listener, and tests. I'm in the process of doing essent

[2019-12-04 21:07] SteveMacenski commented on #473
can't say I've used that bit. @ayrton04 is probably the best resource on whether that's generally useful or useful to what domain of people

[2019-12-04 21:56] SteveMacenski commented on #369
I built this on my jetson nano over the weekend without a problem (A57 cores) with my catkin config. I'm inclined to say this ticket should be closed since its just requiring swap.

[2019-12-05 10:48] BetterRobotics commented on #369
Yes close ticket, just swap issue no issues with actual build 👌🏼 thanks all
👌🏼

Sent from my iPhone

On 5 Dec 2019, at 7:56 am, Steven Macenski <notifications@github.com<mailto:notifications@github.com>> wrote:

I built this on my jetson nano over the weekend without a problem (A57 cores) with my catkin config. I'm inclined to say this ticket should be closed since its just requiring swap.

—
You

[2019-12-05 16:02] #369 closed, assigned to nobody

[2019-12-09 11:07] Timple opened #510 "Lots of logging when no gps available"
The logging is flooded with the following message as long as no GPS fix is availble:
[code]

This is because of the ROS_INFO here:
https://github.com/cra-ros-pkg/robot_localization/blob/3bd285e6fc400447086490e833a6f0181284b4d8/src/navsat_transform.cpp#L779

When a GPS fix is aquired this messages stops because the `setTransformOdometry` will not be called anymore.

We run potentially long period w

[2019-12-09 20:25] SteveMacenski commented on #473
@mabelzhang I'm going to leave the porting of those commits -- I was going to add back some of the services but that would be in the scope of what you're working on and I don't feel like making you deal with merge conflict hell.

[2019-12-09 20:27] mabelzhang commented on #473
Thank you! I'm a little behind on this. I started the cherry pick but it got put aside. I hope to get back to it next week.

I did notice the toggle filter service. I think that is farther down the line. The range above is taking me a while, so if you are merging in the toggle filter, it might decrease the diff list and take it off my list of things.

[2019-12-09 22:51] SteveMacenski opened #511 "ROS2: Filter state may not be fully resetting"
We're noticing in building the ROS2 tests that it seems the filter has some unexpected behavior evenly seen in the EKF and UKF (indicates issues aren't in the filter implementations themselves but ros filter or filter base).

We see `ImuAccBasicIO` needing its benchmark changed from 1.2 to 1.8m. More info in #509.

It passes however when its the first test in a clean filter, so that makes me think

[2019-12-10 00:00] SteveMacenski commented on #473
@mabelzhang I don't suppose you've tried to compile this in Eloquent? I get a bunch of linking issues that is leaving me scratching my head. As far as I can tell from all my other Eloquent code in navigation this is linking exactly the same.

Got it -- well lets wait for the existing PR to get looked over and merged before I start messing with anything else.

[2019-12-10 04:15] NILIWEI opened #512 "What therory/article dose this EKF predict function according to?"
I mean in this project,why this way to calculate transferFunction_ and transferFunctionJacobian_?
And it according to what?
Thanks ahead!

[2019-12-10 16:51] thangnguyen69vt commented on #165
@positron96  did you have your answer? Can you put the link to your question here? I'm also having the same problem.

[2019-12-10 17:55] positron96 commented on #165
That would be this: https://answers.ros.org/question/283090/robot_localization-odom-topics-frame_ids-and-tfs/

But frankly, I don't remember whether I solved my problem or not.

[2019-12-11 12:35] NILIWEI opened #513 "What it according to calculate controlAcceleration_?"
In ekf.cpp/predict function,why this way to calculate controlAcceleration_ , and what it according to?
And about x  =f(x,u) ,
in your project is x += u ,then do x = transferFunction_ * x,
if it mean that x = transferFunction_*(x + u) ---> x = transferFunction_*x + transferFunction_*u?
**So you just predict the u as the same as x**?
Thanks ahead!

[2019-12-11 12:43] ayrton04 commented on #513
Please direct all questions to answers.ros.org. If you have asked the question there already, please provide a link to it, and I'll get to it when I can. Thanks.

[2019-12-11 12:43] #513 closed, assigned to nobody

[2019-12-11 12:43] ayrton04 commented on #512
Please direct all questions to answers.ros.org. If you have asked the question there already, please provide a link to it, and I'll get to it when I can. Thanks.

[2019-12-11 12:43] #512 closed, assigned to nobody

[2019-12-25 13:50] ROSnew opened #515 "How to run with LOAM_velodyne and IMU"
Hello.
I try to run it on data. For example, on KITTI dataset. LOAM (https://github.com/laboshinl/loam_velodyne) gives odometry with frame_id = 'camera_init' and child_frame_id = 'camera'.
I know transform between LIDAR and IMU.
And as i understood, i should set parameters

**publish_tf**: false
 **odom_frame**: camera_init
 **base_link_frame**: camera
 **world_frame**: camera_init
Which transform

[2019-12-28 01:01] SteveMacenski commented on #515
@ROSnew please open a ticket on ROS Answers for configuration assistance.

[2019-12-28 01:01] #515 closed, assigned to ayrton04

[2020-01-06 08:58] zhangjian-neu opened #516 "Avoid Error Covariance Overflow"
## Feature request

#### Feature description

In the ekf class, there should be some mechanism to guarantee the error covariance would not overflow. Namely, error covariance should not be larger than the max value of "double".

#### Implementation considerations

Check the diagnoal elements in the error covariance matrix.

[2020-01-06 10:08] AlexisTM opened #517 "Possible memory leak"
## Bug report

**Required Info:**
- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Source
- Version or commit hash:
  - 6956176041630361364c06f554e319988e251300

#### Problem

In multiple places, there are new pointers created to be able to call the same functions as the callback functions yet I cannot find any `delete`.

https://github.com/cra-ros-pkg/robot_localization/blob/69561760

[2020-01-06 10:17] ayrton04 commented on #517
Line 523 above shows this:

[code]

`geometry_msgs::PoseWithCovarianceStampedConstPtr` is really a `boost` `shared_ptr`. When you pass a raw pointer to a shared pointer in the constructor, it takes over management of the raw pointer.

From the [documentation](https://www.boost.org/doc/libs/1_63_0/libs/smart_ptr/shared_ptr.htm):

shared_ptr<X> p1( new X );
shared_ptr<void> p2( new int(5) );

In any

[2020-01-06 10:17] #517 closed, assigned to ayrton04

[2020-01-07 00:26] pauljurczak opened #519 "Problem listing declared nodelets"
When running `rosrun nodelet declared_nodelets` Ubuntu 18.04.3 with Ros melodic, I'm getting:
[code]

[2020-01-11 04:28] mabelzhang opened #520 "Matrix size error in RosRobotLocalizationListener::getState()"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - From source
- Version or commit hash:
  - melodic-devel ba4010aa44d532ac509cbeabc7b95c71e785cdc9

### Steps to reproduce issue

This bug was found while porting classes to Dashing. The test gets an Eigen run-time error in Dashing, but doesn't get an error in Melodic, for whatever reason, though the mat

[2020-01-14 11:04] ayrton04 commented on #482
I apologise, Ronald. I just don't get the cycles to work on this package these days. If you change it and submit a PR, then we can see if it passes the tests. I'll review it in more detail then as well.

[2020-01-16 09:46] RonaldEnsing commented on #482
OK. I've submitted PR #522.

[2020-01-19 02:03] JWhitleyWork commented on #473
@SteveMacenski / @mabelzhang / @ayrton04 - What is the status of the port? How can I help? I need to make sure this is released ASAP for a project that I'm a part of but I need to know what's been done and what hasn't to know where I can be of use.

Also, @ayrton04 - I noticed there is no CI on this repo, on any of the branches. I would be happy to set it up with whatever service you like (though

[2020-01-19 04:34] SteveMacenski commented on #473
I cleaned up some of the repo and ported in things from the ROS2 forks relevant.

Mabel has PR s open cherrypicking commits from ROS1 over to ROS2. I have approved them but I want a second quick glance from someone deeply familiar with the project. Only blocker there. She’ll have to let us know if that’s the last of the cherrypick PRs or how many more there are.

I haven’t been able to get the das

[2020-01-19 05:15] JWhitleyWork commented on #473
I'm mostly interested in getting Dashing released for now. I'll keep an eye on the PR. After those changes are merged, would you say it is ready for a 1.0 Dashing release? I'm happy to add linting if necessary. ;)

[2020-01-19 06:15] SteveMacenski commented on #473
I would say so, yes.

Linting always appreciated ;-)

[2020-01-19 09:58] ayrton04 commented on #520
I won't get the cycles to address this, I'm afraid. As reported in https://github.com/cra-ros-pkg/robot_localization/pull/521, I am not familiar enough with this node to rapidly address issues with it. Feel free to fix or leave this open. Sorry!

[2020-01-19 10:34] ayrton04 commented on #519
Hmm...looking at this and other packages that give me the same error, the issue seems to be that `declared_nodelets` doesn't like having more than one `library` tag in the XML doc. It's this line that's failing:

https://github.com/ros/nodelet_core/blob/c833c6e64f7f228de2c2bd56a7c60d279b6910f4/nodelet/scripts/declared_nodelets#L74

From https://stackoverflow.com/questions/7693204/expaterror-junk-a

[2020-01-19 10:46] ayrton04 commented on #473
I mean, we have the [ROS1 build farm jobs](http://build.ros.org/search/?q=robot_localization&Jenkins-Crumb=d4e78d86e86fb910042f30c5ad9e4600a7b0fa11c99a92c2ef14634825a622f1) running the package's `gtest`s and `rostest`s for every PR and commit (e.g., http://build.ros.org/job/Mpr__robot_localization__ubuntu_bionic_amd64/18/). It's integrated with GH so that PRs can be checked before they are merged.

[2020-01-19 11:14] Karl60 opened #524 "navsat_transform: Parameter 'wait_for_datum' causes change to UTM transform."
## Bug report
Selecting 'true' or 'false' for the navsat_transform_node parameter "wait_for_datum" changes the published utm transform between odom->utm and map->utm .

**Required Info:**

- Operating System:
  - Ubuntu 18.04

- Installation type:
  - binaries
- Version or commit hash:
  -

#### Steps to reproduce issue

- navsat_transform node config:
[code]
 - Change parameter "wait_for_datum" b

[2020-01-19 13:13] rokusottervanger commented on #520
@ayrton04 referred to me in #521, so following up here.

TLDR: Here's a concise answer to implement the covariance transformation causing the error here: https://robotics.stackexchange.com/questions/2556/how-to-rotate-covariance Not sure whether this is entirely correct though...

Long story:
Fundamentally, I never trusted the idea behind transformation of a covariance matrix when linear translati

[2020-01-20 18:24] reinzor commented on #520
I agree with @rokusottervanger that these covariance transformation not always make sense. However, there is still a bug here (as reported). The intented behavior is to only transform the 6x6 upper left matrix ([as being done here](https://github.com/cra-ros-pkg/robot_localization/blob/ba4010aa44d532ac509cbeabc7b95c71e785cdc9/src/ros_filter.cpp#L2722)). However, in this case, we were not taking in

[2020-01-21 16:21] mabelzhang commented on #520
Nice! Thank you for the quick responses and fix :D

[2020-01-21 17:11] SteveMacenski commented on #520
@mabelzhang can you add to one of your dashing PRs for ROS2

Merging for Melodic

[2020-01-21 17:11] #520 closed, assigned to nobody

[2020-01-21 18:44] mabelzhang commented on #520
Added to #521. Test now passes in Dashing.

[2020-01-21 22:40] SteveMacenski commented on #473
PRs are in. @mabelzhang should we expect any more cherry picks. If so, how many?

[2020-01-21 23:21] mabelzhang commented on #473
Yes. I currently have 2.5.2 to 2.6.1, with 2.6.1 close but not done yet. ~15 commits.

I'm really just porting all the diffs between melodic and dashing unless I see stuff have already been ported, which is few. I'm counting ~25 more commits of real content. That is from 2.6.2 to 2.6.5 up to Aug 2019 in the [changelog](https://github.com/cra-ros-pkg/robot_localization/blob/melodic-devel/CHANGELOG.

[2020-01-24 19:21] jnoyola opened #527 "[Windows] unresolved rclcpp operator+"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - Source
- Version or commit hash:
  - 534a719246f3c6ac8e8aa7d705a494b79aca6610

#### Steps to reproduce issue
Build on Windows 10.

#### Expected behavior
Building should succeed.

#### Actual behavior
Linking fails with "unresolved external symbol" due to uses ([1](https://github.com/cra-ros-pkg/robot_lo

[2020-01-24 19:59] SteveMacenski commented on #527
@jnoyola PRs appreciated. I don't think Tom or I have a windows machine we use to even know if we fixed the issue.

[2020-01-28 19:29] #527 closed, assigned to ayrton04

[2020-01-29 08:30] kikass13 opened #531 "ros2 dashing exception while running"
## Bug report

**Required Info:**

- Operating System:
  - 18.04
- Installation type:
  - from source
- Version or commit hash:
  - dashing-devel

#### Steps to reproduce issue
Launch the se-node and publish std_msgs/Imu data for the kalmann filter

#### Expected behavior
/odometry/filtered is published and the node works

#### Actual behavior
the node crashes
[code]

#### Additional information

[2020-02-05 08:54] #473 closed, assigned to nobody

[2020-02-05 08:55] #511 closed, assigned to ayrton04

[2020-02-06 22:41] JWhitleyWork opened #535 "Dashing: Tests fail on `arm64` hardware"
## Bug report

**Required Info:**

- Operating System:
  - Docker `ros:dashing-ros-base` container (`arm64` version)
- Installation type:
  - From source
- Version or commit hash:
  - 0b5f69128ad0c364dfdf5e478e9abb6369a59743

#### Steps to reproduce issue
Build on `arm64` hardware or use Docker following the instructions at https://www.stereolabs.com/docs/docker/building-arm-container-on-x86/ to r

[2020-02-14 01:16] SteveMacenski opened #538 "Dashing debians failed to process due to missing launch_ros dependency"
@mabelzhang  - can you PR this?

[2020-02-18 00:59] JWhitleyWork commented on #538
Closed by #539

[2020-02-18 01:01] JWhitleyWork commented on #535
@SteveMacenski I can't assign but I'm assuming you'll be the one to work on this.

[2020-02-18 01:22] #538 closed, assigned to ayrton04

[2020-02-18 01:24] SteveMacenski commented on #535
@JWhitleyWork I wasn't planning on it - as I do not have an ARM64 processor to test on

[2020-02-18 13:52] Fugashu opened #540 "Different input sampling rates & acceleration in motion model"
Hello,

we are currently fusing IMU, Wheel Odometry and Visual Odometry data with your robot_localization package. Since we have different sampling rates (eg. we receive 100 IMU messages and 1 VO message in the same time window) the question arised whether this problem is handled within the package or not.

Furthermore we took at look at the motion model you are using. We ask ourselves why the X a

[2020-02-18 14:55] JWhitleyWork commented on #535
@SteveMacenski - I provided instructions in the issue description for running an `arm64` Docker container on `amd64` hardware.

[2020-02-18 15:52] SteveMacenski commented on #535
I’m also pretty underwater with other tasks. I can put this on my queue, but it’ll likely be at minimum 6 weeks before I’ll get around to it.

This test I think is the same failing in the build farm that Mabel at least briefly looked at

[2020-02-18 15:54] SteveMacenski commented on #540
Hi,

Please direct questions to ROS Answers, but I believe your questions are addressed in the documentation. If you still have questions after reading them, please ask on ROS answers.

[2020-02-18 15:54] #540 closed, assigned to nobody

[2020-02-18 20:06] mabelzhang commented on #535
Ah, I came to look at this thread after that build farm amd64 failure. Heh... this gives me more information to test. I'll try something.

[2020-02-21 09:02] jnoyola opened #543 "PkgConfig Usage"
Is there a reason we [use PkgConfig just for yaml-cpp](https://github.com/cra-ros-pkg/robot_localization/blob/eloquent-devel/CMakeLists.txt#L34-L35)? It looks like it was a `find_package` in dashing at some point, but maybe it was merged into melodic, which already used PkgConfig, and then merged back to dashing. I'm not positive on that.

Anyway, building on Windows in particular would be simpler

[2020-02-21 09:04] jnoyola commented on #543
This just became an issue with the recent merge into the ROS2 branches, which I'm dying to pull 😃

[2020-02-22 20:11] jnoyola commented on #543
Assuming it's ok to remove, I opened this tiny PR. `eloquent-devel` builds on Windows now.
#544

[2020-02-25 00:21] mabelzhang commented on #535
I followed the instructions above to set up the aarch64 Docker environment and am getting a lot of run-time printouts like:
[code]
It looks like a QEMU problem? @JWhitleyWork Have you run into this and happen to know how to set up the environment correctly to get past this? My host machine is:
[code]

[2020-02-27 10:08] tomlogan501 opened #545 "State machine or status reporting system"
## Feature request

#### Feature description
A state machine would be great to know the current status of the different nodes.
It would be nice to have more information during the configuration of the nodes.

#### Implementation considerations
First thought would be a service for each node.

[2020-02-27 16:24] SteveMacenski commented on #545
You’re going to need to be alot more detailed on your request.

[2020-03-20 01:31] linzha0 opened #546 "Static drift at initial position"
I am using a rosbag inclusing: gps data, filtered imu(using imu_filter_madgwick), imu raw data, DVL data(measure vehicle velocity), gps ekf odometry(the ground truth). I am trying to fuse imu-DVL offline to compare the gps ekf odometry.

![entire_drift](https://user-images.githubusercontent.com/11235093/77128260-d77f4d80-6a25-11ea-979f-03bf98c4905b.png)
**Figure 1: gps fused path and filtered imu

[2020-03-23 08:38] ayrton04 commented on #546
Thanks for the question. However, all questions should be directed to answers.ros.org. If you've already posted the question there, I'd ask for your patience, as I am extremely busy these days and have less and less time to devote to this package.

In any case, feel free to add the link to the ROS Answers question, whenever it gets/was posted.

[2020-03-23 08:38] #546 closed, assigned to nobody

[2020-03-23 20:20] SteveMacenski commented on #545
Closing from lack of response

[2020-03-23 20:20] #545 closed, assigned to ayrton04

[2020-03-23 20:22] SteveMacenski commented on #531
Please ask on ROS Answers (or look it up there, I'm pretty sure I've answered this before there) as this is a setup and not a bug in the code, most likely.

[2020-03-23 20:22] #531 closed, assigned to ayrton04

[2020-03-23 20:23] SteveMacenski commented on #504
@florianspy are you going to submit a PR?

[2020-03-30 22:33] mabelzhang opened #550 "navsat_transform documentation diagram"
## Feature request

#### Feature description

We were trying to use `navsat_transformation` with `ekf_node`s for localization, and we had a lot of trouble figuring out how the nodes should be set up from the existing documentation. We have been following [this answer from Tom](https://answers.ros.org/question/202117/integrate-a-gps-sensor-with-robot_localization-and-use-move_base-node/) on ROS Ans

[2020-03-31 00:47] SteveMacenski commented on #550
Admittedly, I haven't used navsat transform before nor have I used R_L for global fusion. I just spent the last 45 minutes reading the source code to understand and demo what is happening. Frankly, this is something I should have done a long time ago so your question nudged me to figure it out. Way to help me procrastinate figuring out my optimization problem issues :wink:. I've come up with the f

[2020-03-31 07:00] Timple commented on #550
@mabelzhang We fuse the `imu/data` and the `wheel/odometry` into the global EKF, and not the `local_odometry`.
Not saying this is better, it is just what we do. I can image this reduces the delay by one sample because this data is not preprocessed. Perhaps at the cost of CPU (double processing of same data)

[2020-03-31 08:01] ayrton04 commented on #550
So I'll also take a crack at explaining this. There are a lot of moving pieces, I'll admit, and perhaps there's an opportunity to simplify it all. Steve hit a lot of the main points, but I'll just clarify where I can.

First, like Steve, I'll assume that the odom/continuous EKF is straightforward. We fuse continuous data sources in it.

Before we move to the map/global EKF, we'll talk through what

[2020-03-31 16:32] SteveMacenski commented on #550
From looking over it, every time a GPS signal is received, it sets a flag to get a new Ekf Global pose. That would be required for the setting to use heading based on EKF and not the IMU.

I could also imagine the requirement for a feedback loop also if you have multiple GPS or multiple global reading sensors

[2020-04-01 06:44] JWhitleyWork commented on #535
@mabelzhang I did see these errors but I don't believe they stopped me from compiling.

[2020-04-07 01:53] elgarbe opened #551 "Fusing odom, imu, magnetometer"
Hi, I'm looking for information about fusin odometry with imu and magnetometer.
My sensors are connected to an embbeded systems and I'm publishing raw data to ROS using rosserial.
Right now I'm publishing odometry, IMU (raw Gyro and accel data) and raw (after calibration) magnetometer data. I'm not providing orientation data, just raw data.
What is better, fusing all raw data in robot_localization

[2020-04-07 02:40] SteveMacenski commented on #551
Please ask on ROS Answers

[2020-04-07 02:40] #551 closed, assigned to ayrton04

[2020-04-09 14:56] florianspy commented on #504
Sorry took me a while till i saw your feedback i create a pullrequest now

[2020-04-14 22:37] wildbiotiger opened #554 "base_link_frame_output misnamed"
In doc/state_estimation_nodes.rst base_link_frame_output is called base_link_output_frame in the note.

It might be best to reword the note below map_frame, odom_frame, and base_link_frame to show which of the frames the note is referring to. Pronoun usage makes the statements a little ambiguous.

[2020-04-15 05:12] ayrton04 commented on #554
We welcome PRs. :)

[2020-04-15 15:07] blacksoul000 opened #555 "Failed to build dependent package."
**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries and from source
- Version or commit hash:
  - 700ea7efb4a7e38c14a343a541f5d738453f0d5f

#### Steps to reproduce issue
$ ros2 pkg create --build-type ament_cmake --node-name test_node test_package --dependencies robot_localization
$ colcon build

#### Expected behavior
Dependent package builds fine.

#### Act

[2020-04-15 17:57] SteveMacenski commented on #555
PR welcome

[2020-04-16 12:21] QQting commented on #531
Hi @kikass13, I also met this issue today, could you advise me how you solve it? Thanks.

[2020-04-16 21:47] kikass13 commented on #531
@QQting

I did :)
the issue describes where in the code the problem is and how to skip that specific time check.

 @SteveMacenski said that this is not a bug, but a diff of two times with two different sources leads to an exception (ros2) which is not catched (at least not in the version I used when creating this issue) is a bug :)

[2020-04-23 16:57] sloretz opened #558 "Release robot_localization into ROS Noetic?"
Would you mind releasing `robot_localization` to ROS Noetic? It looks like all of its dependencies have been released, and recursively 15 repos need it.

I'm not sure how much work it will need. The [Noetic Migration Guide](http://wiki.ros.org/noetic/Migration) or the [guide about transitioning ROS packages to Python 3](http://wiki.ros.org/UsingPython3/) may be useful.

[2020-04-23 17:12] SteveMacenski commented on #558
I can do this, shouldn’t be much effort. There’s an active question in #557 on if changing the install locations would break ABI that’s my only blocker as a fork in the road about direction to go.

[2020-04-29 13:50] ewerlopes opened #562 "First-Order Robot Localization"
Hi,

I wonder whether it is possible to use `robot_localization` as a first-order approximator. In other words, whether it is possible to have it modeling just position and velocities without acceleration (making up to 12 variables for the state). It' seems I cannot find instructions for that in the documentation.

Thanks for the repo!
Best.

[2020-04-29 14:20] ewerlopes commented on #562
Hi again;

I just saw that, as a response to #8, you have added the acceleration data into the master branch for release 1.1.6. As I can see the current release is still backwards-compatible in the sense that if I provide a 12-D vector as message input config the code doesn't break but prints `Configuration vector for imu0_config should have 15 entries` instead.

Can you please confirm whether the

[2020-05-02 00:41] SteveMacenski opened #564 "[ROS2] Replace publishers with msg references with unique_ptrs"
Right now, all the publishers use the message reference API for publishing information. If using intra-process components, that will incur a copy. For inter-process it adds jitter to the system. While for messages of this size it is probably not going to make a large system-level impact, it is better practice and may be good samples for future folks and 0.1% improvement for an hour's work is a pre

[2020-05-06 11:51] Sarath18 commented on #564
I would like to take up this issue

[2020-05-06 17:05] SteveMacenski commented on #564
Go for it!

[2020-05-07 21:01] #564 closed, assigned to nobody

[2020-05-07 21:03] SteveMacenski opened #566 "[ROS2] Sync Dashing & Eloquent branches so we can branch off for Foxy"
Right now, there's some features that must be updated to Eloquent from Dashing for feature parity.

Once that is done we can branch and release for foxy.

CC @Sarath18 if interested, this would be a big help. There's only a handful of changes.

[2020-05-07 21:04] SteveMacenski commented on #562
Please ask on ROS Answers, but you can turn off acceleration from being fused with the configurations files. there's not a way to reformat the EKF at this time to completely remove it

[2020-05-07 21:04] #562 closed, assigned to nobody

[2020-05-07 21:05] SteveMacenski commented on #550
https://docs.swiftnav.com/wiki/ROS_Integration_Guide

Swift nav also has a decent diagram.

[2020-05-07 21:36] Sarath18 commented on #566
I would be glad to help.

[2020-05-09 03:50] #566 closed, assigned to nobody

[2020-05-09 03:51] SteveMacenski opened #569 "Release ROS2 Foxy"

[2020-05-16 08:26] mabelzhang commented on #550
Thank you everyone for the explanations! I finally read everything here and understood what's going on.

Swift Nav indeed has a very nice diagram. Since I can't steal it and it'd be nice for the tutorial in this repo to be standalone, I made another in the PR.

[2020-05-17 00:43] jim-rothrock commented on #336
This problem still exists. I have an ekf_localization_node that has wheel odometry coming in at 15 Hz and IMU data coming in at 100 Hz. The node's "frequency" parameter is set to 100. Almost immediately, I get messages published to odometry/filtered that have duplicate timestamps. Decreasing "frequency" to 50 increases the amount of time before a duplicate timestamp is detected.

cartographer_ros

[2020-05-18 07:57] ayrton04 commented on #336
And I assume you have `predict_to_current_time` set to `true`?

[2020-05-18 21:43] jim-rothrock commented on #336
I didn't. After setting predict_to_current_time to "true", duplicate timestamps occur far less frequently, but one showed up after driving the simulated robot for about a minute.

[2020-05-19 08:18] ayrton04 commented on #336
Hrm, that makes me suspect something is up with the simulated time server, then. With `predict_to_current_time` set to _true_, every time we call `integrateMeasurements`, we capture the current time:

https://github.com/cra-ros-pkg/robot_localization/blob/799ad4481b8b16b12a50c34725dbbe4d82b4a84a/src/ros_filter.cpp#L584

We then take the difference between that time and the last measurement time, a

[2020-05-19 18:25] jim-rothrock commented on #336
That sounds plausible. The Gazebo simulation is running at 100 Hz, and ekf_localization_node's frequency is also set to 100 Hz. I commented out both of ekf_localization_node's input sources (wheel odometry and the IMU), and it still produces duplicate timestamps. When predict_to_current_time is _false_, the duplicate timestamps happen very frequently. When predict_to_current_time is _true_, they h

[2020-05-20 08:28] M-Redel opened #571 "robot_lacalization for ROS2 eloquent"
Hello is the packege optimized for the ROS2 Eloquent? because there is an branches

[2020-05-20 08:33] ayrton04 commented on #336
The node won't (or shouldn't, anyway) run with zero input sources. We set `initialized` to _true_ inside the core filter when we process our first measurement:

https://github.com/cra-ros-pkg/robot_localization/blob/799ad4481b8b16b12a50c34725dbbe4d82b4a84a/src/filter_base.cpp#L258

`processMeasurement`, in turn, is only called if we have values inside our measurement queue:

https://github.com/cra

[2020-05-20 17:00] jim-rothrock commented on #336
No, I didn't. I did not realize that the parameters are not deleted from the server. I ran roscore again, with the commented out input sources, and messages are no longer written to odometry/filtered.

[2020-05-20 17:09] SteveMacenski commented on #571
There’s an eloquent branch, yes.

[2020-05-22 09:01] Timple commented on #558
The [call for testing](https://discourse.ros.org/t/ros-noetic-call-for-testing) reveiled that this package was not yet released for noetic.
Now #557 is merged, would a release be in order?

[2020-05-22 18:51] SteveMacenski commented on #558
@ayrton04 I went to release and I get a warning about potential items to address and patches on various branches. I haven't made use of the bloom patches capabilities (are those documented anywhere?) so that makes me wary to doing it myself since I'm not sure if I need to change anything. Can you release for noetic on `melodic-devel`?

[2020-05-26 08:12] ayrton04 commented on #558
I am happy to bloom it. As I recall, I had to bloom, then manually add an `-O3` build flag somewhere in a release repo, and then bloom again. I'll sort it out early next week.

[2020-05-26 20:47] AGummyBear commented on #222
I have a branch that avoids the UTM zone boundary issue by utilizing an internal Local Cartesian coordinate system centered on the "origin" (first good gps) rather than UTM coordinates. I configured this as a parameter, so you can switch between using UTM and the Local Cartesian. The branch is in a fork here: https://github.com/Greenzie/robot_localization/tree/agummybear/local_cartesian_option

I'

[2020-05-27 05:39] Timple commented on #222
I would be against jumping the `utm` transform. @ayrton04 @frontw what is your use-case for this? The utm zones allow extending outside their boundary. All is fine as long as you don't cross them by a large amount (relative to UTM grid size).

Jumping can cause unexpected behavior. Imagine a path defined in `utm` at 10cm parallel to an `utm` border. Now if the robot crosses the zone for just one s

[2020-05-27 07:28] ayrton04 commented on #222
I've never been near a UTM boundary with a robot, so I've never been able to test/witness this directly, but I wanted to support robots that need to cross UTM boundaries by a wide margin and retain an accurate pose. We allow the user to transform the robot's EKF pose _back_ into GPS coordinates, and I have to imagine that this becomes less accurate as we move farther from the UTM boundary.

If I h

[2020-05-27 08:32] Timple commented on #222
I pretty much live on one :). REP-105 doesn't mention UTM. So how would one go about that?
If this package only implements REP-105 the `utm` transform would disappear in favor of `earth`. But then a new package will be required for people using UTM.
So my proposal is to still output `utm` next to `earth` (probably child of `earth`). And this discussion still needs an answer.

[2020-05-27 08:41] ayrton04 commented on #222
So I'm afraid I simply don't have the cycles to look into this. I don't use r_l myself these days, and I have pretty much zero time to do any real development on it. I'm happy to participate in this conversation as needed, though, and will (always) accept PRs.

[2020-05-27 08:49] Timple commented on #222
I like the REP-105 `earth` approach but we don't have a need for it, I consider it an nice to have if we're going to work on this.

We do have a need for this crossing UTM zones. @frontw, @AGummyBear: do you agree with my proposal to output multiple tf's if close to a boundary? (for backwards compatibility I'd keep the current `utm` as is)

[2020-05-27 11:00] Jconn commented on #222
The starting GPS position can be specified in gazebo with something like this in the world sdf model
[code]

in case anyone here uses gazebo and wants to mess with this feature

[2020-05-27 12:34] AGummyBear commented on #222
Outputting multiple TFs when near a zone boundary seems like it would put a fairly heavy burden on the consumers of those TFs in terms of knowing when to switch and which to use at any given time. Personally, I don't have a use-case for that.

I experienced this issue first-hand with the data-set that I posted the screenshots above. We have a robotic lawnmower and one of our lawns has a UTM bounda

[2020-05-27 14:40] Timple commented on #222
Ah, it was my understanding that the UTM zone was determined initially and never updated.

In that case, if I make multiple tf's optional but still the `utm` 'static' (only determined initially), your problems would also be over correct?

(Not saying Local Cartesian representations are not the way to go, I like the idea. Just trying to grasp the current situation. We need utm because of external c

[2020-05-27 19:16] AGummyBear commented on #222
*Edited to correct 55 km to 554 km*

I may not have been clear with my previous comment. The transformed location of the robot is what snaps about 554km to the West in my dataset. The UTM zone is indeed determined initially and never updated, specifically in the method `NavSatTransform::setTransformGps()`.

So here's what happens when the robot crosses a UTM boundary (using my data as an example,

[2020-05-28 06:04] Timple commented on #222
That is a very clear explanation, thanks!

I was under the impression that the UTM zone was determined in the beginning (which it is) and always kept identical (which it is not).

So if the zone was determined initially and kept constant for the remainder of operation you would be okay as well. Not sure how much work that would be. The `LLtoUTM` and `UTMtoLL` would need zone as in input then.

Alr

[2020-05-29 19:55] linzha0 commented on #546
hi, I've post a ROS Answers question here: https://answers.ros.org/question/353573/weird-initial-path-from-robot_localizations-ekf-node/
Please give me some suggestions and thanks for your help.

[2020-06-01 08:39] ayrton04 commented on #558
We may need to branch for noetic after all. This rosdep key doesn't exist for focal:

https://github.com/cra-ros-pkg/robot_localization/blob/melodic-devel/package.xml#L38

[2020-06-01 09:10] Timple commented on #558
You can have conditional dependencies for package format 3. Which is available at least as of kinetic.

[2020-06-01 12:27] sarath-vanga commented on #261
Hi @ayrton04 is there any update on this feature request? Me too looking for something similar.

[2020-06-01 12:41] ayrton04 commented on #261
I've ceased any major feature development on this package, as we are moving over to [fuse](https://github.com/locusrobotics/fuse). That package, by the way, handles relative poses very nicely. It admittedly needs to be documented more (and bloomed).

In any case, I would be happy to look at PRs for this if anyone is so inclined, but I don't anticipate addressing this myself. Sorry about that!

[2020-06-02 16:34] VictorBLop commented on #245
Thank you very much, the first idea solved the problem for me.

[2020-06-03 14:29] ayrton04 commented on #558
So I've not used the conditional dependencies before (clearly), but looking at the documentation, it looks like I need to be able to do this:

[code]

I'm sure I'm missing something obvious, but what conditions would we use in this case? I need to know what the name of that dependency is for the platform on which we're building. The build farm builds for more than just Ubuntu, so I need a conditio

[2020-06-03 14:32] SteveMacenski commented on #558
An example:
`<exec_depend condition="$ROS_PYTHON_VERSION == 2">python-numpy</exec_depend>`
`<exec_depend condition="$ROS_PYTHON_VERSION == 3">python3-numpy</exec_depend>`

[2020-06-03 14:38] ayrton04 commented on #558
Ah, that's a much better env var to use. Thanks.

[2020-06-03 16:17] ayrton04 commented on #558
https://github.com/ros/rosdistro/pull/25297

Once that gets merged and the buildfarm picks this up and (hopefully) builds it, I'll close this.

[2020-06-04 08:03] ayrton04 opened #574 "TF_REPEATED_DATA warning in Noetic"
I'm running the package test suite in Noetic, and I am seeing this getting spammed:

[code]

This is clearly a new warning, and I'm assuming it's due to [this](https://github.com/cra-ros-pkg/robot_localization/issues/336#issuecomment-629725698) common situation:

- Cycle 1: receive measurement from sensor with time stamp `t1`. Fuse measurement. Publish state at time `t1`.
- Cycle 2: receive measur

[2020-06-04 08:41] ayrton04 commented on #574
Started a discussion here:

https://github.com/ros/geometry2/issues/467

[2020-06-04 11:55] sarath-vanga commented on #261
Hi @ayrton04 fuse looks very interesting. Could you guide me to some ros examples on how it's used ?

[2020-06-04 12:01] ayrton04 commented on #261
Not at the moment, actually, no. We need to get a few example launch/config files in there, but it's been hard to find time for it. Hopefully we'll get to that soon!

[2020-06-04 17:45] SteveMacenski commented on #574
My feeling is that change in geometry2 was well intended, but shouldn't have been merged. That's a problem as time varying transformations in the presence of uncertainty may need to be updated. I wish TF2 also propagated covariance matrices.... maybe in TF3 ;-)

[2020-06-05 07:36] ayrton04 commented on #558
This is now complete. Note that we're tracking a different [issue](https://github.com/cra-ros-pkg/robot_localization/issues/574) with `tf2`, but I think the fix is on their end in this case.

[2020-06-05 07:36] #558 closed, assigned to ayrton04

[2020-06-05 18:31] #550 closed, assigned to ayrton04

[2020-06-17 11:27] #510 closed, assigned to ayrton04

[2020-07-09 11:40] #482 closed, assigned to nobody

[2020-07-17 19:38] SteveMacenski commented on #569
in progress

[2020-07-17 19:38] #569 closed, assigned to SteveMacenski

[2020-07-17 19:38] #571 closed, assigned to nobody

[2020-07-20 23:30] SteveMacenski commented on #555
Resolved in 3.1.1

[2020-07-20 23:30] #555 closed, assigned to ayrton04

[2020-07-20 23:31] SteveMacenski opened #580 "[ROS2] cppcheck fails on smart pointer macro inclusion"

[2020-07-21 07:57] ayrton04 commented on #580
I'll get my ROS2 environment set up and have a run at this.

[2020-07-21 08:15] ayrton04 commented on #580
Looks a lot like this issue:

https://github.com/ament/ament_lint/issues/116

[2020-07-21 11:40] RonaldEnsing commented on #524
I am running into this as well.

[2020-07-21 11:55] ayrton04 commented on #524
Try this?

https://github.com/cra-ros-pkg/robot_localization/pull/576

[2020-07-21 11:56] RonaldEnsing commented on #524
Yes, #576 works for me.

[2020-07-21 13:01] RonaldEnsing commented on #524
Will #576 be merged?

[2020-07-21 15:14] ayrton04 commented on #580
So here's the command the build farm is running:

[code]

Boiling that down to this, and running it on the file in question, yields the test failure we're seeing:

[code]

However, if I just include the `foxy` root include directory, it's fine:

[code]

So at the moment, it's not looking in the root ROS2 include directory when it runs `ament_cppcheck`, but that seems odd, because surely lots of pa

[2020-07-21 17:55] SteveMacenski commented on #580
(should we maybe just remove it and add the specific pointer definitions needed. 1 line replaced with 2 lines isn't that big of a deal to me and it just ends this problem)

[2020-07-21 18:55] ayrton04 commented on #580
Yeah, I'll do that tomorrow. If you want to fix it right now, feel free, but the build farm is at least happy for now.

[2020-07-21 19:01] SteveMacenski commented on #580
I'll wait for you, I wouldn't want to take away your opportunity to dust off your ROS2 environment ;-)

_One of us. One of us. One of us._

[2020-07-23 11:27] #580 closed, assigned to ayrton04, SteveMacenski

[2020-08-03 05:51] ibrahiminfinite opened #584 "Failed to meet update rate!"
Hi @ayrton04 ,

I am fairly new to the robot_localization package ,
I have set up my launch file based on provided example --> my  [file ](https://gist.github.com/ibrahiminfinite/97a82f0ce331601af3f913488944a666)

On launching the file i get the warning

I found that the warning is from the function

However , I do not understand the cause for this warning , if it is because of some parameter i ha

[2020-08-03 15:11] SteveMacenski commented on #584
Please ask on ROS Answers

[2020-08-03 15:11] #584 closed, assigned to nobody

[2020-08-18 06:29] xbcdbc opened #585 "How to use landmark（which has global pose）to update state？"
## Bug report

**Required Info:**

- Operating System:
  -
- Installation type:
  -
- Version or commit hash:
  -

#### Steps to reproduce issue

#### Expected behavior

#### Actual behavior

#### Additional information

[2020-08-18 08:19] ayrton04 commented on #585
This doesn't appear to be a bug. Please ask questions on answers.ros.org, and I'd ask for your patience. Thanks.

[2020-08-18 08:19] #585 closed, assigned to ayrton04

[2020-08-23 08:59] KarasCvs opened #586 "When calculate innovationSubset(z-Hx), why it's (measurementSubset - stateSubset)?"
https://github.com/cra-ros-pkg/robot_localization/blob/9277d982fa1a2d2a05eec4f59b4f8696ca903f1c/src/ekf.cpp#L100
https://github.com/cra-ros-pkg/robot_localization/blob/9277d982fa1a2d2a05eec4f59b4f8696ca903f1c/src/ekf.cpp#L164
I may get something wrong, but It seems like L164 only calculated (z - x) to me.
If innovationSubset means (z - Hx), shouldn't it be (measurementSubset - stateToMeasurementSu

[2020-08-23 10:48] ayrton04 commented on #586
First, keep in mind that `H` is a matrix of size `measurement_size x state_size`.  Let's imagine we have a measurement of size 3. The matrix would be 3x15, with 1s in the locations of the updated variables, and 0s elsewhere.

Given that, we could compute the innovation two ways:

1. `innovation = (measurement - H * full_state)`

This would yield a 3x1 - 3x15 * 15x1 -> 3x1 vector, which is correct.

[2020-08-23 13:06] KarasCvs commented on #586
Thank you for the explanation, now everything is clear.

[2020-08-23 13:06] #586 closed, assigned to nobody

[2020-08-24 01:12] improve100 opened #587 "Does the covariance is related to the velocity and acceleration?"
As I accelerate, I find that the covariance is related to my acceleration and my velocity.
I check the code found this:

double dFx_dP = (xCoeff * xVel + yCoeff * yVel + zCoeff * zVel) * delta +
                    (xCoeff * xAcc + yCoeff * yAcc + zCoeff * zAcc) * oneHalfATSquared;

double dFR_dP = (cpi * cpi * sr * pitchVel + cpi * cpi * cr * yawVel) * delta;

transferFunctionJacobian_(StateMembe

[2020-08-24 10:12] Timple commented on #587
Cross post: https://answers.ros.org/question/360182/does-the-covariance-is-related-to-the-velocity-and-acceleration/

[2020-08-24 10:22] ayrton04 commented on #587
I've been behind on my ROS answers attentiveness, but I'll try to catch up this week. Questions should only go there, thanks.

[2020-08-24 10:22] #587 closed, assigned to nobody

[2020-09-05 11:20] he-guo opened #589 "How to dynamically set "init_state"?"
I want to use the program to automatically set the initial state of the localization,and the init_state can only be set manually each time.
What should I do? Thank you very much

[2020-09-07 05:02] ANDUES opened #590 "CMake error when catkin_make"
When I build the robot_localization package from source, I got a CMake Error like this:

CMake Error at robot_localization/CMakeLists.txt:35 (find_package):
  By not providing "FindGeographicLib.cmake" in CMAKE_MODULE_PATH this
  project has asked CMake to find a package configuration file provided by
  "GeographicLib", but CMake did not find one.

  Could not find a package configuration file pro

[2020-09-07 05:57] ANDUES commented on #590
I used rosdep install --from-paths src --ignore-src -r -y solved the problem thx

[2020-09-07 05:57] #590 closed, assigned to nobody

[2020-09-10 09:06] ayrton04 commented on #589
Hi, would you mind asking this question on answers.ros.org? Thanks.

[2020-09-10 09:06] #589 closed, assigned to nobody

[2020-09-10 14:29] abojda opened #591 "Sign error in transferFunctionJacobian_"
I was just diving deeper into the math behind EKF and its implementation in robot_localization and I believe I found sign error in formula for transfer function Jacobian. I think that at line 327 In file ekf.cpp the correct formula should be:
`
"double dFY_dP = (sr * tp * cpi * pitchVel + cr * tp * cpi * yawVel) * delta;"`
instead of
`"double dFY_dP = (sr * tp * cpi * pitchVel - cr * tp * cpi * ya

[2020-09-10 17:04] ayrton04 commented on #591
I think you're right, good catch. The transfer function (ignoring the time delta term) is:

[code]

So then we'd have

[code]

Care to submit a PR?

Will go see if I still have this in my notebook from when I originally computed that.

[2020-09-11 07:36] abojda commented on #591
I got the same equation for dFYaw/dPitch.
Will submit a PR in a moment.

[2020-09-15 15:35] tgreier opened #593 "[ROS1] Diagnostic frequency monitor min/max values are 0."
https://github.com/cra-ros-pkg/robot_localization/blob/285a38614135f064ced8f2532530fca271eacd87/src/ros_filter.cpp#L1956

The min/max values input to the frequency monitor must be on heap (not stack). Pointers to those memory locations are used by the diagnostic monitor task and therefore can end up accessing stack memory (reads) when reading the min/max frequency thresholds.

[2020-09-15 16:03] ayrton04 commented on #593
Woof, that's been around since the beginning. Thanks for catching it. I'd welcome a PR to fix it!

[2020-09-16 08:56] ljburtz commented on #591
Hello and awesome to see an update. Do you know if this has an impact on the performance of the filter estimate? I have a deadline soon and wondering if I should update to this latest. Thanks for any input on the magnitude of the change/test results you might have done!

[2020-09-16 09:50] abojda commented on #591
Actually, I didn't run any tests, just noticed the problem when I was analytically calculating Jacobian matrix.

As far as I know, this issue shouldn't affect 2D case (most common case with mobile robots) as the whole part `v_yaw * cos(roll) * tan(pitch) * cos(pitch)^-1` is equal to 0 as `tan(pitch) = 0`, so the sign doesn't matter.

I think this could affect 3D localization, but can't say how muc

[2020-09-16 11:02] ljburtz commented on #591
I am indeed doing 3D (some slopes so pitch and roll are important)
Thank you so much for that quick answer.
And if I have some meaninfgul test to compare then I will share them here too!

[2020-09-18 02:15] reobaird commented on #574
Any updates on a timeline for fixing this? It's really causing a lot of noise for us and is making debugging / logging other stuff more difficult.

[2020-09-18 07:37] #591 closed, assigned to ayrton04

[2020-09-18 08:00] ayrton04 commented on #574
So my simple solution for this will be to add a parameter that allows the filter to repeat publication time stamps. However, I feel like that parameter should default to *false* for Noetic, but everything before Noetic should retain the old behavior for compatibility. @SteveMacenski, I'm thinking we're going to need a `noetic-devel`.

[2020-09-18 08:15] ayrton04 commented on #574
@reobaird, give [this](https://github.com/cra-ros-pkg/robot_localization/pull/595) branch a spin, if you have any cycles. Waiting to see if the warnings go away on the ROS buildfarm.

[2020-09-18 08:22] ayrton04 commented on #593
Oh! I just realized this was for ROS2. The ROS1 version uses [member variables](https://github.com/cra-ros-pkg/robot_localization/blob/melodic-devel/src/ros_filter.cpp#L133).

[2020-09-18 10:32] tgreier commented on #593
Ah, so this just got broke in ROS2? Is there a reason why they were changed to local variables in ROS2?
Any idea why those tests are failing in #594?

[2020-09-18 17:47] SteveMacenski commented on #574
I'm still not sure what the right answer is here. There's still discussions in the TF2 ticket. I don't want to be inflexible, but this feels to me like something that should be reverted given the pushback from the community in that ticket. I can't think of the last time a rebuke to a change had 8 :+1:'s on a comment.

I wouldn't want to merge anything here creating what I think is "bad" behavior u

[2020-09-21 12:29] sageh opened #596 "Local cartesian mode coordinate transforms mix geodetic altitude and Z coordinate"
## Bug report

The local cartesian mode is mixing geodetic altitude and local Z coordinate in NavSatTransform. E.g. in the `mapToLL` function we have:

[code]

Here latitude and longitude are first computed with Z zeroed out, and then Z is replaced with the geodetic altitude. However, the resulting latitude, longitude and altitude will refer to a different physical point than the original X, Y, Z

[2020-09-24 02:26] narutojxl commented on #590
Hi @ANDUES, my OS is ubuntu16.04 and kinetic,  after `rosdep install --from-paths src --ignore-src -r -y `,

	jxl@dell:~$ sudo apt-get install geographiclib-doc    geographiclib-tools
	geographiclib-doc 已经是最新版 (1.45-2)。
	geographiclib-tools 已经是最新版 (1.45-2)。
	jxl@dell:~$

then `catkin_make`:

	CMake Error at /usr/share/cmake-3.17/Modules/FindPackageHandleStandardArgs.cmake:164 (message):
	  Could N

[2020-09-24 03:31] narutojxl commented on #590
After uninstall `sudo apt-get remove --purge geographiclib-doc    geographiclib-tools `, then build from source geographiclib-r1.50.1, install in the default `/usr/local`, and modify CMakeLists.txt of robot_localization

#set(CMAKE_MODULE_PATH ${CMAKE_MODULE_PATH} "/usr/share/cmake/geographiclib/")
set(CMAKE_MODULE_PATH ${CMAKE_MODULE_PATH} "/usr/local/share/cmake/GeographicLib/") #jxl
`catkin_mak

[2020-09-27 09:20] Fanny-one opened #597 "odometry from robot_localizaton is not good"
Hi,
I'm trying  use robot_localization to fuse odometry and imu, But I meet some issues .I will provide my bag and paramer here.
[https://github.com/Fanny-one/fuse-odometry-and-imu](url)

the first issue:
when the robot stands still, position x an y of odometry from robot_localization will still move  a bit.

the second issue:
In my bag, I make the robot move forward 8m, but the result is about 8.

[2020-09-27 21:05] SteveMacenski commented on #597
Please don’t cross post from Answers. Closing.

[2020-09-27 21:05] #597 closed, assigned to nobody

[2020-09-30 02:57] Fanny-one opened #598 "filtered odometry is not accurate"
Hi,
I'm trying use robot_localization to fuse odometry and imu, But I meet some issues .I will provide my bag and paramer here.
https://github.com/Fanny-one/fuse-odometry-and-imu.

the ekf_params.yaml:

[code]

the first issue:
when the robot stands still, position x an y of odometry from robot_localization will still move a bit. For example, when the true x =0 , y = 0，but the result is （x= 0.0002

[2020-09-30 06:43] ayrton04 commented on #598
Please stop asking the same question [repeatedly](https://github.com/cra-ros-pkg/robot_localization/issues/597). All questions should be directed to answers.ros.org. If you have already asked there (and I see you have), I will answer it when I have time. I work on r_l on my own time, and I have very little free time to dedicate to it.

[2020-09-30 06:43] #598 closed, assigned to nobody

[2020-10-02 15:42] jinbae9875 opened #599 "How is Absolute Heading Reflected on Imu Data?"
Hi, I'm in my first co-op rotation and I'm working on using navsat_transform_node to transform GPS to odom frame. However, the magnetometer in our robot is unusable because of bad interference, so I was thinking I could take a GPS reading before and after traveling for a few meters and calculate the bearing from there. However, how can I take that bearing and turn it into an imu message (to set up

[2020-10-05 14:18] #599 closed, assigned to nobody

[2020-10-05 14:19] ayrton04 commented on #599
Hi there,

I meant to update this previously: we ask that all questions be directed to answers.ros.org. Thanks!

[2020-10-05 14:29] jinbae9875 opened #600 "Navsat_transform_node Without Magnetometer on Husky Gazebo Sim"
Hi, I'm working on using navsat_transform_node to transform GPS to odom frame. However, the magnetometer in our robot is unusable because of bad interference, so I wrote a node that takes an initial GPS coordinate, moves the robot for 5 meters, take another GPS coordinate, and calculate the yaw using the following script:

	y = np.sin(lon2-lon1) * np.cos(lat2)

	x = np.cos(lat1) * np.sin(lat2) - n

[2020-10-05 14:29] ayrton04 commented on #600
Hi there,

Please direct all questions to answers.ros.org. Thanks.

[2020-10-05 14:29] #600 closed, assigned to nobody

[2020-10-05 14:30] jinbae9875 commented on #600
Moving this to answers.ros.org

[2020-10-10 18:19] mjs973 opened #601 "Failed to meet update rate!"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source from git repo
- Version or commit hash:
  - HEAD of melodic-devel branch

#### Description

We are running the ekf_localization_node on a Clearpath Jackal.

Commit edc5bea3 causes the performance of the filter to be very poor, and the node continuously logs the warning "Failed to meet update rat

[2020-10-11 07:06] ayrton04 commented on #601
That does sound problematic. Given that you know the issue, can you submit a PR to fix it? Just make it a member variable and load the parameter once.

[2020-10-12 12:19] mjs973 commented on #584
If this is still a problem for you, take a look at issue #601 to see if it applies to your case. A code fix has been submitted for melodic.

[2020-10-12 19:19] #601 closed, assigned to ayrton04

[2020-10-14 09:04] keguo1119 opened #603 "Fusing the gps and imu datas, the z coordinate data he"
## Bug report

**Required Info:**

- Operating System:
  -  OS and version (e.g. Ubuntu 18.04)
- Installation type:
  -  from source
- Version or commit hash:
  -  melodic-devel, HEAD, 9277d982fa1a2d2a05eec4f59b4f8696ca903f1c

#### Steps to reproduce issue
I used the test1.bag to test the pkg performance and the z coordinate data has drifted as the follow pictures.
Can anybody explain why?
![Scree

[2020-10-14 09:12] ayrton04 commented on #603
Hi, all questions should be asked on answers.ros.org. Please post the config you are using when you ask your question.

[2020-10-14 09:12] #603 closed, assigned to ayrton04

[2020-10-14 11:30] keguo1119 commented on #603
![navsat_transform_template](https://user-images.githubusercontent.com/31883681/95983085-a0eea180-0e53-11eb-9f69-e8e05d3e5f61.png)
![ekf_template](https://user-images.githubusercontent.com/31883681/95983088-a1873800-0e53-11eb-91ea-f0da48711488.png)

[2020-10-14 11:33] ayrton04 commented on #603
Please post this question on answers.ros.org.

[2020-10-16 19:15] plafer opened #604 "Document the internal motion model"
## Feature request

#### Feature description

As discussed in the comments of [this answer](https://answers.ros.org/question/221837/robot_localization-ekf-internal-motion-model/?answer=221944#post-id-221944), the motion model equations should be documented in the package.

Note: You mentioned you couldn't get to it anytime soon. If you share the equations that we're used, I can submit a PR which u

[2020-10-20 09:08] mikel-zhobro commented on #377
Hey @ayrton04, how do you really imagine

1. Do you want to hold maps with objects from each SensorClass and use the topic name as key?
**Edit1**:  hash_tables instead of maps as they have O(1) complexity to read instead of O(L logN)  for normal maps where L is the stringth length and N the nr of sensors. Important as it has to happen for every callback.

2. Or create classes with static functions

[2020-10-20 09:23] mikel-zhobro commented on #22
Hi @ayrton04, I entered the IMU's unsecurity loop-hole at last.
The solution with using offsets to Interprate the IMU measurements

an offset. I'll refer to this as case A, because I'll have to come back to it.

is a little weird as they are not really transformations. After writing it down on paper it looks like we could avoid using offsets in general and rely only on transformations. Below I des

[2020-10-24 15:48] plafer commented on #604
I just realized that the equations we're right there in ekf.cpp, staring at me. For some reason I had assumed only the Jacobian was encoded, which makes no sense otherwise you wouldn't be able to properly update the mean estimate... My bad!

[2020-10-24 16:18] plafer opened #606 "Using autograd for internal motion and measurement model of ekf_localization_node"
## Feature request
We could have the users specify the motion and measurement models, and using some autograd library, automatically generate the jacobians.

#### Feature description

The current problems I see with the library is:
1. it uses a one-size-fits-all  motion model
2. it assumes that the measurement function observes state variables directly

Having the users specify the models would (m

[2020-10-25 16:57] BarzelS opened #607 "Eloquent-devel compilation issues"
## Bug report

**Required Info:**

- Operating System:
 18.04
- Installation type:
eloquent - debian
robot localization -from source
- Version or commit hash:
 eloquent-devel

#### Steps to reproduce issue
colcon build

#### Expected behavior
no compiling issues
#### Actual behavior

-```
-- stderr: robot_localization
In file included from /opt/ros/eloquent/include/geometry_msgs/msg/transform_stam

[2020-10-26 17:19] SteveMacenski commented on #607
Are you not compiling in C++14?

[2020-10-27 07:43] BarzelS commented on #607
I've printed the CMAKE_CXX_FLAGS in the main CMakeLists.txt
by : message(${CMAKE_CXX_FLAGS})

And it printed:
-std=c++14

[2020-10-27 15:03] mikel-zhobro commented on #222
utm_boundary_full.bag contains the sensor data and outputs of robot_localization
utm_boundary_filtered.bag contains only the sensor data, so can be used to play back into `robot_localization to test different configurations or changes

Hey @AGummyBear, could you provide the launch file for the bag too please?

[2020-10-27 15:12] AGummyBear commented on #222
@jotix16 Could you clarify what you want? You should only need to run `rosbag play <path-to-bag>` to get it going.

[2020-10-27 15:29] mikel-zhobro commented on #222
Sorry for the ambiguity. I wanted to know how the IMU and the GPS sensor are mounted relative to the base_link.

Edit1: I am able to play them already. I tried placing  them in the same position/orientation as the base_link, but was getting weird orientations.

[2020-10-27 16:11] AGummyBear commented on #222
I see. These are the transforms used:
[code]

[2020-10-27 18:06] SteveMacenski commented on #607
Ok, I no longer have a 18.04 machine to help debug, but if you find the root cause, we'd love a PR to resolve your issues!

[2020-10-27 18:08] SteveMacenski commented on #607
Keep in mind Eloquent goes out of support in about 4 days https://index.ros.org/doc/ros2/Releases/ so you won't receive any support from anyone from it after that point.

[2020-10-28 10:18] ayrton04 commented on #606
Thanks for your thoughts. The problem with specifying other models is that you'll likely have to do more than just implement a new filter class. Without looking at it too deeply, I think a lot of the measurement preparation steps would need to also be adjusted for each model.

I struggle with whether we want to implement this here, or encourage people to move to fuse:

https://github.com/locusrobo

[2020-10-28 10:22] ayrton04 commented on #22
Sorry, not ignoring this, but I haven't had the cycles to read over it. Will get to it when I can.

[2020-10-28 10:32] Timple commented on #606
I think such a transition would be boosted if not only more documentation was provided but a migration guide from robot_localization.

(I remember from the past that fuse only does 2D? But I cannot find that reference anymore).

[2020-10-28 10:37] ayrton04 commented on #606
It currently only has 2D models, true:

https://github.com/locusrobotics/fuse/tree/devel/fuse_models/src

...but adding 3D ones is pretty straightforward. But yes, agreed that it seems like an important feature and the documentation is needed. In any case, this post was about adding new kinematic models, and as long as we're adding new models, it seemed easier to add them to a package that support

[2020-10-28 17:16] BarzelS commented on #607
Thanks @SteveMacenski,
BTW, would you recommend moving back to Dashing due to that issue? Although eloquent is a newer version?
Given a situation where I have the option to work only with 18.04 because I work with Jetson TX2.
Thanks

[2020-10-28 17:54] SteveMacenski commented on #607
I think a newer jetpack is 20.04, but if I’m mistaken, yes Dashing would work.

Though remember docker exists....

[2020-10-28 18:00] BarzelS commented on #607
According to Nvidia;
20.04 is under planning, but no clear schedule yet, at least it won’t happen before 2021 H1.
https://developer.nvidia.com/embedded/develop/roadmap

2. I think in my case where perfomance and real time are important docker wont be a good choice.

3. So you are saying that the updates from dashing to eloquent are not imprtant and the end of life is more important?
Thanks

[2020-11-02 13:10] alme96 opened #608 "topic with state information"
Hi everyone,

I wanted to ask about the topic on which the ekf estimator publishes the estimated state vector.
If I run my system (made of a radar and an imu) I get the following topics:

/accel/filtered
/diagnostics
/imu
/odometry/filtered
/rosout
/rosout_agg
/set_pose
/tf
/tf_static
/ti_mmwave/radar_odom
/ti_mmwave/radar_scan
/ti_mmwave/radar_scan_markers
/ti_mmwave/radar_scan_pcl

The ekf_se no

[2020-11-02 13:22] ayrton04 commented on #608
Thanks for the question. However, we ask that all questions be directed to answers.ros.org. Thanks!

[2020-11-02 13:22] #608 closed, assigned to nobody

[2020-11-11 14:24] ayrton04 commented on #22
So first, thank you for the write-up. I haven't read back through this thread, as it's very old, and the code base will have changed a lot since this ticket was written.

Are you proposing a change to the package? Is there a use case that you are trying to solve that the package doesn't support?

[2020-11-12 10:54] ignaciotb opened #609 "UTM to map transform not being broadcasted anymore after GPS signal is lost"
Hi,
I'm not sure this is a bug, but we're working with an AUV and once we've got a GPS fix and the UTM to map transform, we dive and we'd like that transform to still be broadcasted during the dive. This doesn't seem to be the case. Is there a reason for it? And if so, is there a workaround to get this behavior on our setup?

**Required Info:**
Ubuntu 18.04
Binaries

[2020-11-12 11:10] ayrton04 commented on #609
Hi,

Thanks for the question. However, all questions should be asked on answers.ros.org.

[2020-11-12 11:10] #609 closed, assigned to ayrton04

[2020-11-12 11:19] ignaciotb commented on #609
You're right, thanks. I've posted the question here now
https://answers.ros.org/question/365405/utm-to-map-transform-not-being-broadcasted-anymore-after-gps-signal-is-lost/

[2020-11-13 15:54] wangshanpao1991 opened #610 "The problem when I try to fusing uwb & odom & imu"
## Feature request
I want someone can help me to answer why the initial state is very import when fusing different sensor message?
And how to realize that fusing sensor at any position in map?
#### Feature description
1.  In the application with UWB, the world frame is map frame provided by the anchors of UWB sets.
2.  The robot stands at a random position in the map when I begin the fusing proces

[2020-11-13 15:57] ayrton04 commented on #610
This seems a bit like a question, rather than a feature request. Can you ask it on answers.ros.org? If we can't figure out a solution, we can re-open this.

[2020-11-13 15:57] #610 closed, assigned to ayrton04

[2020-11-13 16:01] wangshanpao1991 commented on #610
Ok, thank you. By the way, could you give me some suggestion for this question?

[2020-11-13 16:02] ayrton04 commented on #610
I'm afraid I don't have the cycles to look at it right now, but I'll try to get over to ROS Answers again soon.

[2020-12-01 11:36] wienans opened #612 "UKF control of state vector missing?"
Hey Guys,

i was wondering if the ukf doesn't support control of the state vector or if it isn't implemented completely.
In ukf.ccp the function
`prepareControl(referenceTime, delta);`
is called which writes to the variable `controlAcceleration_`
but `controlAcceleration_` isn't used later in the code, or i can't find the position where the control is added.
in the ekf.cpp there is a block directl

[2020-12-02 08:19] kc944201 commented on #584
@mjs973 HI,
When I use ukf_localization_node to combine odometry and IMU data
the warning messages still logging on terminal

Could you help me solved this problem?
Thank you

[2020-12-02 09:18] ayrton04 commented on #584
Please direct all questions to answers.ros.org. If you have asked there, please be patient, and I will get to it as soon as I can.

[2020-12-04 12:48] ayrton04 commented on #612
Yeah, it should do something like that, though not exactly the same, because prediction is done very differently in the UKF. I'll mark this as a bug. Thanks!

[2020-12-09 04:38] bjajoh opened #614 "Ignoring odometry/gps with dual ekf example"
Hi,

I'm running the dual ekf example config with all valid data and it seems to be that the second global ekf is just ignoring the transformed position and not updating at all. Covariances are correct, the filtered corariance gets insanly large and still doesnt't update with the RTK position. The filtered and gps pose are really close together at the start and then drift away, it is simply never

[2020-12-09 11:09] ayrton04 commented on #614
Thanks for the question. However, all questions should be directed to answers.ros.org.

[2020-12-09 11:09] #614 closed, assigned to ayrton04

[2020-12-25 02:54] Fanny-one opened #616 "request full ekf derivation of the formula"
the full derivation of the formula

[2020-12-25 02:57] SteveMacenski commented on #616
Please ask on ROS Answers

[2020-12-25 02:57] #616 closed, assigned to nobody

[2021-01-08 18:33] acarrillo commented on #574
Howdy! Did this update to `robot_localization` ever make it out of the `ros-testing` apt repo? The stable `http://packages.ros.org/ros/ubuntu` repo seems to hold `2.6.8` as its latest version, whereas `ros-testing` has `2.7.1`:

[code]

I've noticed that the online sphinx docs [seem up to date](http://docs.ros.org/en/noetic/api/robot_localization/html/state_estimation_nodes.html#permit-corrected-p

[2021-01-08 20:26] ayrton04 commented on #574
I bloomed everything. I don't know if they did a sync yet or not.

[2021-01-08 20:40] ayrton04 commented on #574
Looks like the last Noetic sync was on the 30th of November.

https://discourse.ros.org/t/new-packages-for-noetic-2020-11-30/17641

I bloomed the package in mid-December, so you'll just need to wait for the Open Robotics folks to do the sync.

[2021-01-14 14:34] ghost commented on #555
Hi @SteveMacenski I am getting the same error when trying to install ros1_bridge.

![ros1_bridge_error](https://user-images.githubusercontent.com/45047410/104604653-90fd7e00-564b-11eb-9755-db09f59c8898.png)
For reference:

I am trying to install ros1_bridge inside ade. I have installed ros-dashing using Autoware.Auto and ros-melodic-desktop-full.

Do you know why I am getting this error, and how I

[2021-01-29 14:48] kosmastsk opened #619 "Robot_localization services /toLL and /fromLL respond with different result on the same data"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries
- Version or commit hash:
  - 2.6.9

#### Steps to reproduce issue
I am using the robot_localization package and in the terminal, I run the services `/fromLL` and `/toL`L for the same position. But the results do not agree. Specifically, running:
`rosservice call /robot/fromLL "ll_point:
  lat

[2021-01-29 16:09] ayrton04 commented on #619
Thanks for the report. Will fix this ASAP.

[2021-02-03 08:51] ayrton04 commented on #619
Fixed with https://github.com/cra-ros-pkg/robot_localization/pull/620. This doesn't appear to affect the foxy ROS2 branch, but the fix is now in melodic and noetic.

[2021-02-03 08:51] #619 closed, assigned to ayrton04

[2021-02-14 04:43] jola6897 opened #621 "UKF transfer function does not capture nonlinearity correctly"
## Bug report

**Required Info:**
- Version or commit hash:
melodic-devel branch as of hash a7da2f6ea29bb2606358438376fdce8b3461b5c2

#### Steps to reproduce issue
Check the `predict` function inside [ukf.cpp](https://github.com/cra-ros-pkg/robot_localization/blob/melodic-devel/src/ukf.cpp).

#### Expected behavior
The non-linear state transfer function is evaluated on each sigma point  individual

[2021-02-16 16:22] AppliedRobotics opened #622 "Ros rolling different time sources"
## Bug report

**Required Info:**

- Operating System:
 Ubuntu 20.04
- Installation type:
from source

#### Steps to reproduce issue
Install ros2 rolling and install robot localisation foxy branch

#### Actual behavior
I launch ekf node and a few times everything was okay, but than this issue appears:

[INFO] [launch]: All log files can be found below /home/nuc/.ros/log/2021-02-16-19-15-43-995821-

[2021-02-16 16:40] ayrton04 commented on #622
Can you try this branch and let me know if it's better?

https://github.com/cra-ros-pkg/robot_localization/pull/613

[2021-02-17 09:52] ayrton04 commented on #621
Nope, definite oversight on that front. The transfer function matrix formulation should really go away. Care to submit a PR that constructs the transfer function matrix for every sigma point? The computation expense will go up, but the behaviour will at least be correct.

[2021-02-18 13:19] AppliedRobotics commented on #622
I tried, still same error

[2021-02-23 08:00] Timple opened #625 "Release strategy"
I wanted to work on #222 but noticed the default branch is `melodic-devel`. But there is also a `noetic-devel` branch.

The bloom releases for melodic and noetic are also different.

Why the difference?
What ROS1 release should I target?
And will this fix/feature be back/forward ported to the other release?

[2021-02-23 09:04] ayrton04 commented on #625
As with many ROS packages, once a release is out, we really should shift development focus to bug fixes (though it obviously doesn't always go that way), and new features should go into the next release. This package has a branch for every ROS release since ROS Groovy, so we're carrying on with the same process that we always have.

But more importantly, there were changes to `tf2` in Noetic that

[2021-02-23 09:04] #625 closed, assigned to nobody

[2021-02-23 09:12] Timple commented on #625
Would it make sense to make noetic-devel the default branch in that case? Because that is what threw me off in the first place.

[2021-02-23 09:30] ayrton04 commented on #625
Sure, I can do that.

[2021-02-26 14:08] jola6897 commented on #621
Hi,

I added a pull request that should resolve this bug (#628). If you accept this pull request or implement  something similar you can close this issue :).

[2021-03-04 02:27] kuafuliu opened #629 "fuse rtk,imu,wheel odometry. can not It can't indicate AGV walking direction normally by navsat_transform_node"
## Feature request
* Operating System:
  melodic
* requirement：
fuse rkt imu wheel odometry
#### Feature description

I download melodic by https://github.com/cra-ros-pkg/robot_localization/tree/melodic-devel

launch
[code]
yaml
[code]

 I adjustment yaw_offset  in on place,through rviz  observation agv walking in a straight.
![2021-03-04 10-22-28 的屏幕截图](https://user-images.githubusercontent.com/2

[2021-03-04 05:15] jola6897 opened #630 "pose_rejection_threshold documention unclear"
## Add more details to the documentation of pose_rejection_threshold calibration parameters.
If I understand the code correctly  *_pose_rejection_threshold squared shall be the chi-square distribution quantile for a given degree of freedom in a chosen confidence.

#### Feature description
Given an input with a degree of freedom of 1 e.g. measured x-position, what confidence are you choosing? 0.05

[2021-03-06 17:48] jola6897 commented on #621
I had a closer look again, and I think that there is even a larger issue with the UKF. Since the euler angles that are used in the state vector belong to SO(3), this means that the sampling and the mean computation need to be adapted as they behave differently than the SE(3) state variables like position. I can recommend:
[code]
They are mainly concerned about quaternions in the state vector but t

[2021-03-07 06:27] ayrton04 commented on #629
Thanks for the question. However, we ask that all questions be directed to answers.ros.org.

[2021-03-07 06:27] #629 closed, assigned to ayrton04

[2021-03-09 14:15] ayrton04 commented on #630
The rejection threshold is a [Mahlanobis distance](https://github.com/cra-ros-pkg/robot_localization/blob/a2da33bb3aaa4b10358de391221fe0ed97b16f49/params/ekf_template.yaml#L117). The original PR is [here](https://github.com/cra-ros-pkg/robot_localization/pull/146).

In a 1D problem (we'll continue to use X in this example), it's effectively just an unsigned Z-score. We're measuring how many standa

[2021-03-09 18:47] jola6897 commented on #630
Thanks you a lot for the explanation.

[2021-03-18 16:27] Tdoe4321 commented on #267
I don't mean to dig up this 5 year old thread, but I'm running into the exact same issue. I'm running all the same sensors on my AUV and the same launch configs, but I'm setting all the sensor frame_id's to 'base_link'. It is my understanding that I don't need to generate transforms if this is the case, correct?

My Z filtered value is blowing up, even with a static z measurement value. Do I need

[2021-03-18 17:08] AxelCORNILLEAU opened #636 "Not providing "FindGeographicLib.cmake" in CMAKE_MODULE_PATH"
## Bug report

After installing GeographicLib1.51 on Jetson Xavier, CMakelist.txt points /usr/share/cmake/GeographicLib/ at set(CMAKE_MODULE_PATH ${CMAKE_MODULE_PATH} "/usr/share/cmake/GeographicLib/") while the installation of GeographicLib1.51 points /usr/local/share/cmake/GeographicLib/.
Replacing set(CMAKE_MODULE_PATH ${CMAKE_MODULE_PATH} "/usr/share/cmake/GeographicLib/") for set(CMAKE_MODULE

[2021-03-18 17:12] SteveMacenski commented on #636
Did you install using rosdep? If not, then we probably won't support you in it, there's a toolchain tested for a reason

Also, `latest` is not a valid version, please fill out the template with your actual info.

[2021-03-18 17:26] AxelCORNILLEAU commented on #636
I did not. I mostly raised this issue for people who will google the issue, as this is how most of people do. Also thx for the rosdep tip, I didn't used it.

[2021-03-18 17:55] SteveMacenski commented on #636
OK, closing - ROS Answers was probably the right place for this problem

[2021-03-18 17:55] #636 closed, assigned to ayrton04

[2021-03-22 09:50] ayrton04 commented on #267
This should probably have been a ROS Answers question, but as it's already here...

The sensor needs to be reporting data in the coordinate frame that you specify. If you tell the filter that a given sensor is in the `base_link` frame, then the data should be in that coordinate frame. A depth sensor is clearly not in the `base_link` (body) frame of the robot. It is relative to the surface of the s

[2021-03-30 13:09] Mingchi-Yeh opened #642 "EKF can't fusion pose0"
## Bug report

**Required Info:**

- Operating System:
  Ubuntu 18.04
- Installation type:
  from source

#### Steps to reproduce issue
I use ekf to fusion my odom0 (nav_msgs/Odometry) and pose0 (geometry_msgs/PoseWithCovarianceStamped) result , but the ekf result still like my odom0 result.
I try to use only odom0(nav_msgs/Odometry) and pose0 (geometry_msgs/PoseWithCovarianceStamped) result to ru

[2021-04-05 21:16] rakshith95 opened #644 "base_link with namespaces issue. "Could not obtain transform from base_link""
Hello,

[code]

The above are the relevant lines in my launch file, but when I try it to run it, there are warnings thrown and the functionality is not as expected. The warnings are as below:

[code]
I don't understand why these would come up since I am specifically assigning a base_link_frame. Why does it matter if "base_link" exists or not?

[2021-04-05 22:44] SteveMacenski commented on #644
Please look up answers to this question on ROS Answers, I'm sure you'll find it - else please ask a new question there with the pertinent information.

[2021-04-05 22:44] #644 closed, assigned to nobody

[2021-04-06 13:22] rakshith95 commented on #644
I have asked there , but I thought it would be pertinent here as well since the behaviour isn't expected.

[2021-04-07 06:33] miku54 commented on #607
Hello, I have the same problem as you. Have you solved it?

[2021-04-12 10:08] #222 closed

[2021-04-14 02:15] miku54 opened #650 "How does robot_localization implement tf conversion from / odom to base_link?"
## Bug report

**Required Info:**

- Operating System:
ubuntu18.04+ros2-eloquent
- Installation type:
 source
- Version or commit hash:
eloquent
#### Steps to reproduce issue

#### Expected behavior
1、star tf transformation from running "base_footprint" to the sensor
2、star the ekf_localization_node
#### Actual behavior
I found no odom or "odom_combined" in tf_tree, and I didn't set the conversion